<!-- Offline -->
<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <link rel="stylesheet" type="text/css" href="styles/ss19-styles.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/styles.css">
    <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>

<body> -->
    <!-- END Offline -->
    <!-- Live Content -->
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/styles.css">
      <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/ss19-styles.css">
    <!-- END Live Content -->
    <div class="ss19-landing-container">
        <div class="ss19-section intro">
            <div class="title-image"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/pumpitup_orange_V2.png" style="width: 100%; max-width: 448px"></div>
           <div class="ss19-video large">

                 <iframe src="https://player.vimeo.com/video/319837339" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
            </div>


            <div class="ss19-copy">This season at Agent Provocateur, we call on you to own your sensual side, love your body and be unapologetic in your sexuality</div>
        </div>
        <div class="ss19-section story_one">
            <div class="ss19-header pink">STRETCH THE RULES</div>
           
            <div class="ss19-cta "><a class="pink" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
            <div class="ss19-large-image"><a class="pink" href="{{store direct_url='marty-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_MARTY.jpg" style="width: 100%;"></a>
                <div style="text-align: right; max-width: 983px; width: 100%;margin: auto;" class="range-name"><a href="{{store direct_url='marty-lingerie-set'}}">Marty</a></div>
            </div>
        </div>
        <div class="ss19-section">
            <div class="triplet-carousel">
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_BRIE_V2.jpg">
                    <div class="range-name">Brie (Coming Soon)</div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CHESSIE-BLACK_STELLINE-SILVER_HINDA-FUSCHIA.jpg"></a>
                    <div class="range-name">Hinda (Coming Soon)</div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_BRIE_V1.jpg">
                    <div class="range-name">Brie (Coming Soon)</div>
                </div>
                <div>
                    <a class="pink" href="{{store direct_url='nadina-full-cup-bra-top-black'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V1.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='nadina-full-cup-bra-top-black'}}">Nadina</a> & <a href="{{store direct_url='felinda-thong-green'}}">Felinda</a></div>
                </div>
                <div>
                    <a href="{{store direct_url='pennie-body-red-and-white'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_PENNIE_ELVAH.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='pennie-body-red-and-white'}}">Pennie</a> & <a href="{{store direct_url='elvah-bodice-black'}}">Elvah</a></div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_LAURELIE.jpg">
                    <div class="range-name">Laurelie (Coming Soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='chessie-dress-black'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CHESSIE-BLACK_STELLINE-SILVER_HINDA-FUSCHIA_JETT.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='chessie-dress-black'}}">Chessie</a></div>
                </div>
                <div>
                    <a href="{{store direct_url='pennie-trouser-red-and-white'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_LAURELIE_FEE_PENNIE.jpg"></a>
                    <div class="range-name">Fee (Coming soon) & <a href="{{store direct_url='pennie-trouser-red-and-white'}}">Pennie</a></div>

                    
                </div>
            </div>
        </div>
        <div class="ss19-section small-video">
            <div class="ss19-video small_embed">
                <iframe src="https://player.vimeo.com/video/319840152" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
            </div>
            <div class="range-name"><a class="pink" href="{{store direct_url='chessie-dress-black'}}">Marty</a></div>
        </div>
        
        <div class="ss19-section full btsBlock">
            <div class="ss19-header compact">Flex Appeal</div>
            <div>
                <div class="bts-carousel">
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/1.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/2.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/3.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/4.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/5.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/6.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/7.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/8.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/9.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/10.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/11.png">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/12.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/13.jpg">
                    </div>
                   
                </div>
                
            </div>
        </div>
        <div class="ss19-section two">
            <div class="ss19-header green">FIND YOUR RHYTHM</div>
            <div class="ss19-copy">Express yourself through movement and dance like no one is watching. Find your fire and what inspires you, and show the world who you are.</div>
            <div class="ss19-cta"><a class="green" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
            <div class="single-carousel">
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_FEE_CLEA_V1.jpg">
                    <div class="range-name">Clea (Coming Soon) & Fee (Coming Soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='cruz-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CRUZ.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='cruz-lingerie-set'}}">Cruz</a></div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CARDI.jpg">
                    <div class="range-name">Cardi (Coming Soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='fransesca-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_FRANCESCA_EDITA.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='edita-lingerie-set'}}">Edita </a>&<a href="{{store direct_url='fransesca-lingerie-set'}}"> Fransesca</a></div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_JETT_ULARA.jpg">
                    <div class="range-name">Ulara (Coming Soon) & Jett (Coming Soon)</div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_HINDA-FUSCHIA.jpg">
                    <div class="range-name">Hinda (Coming Soon)</div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_QUIN.jpg">
                    <div class="range-name">Quin (Coming Soon)</div>
                </div>
            </div>
        </div>
   <div class="ss19-section flex-box">
        <div class="half large" style="width: 50%">
            <img style="width: 100%;" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_FEE_CLEA_V2.jpg">
            <div class="range-name">Clea (Coming Soon) & Fee (Coming Soon)</div>
        </div>
        <div class="half small" style="width: 49%;box-sizing: border-box; ">
            <a href="{{store direct_url='felinda-thong-green'}}"><img style="width: 100%;/* padding-left: 144px; */" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg"></a>
            <div class="range-name"><a href="{{store direct_url='lingerie/felinda-thong-green'}}">Felinda</a></div>
        </div>
    </div>
        <div class="ss19-section small-video">
            <div class="ss19-video small_embed">
                <iframe src="https://player.vimeo.com/video/319839341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
            </div>
            <div class="range-name"><a class="pink" href="{{store direct_url='chessie-dress-black'}}">Chessie</a>, <a class="pink" href="{{store direct_url='nadina-full-cup-bra-top-black'}}">Nadina</a> & <a class="pink" href="{{store direct_url='felinda-thong-green'}}">Felinda</a></div>
        </div>
        <div class="ss19-section full para">
            <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-LAYOUT_SINGLE-SPS-desktop-bottom.jpg" style="width: 100%;     top: 5px;
    position: relative;">
        </div>
        <div class="ss19-section full parallax2">
        </div>
        
 <div class="ss19-section flex-box2">
       <div class="half2 small2" style="box-sizing: border-box; ">
            <a href="{{store direct_url='felinda-range'}}"><img style="width: 100%;/* padding-left: 144px; */" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_FELINDA-GREEN.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='felinda-range'}}">Felinda</a></div>
        </div>
        <div class="half2 large2">
            <a href="{{store direct_url='ettie-harness-red'}}"><img style="width: 100%;" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_LENITA_ETTIE.jpg"></a>
                    <div class="range-name">Lenita (Coming Soon) & <a href="{{store direct_url='ettie-harness-red'}}">Ettie</a></div>
        </div>
     
    </div>
     
        <div class="ss19-section small-video">
            <div class="ss19-video small_embed">
                <iframe src="https://player.vimeo.com/video/319837619" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
            </div>
                    <div class="range-name">Lenita (Coming Soon) &<a href="{{store direct_url='ettie-harness-red'}}"> Ettie</a></div>
        </div>
        <div class="ss19-section fullBlock gifing">
            <div class="inner padded">
                <div class="half">
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/round-gif-bts-content-ss19-ap_v2.gif" style="width: 100%;">
                </div>
                <div class="half">
                    <div class="ss19-header compact">FLOOR PLAY </div>
                    <div class="ss19-copy">Relish the rewards of your elevated energy by moving at a higher frequency, pushing the boundaries and making power moves.</div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ss19-section two padded">
            <div class="ss19-header pink">EXPRESS YOURSELF</div>
            
            <div class="ss19-large-image"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CHELSIE.jpg" style="width: 100%; max-width: 983px">
                <div class="range-name">Chelsie (Coming Soon)</div>
            </div>
        </div>
        <div class="ss19-section large-carousel">
            <div class=" slick-arrow2 slick-prev"></div>
            <div class="triplet-carousel pink">
                <div>
                   <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_EBBY.jpg">
                    <div class="range-name">Ebby (Coming Soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='zadi-body-blue'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_ZADI.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='zadi-body-blue'}}">Zadi</a></div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_ISMAY.jpg">
                    <div class="range-name">Ismay (Coming Soon)</div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_ULARA.jpg">
                    <div class="range-name">Ulara (Coming Soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='perry-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_PERRY_XANDRIA_V1.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='perry-lingerie-set'}}">Perry</a></div>
                </div>
                <div>
                    <a href="{{store direct_url='perry-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_PERRY_XANDRIA_V2.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='perry-lingerie-set'}}">Perry</a></div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_LYSIANNE.jpg">
                    <div class="range-name">Lysianne (coming soon)</div>
                </div>
                <div>
                    <a href="{{store direct_url='dora-lingerie-set'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_DORA.jpg"></a>
                    <div class="range-name"><a href="{{store direct_url='dora-lingerie-set'}}">Dora</a></div>
                </div>
                <div>
                    <a href="{{store direct_url='veronika-harness-black'}}"><img src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_CARDI_VERONIKA.jpg"></a>
                    <div class="range-name">Cardi (coming soon) & <a href="{{store direct_url='veronika-harness-black'}}">Veronika</a></div>
                </div>
            </div>
        </div>
        <div class="ss19-section small-video">
            <div class="ss19-video small_embed">
                <iframe src="https://player.vimeo.com/video/319838660" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
            </div>
            <div class="range-name"><a href="{{store direct_url='fransesca-lingerie-set'}}">Fransesca</a></div>
        </div>
        
        <div class="parallax">
            <div>
                <div class="ss19-header outro compact"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
            </div>
        </div>
        <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-MOBILE.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br />Spring Summer</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Live Content -->
    <!--     <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/ss19-landing.bundle.js"></script>
 -->
    <!-- END Live Content -->

    <!-- Offline content -->
    <script type="text/javascript">
    </script>
</body>

</html>
<!-- END Offline content