section.bra-shapes-container {
    max-width: 1090px;
    margin: auto;
    text-align: center;

    .carousel {
                    @media only screen and (max-width: 768px) {

    padding: 0 30px;
}

.slick-arrow {
    position: absolute;
    top: 42%;
        &.slick-prev {
    left: 0;
}
        &.slick-next {
    right: 0;
}
}
        .shape-container {
            @media only screen and (min-width: 769px) {
                border: 5px solid white;
                display: inline-block;
                    margin: 20px 0;
            }

            img {
                @media only screen and (min-width: 769px) {
                    width: 100%;
                    max-width: 350px;
                }
            }
        }


    }
}