$error-red: red;

input {
    border: 1px solid;
    color: #000;
}

.inch {
    display: none;
}

.error {
    color: $error-red;
    line-height: 30px;
    height: 20px;
    font-size: 10px;
}

.tip {
    font-weight: lighter;
    font-size: 11px;
    margin: 8px 0;
    // text-align: center;
}

.bra-calculator-container {
    // margin: 40px 0;
    background-color: #D8D8D8;
    padding: 10px;
    max-width: 1393px;
    width: 100%;
    margin: auto;
    min-width: 320px;
                @media screen and (min-width: 769px) {

    padding: 50px;
}
      .title {
        text-transform: uppercase;
    }
    .question {
        margin: 20px 0;

        label {
            display: block;
        }

        input {
            max-width: 360px;
            padding: 15px 5px;
            width: 100%;
        }
    }

    div.cta {
        display: inline-block;
        max-width: 360px;
        padding: 10px 30px;
        text-align: center;
        background-color: black;
        color: white;
       margin-bottom: 10px;
       font-size: 13px;
       font-style: oblique;
       line-height: 28px;
       letter-spacing: 1.62px;
       width: 100%;
    }

    
}
.units {
        width: 100%;
        max-width: 180px;
        border: 1px solid;
        border-radius: 50px;
        display: flex;
        margin: 40px auto;
        background-color: white;

        .tab {
                padding: 12px;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 22px;

            &.selected {
                background-color: #000;
                color: #fff;
                width: 75%;

            }
        }
    }



.size-result {
    padding: 20px 0 99px 0;
    height: 30px;
    font-weight: bold;
    font-size: 33px;
}

.calculator {
    width: 100%;
    max-width: 880px;
    margin: auto;

           @media screen and (max-width: 768px) {
text-align: center;
}

    @media screen and (min-width: 769px) {
    display: flex;

}
    .calculator-fields {
        max-width: 360px;
margin: auto;
            @media screen and (min-width: 769px) {
        width: 50%;
}
       @media screen and (max-width: 768px) {
margin: 20px auto;}    
    }


    #bra-size {
        max-width: 360px;
margin: auto;
                    @media screen and (min-width: 769px) {

            width: 50%;
              align-self: center;
    text-align: center;
    margin-top: 89px;        }
  
    }
}