.tables{
	table{
		width: 100%;
		max-width: 500px;
        display: block;
        margin: 30px 0;
	}
	table, th, td {
    border: 0.2px solid black;
    border-collapse: collapse;
    text-align: center;
	}
	td {
    width: 100px;
    max-width: 100%;
    &.hover {
    background:pink;
}	}
}

.switch {
    width: 100%;
    max-width: 150px;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    margin: 40px 0;

    .tab {
        padding: 10px;
        border-radius: 50px;
        width: 50%;
        text-align: center;

        &.selected {
                background-color: #000;
    color: #fff;
    width: 75%;
        }
    }
}