<div id="aw17-teaser-popup">
	<div class="inner">
			<form method="post" class="data-capture" action="https://www.pages02.net/agentprovocateur/Data_Capture_GenericTeaserVideoAW17/Form_videoAW17" pageId="7524414" siteId="322379" parentPageId="7524413" >
		        
		        <h1>SIGNED, SEALED, DELIVERED</h1>
		        <p class="intro-copy">
		        	Exclusive offers and style inspiration direct to your inbox.
		        </p>
		        <div id="form-fields">
		        	<p class="shopping-for">SHOPPING FOR:<input type="radio" name="Gifting" id="control_COLUMN143_1" label="Gifting" value="Female" CHECKED ></td><label for="control_COLUMN143_1">Myself</label><input type="radio" name="Gifting" id="control_COLUMN143_0" label="Gifting" value="Male"><label for="control_COLUMN143_0">Someone else</label></p>
		        <div id="errorMessageContainerId" class="formErrorMessages" style="display: none;">Please enter a valid email address</div>

				<p id="email">
					<span>EMAIL:</span><input type="text" name="Email" id="control_EMAIL" label="Email" class="email textInput defaultText" placeholder="Enter your email*">
				</p>

				<p class="birthday">
					<span style="position: relative; top: 1px; letter-spacing: 2px; ">D.O.B:</span>
					<select name="day" id="bday-day" class="minimal padding exclusive_popup_18">
					<option value="01" selected style="color: #888;">Day</option>
				</select>
				<select name="month" id="bday-month" class="minimal padding exclusive_popup_18">
					<option value="01" selected>Month</option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select>
				<select name="year" id="bday-year" class="minimal exclusive_popup_18">
					<option value="1901" selected>Year</option>
				</select></p>
			</div>
				<br />
				<input type="hidden" name="Gender_SEGMENT" id="control_COLUMN109" label="Gender_SEGMENT" class="textInput defaultText">
				<p class="fine-print"><input type="checkbox" name="consent" id="control_COLUMN143_2" label="Gifting" value="Female"><span>By ticking this box, you’re accepting our <a href="{{store direct_url='privacy-policy'}}" target="_blank">Privacy policy</a><br class="line-break-mobile" />and are confirming that you are 18 or over.</span></p>                          

                <input type="submit" class="defaultText buttonStyle cta" value="Sign up">

                        				                        <p id="terms-error"></p>

				<!---<p class="no-thanks">No thanks</p>-->

				
				<input type="text" name="Website" id="control_COLUMN119" label="Website" class="textInput defaultText" style="display: none;">

				<!-- date -->
				<input type="hidden" name="videoAW17_CRM" id="control_COLUMN172" value="mm/dd/yyyy">

				<!-- birthday -->
				<input type="hidden" name="Date_of_birth" id="control_COLUMN18" label="Date_of_birth" value="mm/dd/yyyy">

				<input type="hidden" name="formSourceName" value="StandardForm">

				<!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
				<input type="hidden" name="sp_exp" value="yes">

			</form>
		</div>
</div>

<style>
	html {
	overflow-y: hidden; }

p span {
    margin-right: 20px;
}

   #aw17-teaser-popup .inner {
    margin: -5px 20px;
    height: 100vh;
}

    @media only screen and (max-width: 480px) {
    	select {
    		margin: 0 7px 0px 0px;}
}
   /*@media only screen and (max-width: 420px) {
    	select {
    		    width: 22.4%;}*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
		select {
    		width: 23.7%;}
}


	
	@media only screen and (max-width: 989px) {
	  .page-empty {
	    height: 1000px !important;
	    /*overflow-y: scroll;*/ } }
	
	    @media only screen and (max-width: 1440px) {
	      #aw17-teaser-popup p.more {
	        margin-top: 4px;
	        margin-bottom: 10px; } }
	@media only screen and (max-width: 767px) {
		#aw17-teaser-popup p.more {
		font-size: 10px; }
		#aw17-teaser-popup h1 {
		font-size: 14px;
		} 
	}
	@media only screen and (max-width: 320px) {
	#aw17-teaser-popup p.more {
	font-size: 10px; } 
	}
	   p.birthday {
    -webkit-margin-before: 15px !important;
}
/*p.shopping-for {
    -webkit-margin-after: 10px !important;
}*/
p#email {
    -webkit-margin-before: 0;
}
	#aw17-teaser-popup .email {
	  width: 84%;
	  margin: auto;
	  height: 44px;
	  text-align: left !important;
	  color: #000 !important;
	  text-align: center;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 13px;
	  background-color: #ffffff;
	  margin: 1px 0px 7px 6px;
	  padding: 8px;
	  border: 1px solid transparent;
	      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
	      border-radius: 0;}
	  @media only screen and (max-width: 480px) {
	  	#aw17-teaser-popup .email, .input-text, select {font-size: 12px !important;}
	  	  #aw17-teaser-popup .email {
    width: 78%;}
	  }
	
	#aw17-teaser-popup .email::-webkit-input-placeholder {
	  /* Chrome/Opera/Safari */
	  color: #777; }
	#aw17-teaser-popup .email::-moz-placeholder {
	  /* Firefox 19+ */
	  color: #777; }
	#aw17-teaser-popup .email:-ms-input-placeholder {
	  /* IE 10+ */
	  color: #777; }
	#aw17-teaser-popup .email:-moz-placeholder {
	  /* Firefox 18- */
	  color: #777; }
	  #aw17-teaser-popup h1 {
	  	font-size: 20px;
	  	font-weight: unset !important;
	  }
	  	 

/*	  @media only screen and (max-width: 480px) {
	  	#aw17-teaser-popup .cta {
    		margin: 0;
    		width: 100%;
    		
	    	}
}*/
	#aw17-teaser-popup .cta:hover {
	  cursor: pointer;
	  color: #000 !important;
	  background-color: #FFF !important; }
	#aw17-teaser-popup .fine-print {
	    font-size: 10px !important;
    margin-bottom: 0;
    line-height: 20px;
    height:20px;
    width: 100%;
    -webkit-margin-before: 0px;
        color: #767676;
}
#aw17-teaser-popup .fine-print a {
	    color: #767676;
	    }


	  @media only screen and (max-width: 400px) {
	  #aw17-teaser-popup .fine-print {
	    	margin-left: unset;}
}
	input[type='radio'] {
	  display: none; }
	label {
	  color: #000;
	  display: inline-block !important;
	  width: auto !important;
	  position: relative;
	  padding-left: 22px;
      padding-right: 5px;
	  margin-bottom: 10px;
	  margin-left: 14px;
	  margin-top: 30px;
	  color: #000;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 13px;
	  letter-spacing: 0.5px; }
	  @media only screen and (max-width: 400px) {
	  		  label {font-size: 13px;}
	}
label:before {
    position: absolute;
    display: block;
    content: ' ';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: transparent;
    left: 0;
   border: 1px solid;
    vertical-align: top;
}
	input:checked + label:before {
	  background-color: #000;
	  border: 2px solid #fff;}
	#terms {
	  color: #FFF !important;
	  text-align: center; }
	
	.uil-rolling-css {
	  width: 200px;
	  height: 200px;
	  margin: auto; }
	.uil-rolling-css > div {
	  width: 200px;
	  height: 200px;
	  position: relative;
	  -ms-animation: uil-rolling-anim 1s linear infinite;
	  -moz-animation: uil-rolling-anim 1s linear infinite;
	  -webkit-animation: uil-rolling-anim 1s linear infinite;
	  -o-animation: uil-rolling-anim 1s linear infinite;
	  animation: uil-rolling-anim 1s linear infinite; }
	.uil-rolling-css > div div {
	  position: absolute;
	  width: 200px;
	  height: 100px;
	  border-radius: 1000px 1000px 0 0;
	  border-color: #FFF;
	  border-style: solid;
	  border-width: 40px;
	  border-bottom-width: 0; }
	.uil-rolling-css > div div:nth-of-type(2) {
	  -ms-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
	  -moz-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
	  -webkit-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
	  -o-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
	  transform: translate(0, 50px) rotate(54deg) translate(0, -50px); }
	#loader {
	  width: 100%;
	  text-align: center;
	  left: 0;
	  right: 0; }
#errorMessageContainerId {
    width: 100%;
    color: #FF0000;
    font-size: 9px;
    margin-left: 72px;
}
@media only screen and (max-width: 320px) {
	#errorMessageContainerId {
    
    margin-left: 40px;
}
}
	#buying {
	  margin-bottom: 15px; }
	/* NEW! */
	body {
	  margin-top: 0 !important;
	  padding: 0 !important;
	  height: 1000px;
	  width: 100%; 
	  /*max-width: 500px;*/
	  margin: auto;}
	#aw17-teaser-popup {
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: #feded3;
	  /*text-align: center;*/
	  }
	  @media only screen and (max-width: 989px) {
	    #aw17-teaser-popup {
	      /*height: 1000px;*/
	      overflow: hidden;
	      margin-bottom: 300px; } }
	.tp__left {
	  position: absolute;
	  left: 0;
	  height: 100%;
	  width: 50%;
	  margin: auto;
	  z-index: 1;
	  padding: 0;
	  opacity: 1;
	  transition: opacity 0.2s ease-in-out; 
		background-color: #feded3;
	}
	  .tp__left .inner {
		    width: 60%;
		    padding-right: 0;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateY(-50%) translateX(-50%); 
		}
	    @media only screen and (max-width: 989px) {
	      .tp__left .inner {
	        padding-left: 0 !important; 
width: 100%;
	        } }
	    .tp__left .inner img {
	      display: block;
	      width: 100%; }
	  .tp__left select {
	    -webkit-appearance: none;
	    appearance: none;
	    border: 0px solid #000;
	    border-bottom: 1px solid #000;
	    border-radius: 0;
	    background: transparent;
	    margin: 0 10px;
	    display: inline-block;
	    color: #777; }
	  @media only screen and (max-width: 989px) {
	    .tp__left {
	      width: 100% !important;
	      height: auto !important;
	      padding-left: 30px !important;
	      padding: 30px;
	      display: block;
	      position: static; }
	      .tp__left .inner {
	        position: static;
	        transform: translateY(0); } }
	.tp__right {
	  position: absolute;
	  right: 0;
	  height: 100%;
	  width: 50%;
	  z-index: 0; }
	  @media only screen and (max-width: 989px) {
	    .tp__right {
	      height: auto; } }
	  .tp__right img {
	    display: block;
	    height: 100%; }
	    @media only screen and (max-width: 989px) {
	      .tp__right img#tp__main-img {
	        display: none; } }
	    @media only screen and (min-width: 990px) {
	      .tp__right img#tp__mobile-img {
	        display: none; } }
	    @media only screen and (max-width: 989px) {
	      .tp__right img#tp__mobile-img {
	        width: 100%; } }
	  @media only screen and (max-width: 989px) {
	    .tp__right {
	      width: 100%;
	      display: block;
	      position: static; } }
	#aw17-teaser-popup .no-thanks {
	  letter-spacing: 2px;
	  font-size: 10px;
	  margin-bottom: 30px; }
	  #aw17-teaser-popup .no-thanks:hover {
	    cursor: pointer; }
@media only screen and (max-width: 989px) {
	label {
		margin-top: 0;
	}
	p.birthday span {
		
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	#buying {
		margin-top: 10px;
	} 	
}
@media only screen and (max-width: 320px) {
	#aw17-teaser-popup p {
	font-size: 10px !important;
	-webkit-margin-before: 5px;
	}
	.signup-overlay .iframe-wrapper {
	    height: 62%;
	}
label {
    padding-left: 13px;
    font-size: 11px;
}
	
	select {
	    height: 40px;
	}
}

.signup-overlay .iframe-wrapper {
      height: 390px !important;
  }

#aw17-teaser-popup .fine-print {
    font-size: 10px !important;
    margin-bottom: 0;
    line-height: 12px !important;
    height: 20px;
    width: 100%;
    -webkit-margin-before: 0px;
    color: #767676;
        margin-left: 16%;
            margin-top: 10px;

}

#aw17-teaser-popup .cta {
    margin-left: 15%;
}
/*input[type="checkbox"] {
 
}*/
.fine-print span {
    margin-left: 12px;
    display: inline-block;
    font-size: 9px;
}
	#aw17-teaser-popup .cta {
    width: 50%;
    min-width: 180px;
    border: 0px solid #FFF;
    border-radius: 0;
    color: #FFF !important;
    padding: 10px;
    background-color: #000;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    display: block;
    transition: all 0.2s ease-in-out;
    height: 44px;
    margin-top: 5px;
}


.fine-print input[type="checkbox"]:checked {
    content: "@";
    background-image: url(https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/check-symbol.svg);

    background-size: contain;
}
.fine-print input[type="checkbox"] {
    position: unset;
    left: unset;
    -webkit-appearance: unset;
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    vertical-align: top;
    margin-top: 0;

}

#terms-error {
    color: #FF0000;
    letter-spacing: 0.1px !important;
    font-size: 9px !important;
    margin-left: 72px;
}

</style>

<script>
	//Converted from webpack version
	$(function($){
		var form = (function(){
			function generateSelectOptions(){
				for (var i = 1; i < 32; i++) {
					if (i < 10) {i = '0' + i}
					$('#bday-day').append($('<option value="'+ i +'">'+ i +'</option>'));
				}
				for (var y = 2000; y > 1916; y--) {
					$('#bday-year').append($('<option value="'+ y +'">'+ y +'</option>'));
				}
			}
			function validate(email, birthday){
				var emailRegEx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				var bdayRegEx = /^\d\d\/\d\d\/\d\d\d\d$/;
				if (!emailRegEx.test(email)) {
					showError('email');
					return false;
				}
				if (!bdayRegEx.test(birthday)) {
					console.log(birthday);
					showError('birthday');
					return false;
				}
				return true;
			};
			function showError(err){
				if (err === 'email') {
					$('#errorMessageContainerId').fadeIn();
					document.getElementById("control_EMAIL").style.borderColor = "#dc153d";
				}
			};
		/*	function showError(){
			$('#errorMessageContainerId').fadeIn();
		}
		function validate(email){
			var emailRegEx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			if (!emailRegEx.test(email)) {
				
				showError();
				return false;
			}
			return true;
		};*/

		               function isChecked() {
    var x = document.getElementById("control_COLUMN143_2").checked;
    if (x == false) {
          document.getElementById("terms-error").innerHTML = "You must accept terms and conditions";
          document.getElementById("control_COLUMN143_2").style.borderColor = "red";
          return false;
    }
    return true;
};
			
			function getCountryCode(){
				jQuery('#control_COLUMN119').val(parent.countryCode);
			};
			function bindCloseModalListeners(){
				$(window).load(function(){
				  parent.postMessage('ready', '*');
				});
				var $button = $('.no-thanks');
				$button.on('click', function(){
					parent.postMessage('close','*');
				});
			}
			function setDate(){
				var date = new Date();
				var mm = date.getMonth()+1;
				if (mm <=9){
					mm = '0'+mm;
				}
				var dd = date.getDate();
				if (dd <=9) {
					dd='0'+dd;
				}
				var yyyy = date.getFullYear();
				var str = mm+'/'+dd+'/'+yyyy;
				$('#control_COLUMN172').val(str);
				console.log('computed: '+ str);
				console.log('actual: '+ $('#control_COLUMN172').val());
			};
			function getBirthday(){
				var birthday = jQuery('#bday-month').val() + '/' + jQuery('#bday-day').val() + '/' + jQuery('#bday-year').val();
				return birthday;
			}
			function getGender(){
				var gender = $('input[name=Gifting]:checked').val();
				$('input[name=Gender_SEGMENT]').val(gender);
				return gender;
			}
			function handleSubmit() {
				//check for validation
				var $form = $('#aw17-teaser-popup form');
				$form.submit(function(event){
					var email = $('#control_EMAIL').val();
					var birthday = getBirthday();
					var gender = getGender();
					isChecked() === true;

					if (!validate(email, birthday) || !isChecked()) {
						event.preventDefault();
					}
					else {
						setDate();
						getCountryCode();
						jQuery('#control_COLUMN18').val( getBirthday() );
						_satellite.track("Data Capture – Generic Submit");
						cookie.create('tp_signed_up', '1', 365 );
						$form.fadeOut(500, function(){});
						jQuery('#loader').fadeIn(500, function(){
							return true;
						});
					}
				});  
			};
			function init(){
				generateSelectOptions();
				handleSubmit();
				bindCloseModalListeners();
			};
			return {
				init : init
			};
		})();
		var cookie = {
		    create : function (name,value,days) {
		        var expires = "";
		        if (days) {
		            var date = new Date();
		            date.setTime(date.getTime() + (days*24*60*60*1000));
		            expires = "; expires=" + date.toUTCString();
		        }
		        document.cookie = name + "=" + value + expires + "; path=/";
		    },
		    read : function (name) {
		        var nameEQ = name + "=";
		        var ca = document.cookie.split(';');
		        for(var i=0;i < ca.length;i++) {
		            var c = ca[i];
		            while (c.charAt(0)==' ') c = c.substring(1,c.length);
		            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		        }
		        return null;
		    },
		    erase : function(name) {
		        createCookie(name,"",-1);
		    }
		};
		$(window).load(function(){
			form.init();
		});
	})(jQuery);
</script>
