<link rel="stylesheet" href="https://origin-agentprovocateur.sf.cdngp.net/ss18/styles-1.6.css">
                                           

<!-- <link rel="stylesheet" href="https://localhost:8080/styles.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/sl`ick.min.css">

<div id="ss18-launch-lp-wrapper">

  <div class="ss18-launch-lp-inner">

    <section class="ss18-launch__one" data-background="#FEDFE8">

      <h1>Hotel Au Provocateur</h1>

      <div class="inner"><h4>Check me in &amp; Check me out!</h4>
       <div class="ss18-launch-main-copy">Welcome! Bienvenue! Wilkommen! Are you here for the revolution too? Leave your baggage at the door: this season, celebrate fun, self-expression and sexiness with Britain’s most iconic lingerie brand.</div></div>

      <div class="ss18-launch__img-box">
        <div class="ss18-launch__iframe-wrapper">
          <iframe src="https://player.vimeo.com/video/258586954?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <section class="ss18-launch__two ss18-launch__two-part-section">

      <div class="ss18-launch__section-left fadable faded-delay-one">
        <div class="inner">
          <!--<h4>Check me in &amp; Check me out!</h4>-->
          The time is now. The feeling is freedom. Our Spring Summer collection invites you to live in the moment, with all new, luxurious lingerie styles celebrating romance and adventure, dreaming, and daring.
        </div>
      </div>

      <div class="ss18-launch__section-right ss18-launch__video-box fadable">
        <div class="ss18-launch__img-box fadable">
          <a href="{{store direct_url='julie-range'}}">
            <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-content-box-1.jpg" alt="">
          </a>
            <p class="ss18-launch__small-text"><a href="{{store direct_url='julie-range'}}">Julie</a></p>
        </div>
      </div>

    </section>

  <section class="ss18-launch__four">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--large fadable">
        <a href="{{store direct_url='luxx-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-content-box-2.1.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text left"><a href="{{store direct_url='luxx-range'}}">Luxx</a></p>
      </div>

    </section>
    <section class="ss18-launch__three" data-background="#FFEBDA">

        <div class="ss18-launch__img-box ss18-launch__img-box--small fadable faded-delay-one">
        <a href="{{store direct_url='gabby-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-content-box-3.jpg" alt="">
        </a>
        <p class="ss18-launch__small-text left"><a href="{{store direct_url='gabby-range'}}">Gabby</a> &amp; <a href="{{store direct_url='rowana-range'}}">Rowana</a></p>
      </div>

      <div class="ss18-launch__video-box fadable">
        <video src="https://player.vimeo.com/external/255936694.sd.mp4?s=1dce24c11d719b0b969201991c77333fdb4222e6&profile_id=165" autoplay muted playsinline loop ></video>
      </div>
    </section>


    <!--<section class="ss18-launch__four">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--large fadable">
        <a href="{{store direct_url='eunice-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/mar9-update-Content-box-3.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text"><a href="{{store direct_url='eunice-range'}}">Eunice</a> &amp; <a href="{{store direct_url='venetia-range'}}">Venetia </a></p>
      </div>

    </section>-->

  <section class="ss18-launch__thirteen">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--large fadable">
        <a href="{{store direct_url='eunice-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-content-box-13.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text"><a href="{{store direct_url='eunice-range'}}">Eunice</a> &amp; <a href="{{store direct_url='venetia-range'}}">Venetia </a></p></div>

    </section>

  <section class="ss18-launch__five" data-background="#DDCBEB">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--small fadable">
        <a href="{{store direct_url='sashah-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/mar9-update-Content-box-4.jpg" alt="">
        </a>
        <p class="ss18-launch__small-text left"><a href="{{store direct_url='sashah-range'}}">Sashah</a></p>
      </div>

    </section>

    <section class="ss18-launch__nine">

      <div class="ss18-launch__img-box ss18-launch__img-box--large fadable">
        <a href="{{store direct_url='geri-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/mar9-update-Content-box-5.jpg" alt="">
          <p class="ss18-launch__small-text">Geri</p>
        </a>
      </div>
      
    </section>
    
    <section class="ss18-launch__eight">

    
      
      <div class="ss18-launch__video-box fadable">
        <video src="https://player.vimeo.com/external/256042655.sd.mp4?s=0c1dfbaf1032f3e12bfb3380d7e8fe81856ead27&profile_id=165" autoplay muted playsinline loop ></video>
      </div>
  <div class="ss18-launch__img-box ss18-launch__img-box--small fadable faded-delay-one">
        <a href="{{store direct_url='lingerie/single-knickers'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/Content-box-4-retina.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text"><a href="{{store direct_url='tutu-range'}}">Tutu</a></p>
      </div>
    </section>

    <section class="ss18-launch__ten" data-background="#E4F5FF">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--large fadable">
        <a href="{{store direct_url='mischa-dress-black'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-content-box-10.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text right"><a href="{{store direct_url='mischa-dress-black'}}">Mischa</a></p>
      </div>
    </section>

    <!--<section class="ss18-launch__eleven">

      <div class="ss18-launch__video-box fadable">
        <video src="https://player.vimeo.com/external/255936694.sd.mp4?s=1dce24c11d719b0b969201991c77333fdb4222e6&profile_id=165" autoplay muted playsinline loop ></video>
      </div>

    </section>-->

    <section class="ss18-launch__fourteen">
      
      <div class="ss18-launch__img-box ss18-launch__img-box--small">
        <a href="{{store direct_url='izzy-range'}}">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/mar9-update-Content-box-8.jpg" alt="">
        </a>
          <p class="ss18-launch__small-text left"><a href="{{store direct_url='izzy-range'}}">Izzy <em>(low in stock)</em></a></p>
      </div>

    </section>

      <section class="ss18-launch__fifteen slider-container">
    <section class="autoplay slider" data-sizes="50vw">
    <div>
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
    <div>
      <!-- this slide should inherit the sizes attr from the parent slider -->
      <img data-lazy="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-srcset="https://www.agentprovocateur.com/media/custom_media/pages/ss18/ss18-asset-refresh/Lingerie_LP_Large_Promo_1_Bras.jpg" data-sizes="100vw">
    </div>
  </section>
</section>

    <section class="ss18-launch__six">
      
      <div class="ss18-launch__marquee">
        <span>Collection Preview</span>
      </div>

    </section>
    <section class="ss18-launch__seven" data-background="#FFFDE5">
      
      <div class="ss18-launch__carousel fadable">

        <div class="ss18-launch__carousel-slide ss18-launch__open-form ss18-launch__img-box" data-products="Pettra">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/march-drop-carousel-1.jpg" alt="">
          <p class="ss18-launch__small-text">Pettra</p>
        </div>

        <div class="ss18-launch__carousel-slide ss18-launch__open-form ss18-launch__img-box" data-products="Lula">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/mar9-update-Carousel-2.jpg" alt="">
          <p class="ss18-launch__small-text">Lula</p>
        </div>

        <div class="ss18-launch__carousel-slide ss18-launch__open-form ss18-launch__img-box" data-products="Kelsie">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/Carousel-3.jpg" alt="">
          <p class="ss18-launch__small-text">Kelsie</p>
        </div>

        <div class="ss18-launch__carousel-slide ss18-launch__open-form ss18-launch__img-box" data-products="Kaylie">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/Carousel-4.jpg" alt="">
          <p class="ss18-launch__small-text">Kaylie</p>
        </div>

        <div class="ss18-launch__carousel-slide ss18-launch__open-form ss18-launch__img-box" data-products="Essie Lilac">
          <img src="https://www.agentprovocateur.com/media/custom_media/pages/ss18/launch/Carousel-5.jpg" alt="">
          <p class="ss18-launch__small-text">Essie Lilac</p>
        </div>
        </div>

    </section>

    <section class="ss18-launch__form">
      
      <div class="ss18-launch__form-wrapper">
        <img src="https://www.agentprovocateur.com/media/custom_media/img/icons/icn_blk_cross_copy.svg" alt="Close image" id="close-x">
        <h4>Be the first to shop the new collection</h4>
        <p>Join the waiting list and we'll email you as soon as the collection lands.<span id="range-name" style="display: none!important"></span></p>

        <form method="post" action="https://www.pages02.net/agentprovocateur/CampaignSS18NotifyMe/CampaignSS18NotifyMeWebform" pageId="7967943" siteId="347879" parentPageId="7967941" >

          <fieldset id="fieldset_email">
            <p class="error-message">You must enter a valid email</p>
            <label for="control_EMAIL">Email: </label>
              <input type="text" placeholder="Your Email" name="Email" id="control_EMAIL" label="Email">
            </fieldset>

          <fieldset name="Shopping For">
              <label for="Shopping For">Shopping For: </label>   
              <div class="fieldset__right">
                <input type="radio" value="Myself" name="Shopping For" id="myself" SELECTED checked />
                <label for="myself">Myself</label>
                <input type="radio" value="Someone Else" name="Shopping For" id="someone-else">
                <label for="someone-else">Someone Else</label>
            </div>
            </fieldset>

          <fieldset class="fieldset__opt-in">
            <input type="hidden" value="No" name="Broadcast Opt In" id="opt-in-no" />
            <input type="checkbox" value="Yes" name="Broadcast Opt In" id="opt-in-yes" />
            <label for="opt-in-yes">Sign up to receive our newsletter for exclusive offers, sale previews and style inspiration</label>

          </fieldset>


          <fieldset>
             <input type="radio" class="product-checkbox" name="Range" value="Pettra" label="Range">
                   <!-- <input type="radio" class="product-checkbox" name="Range" value="Luxx" label="Range">-->
                    <input type="radio" class="product-checkbox" name="Range" value="Kaylie" label="Range">
                    <input type="radio" class="product-checkbox" name="Range" value="Essie Lilac" label="Range">
                    <input type="radio" class="product-checkbox" name="Range" value="Kelsie" label="Range">
                    <!--<input type="radio" class="product-checkbox" name="Range" value="Venetia" label="Range">-->
                    <!--<input type="radio" class="product-checkbox" name="Range" value="Julie" label="Range">-->
                    <input type="radio" class="product-checkbox" name="Range" value="Lula" label="Range">
                    <input type="radio" class="product-checkbox" name="Range" value="Luxx" label="Range">
                </fieldset>



                  <input type="hidden" name="Website" id="website-field" label="Website" class="textInput defaultText" style="margin: 0 3px 5px 3px; height: 20px; width: 294px;">



            <input type="submit" class="defaultText buttonStyle" value="Sign Up">
          <p class="small-print">By signing up you are agreeing to our <a href="{{store direct_url='privacy_policy'}}" target="_blank">Privacy Policy</a></p>


            <input type="hidden" name="formSourceName" value="StandardForm">

            <!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
            <input type="hidden" name="sp_exp" value="yes">

        </form>
      </div>

    </section>

  </div>
</div>


<link rel="stylesheet" type="text/css" href="slick.css">
  <link rel="stylesheet" type="text/css" href="slick-theme.css">
  <style type="text/css">

  .ss18-launch__four.ss18-launch__img-box--large{float:left;}
.ss18-launch__five.ss18-launch__img-box--small {float:right;}
    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    /*.slider {
        width: 50%;
        margin: 100px auto;
    }*/


    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      /*opacity: .2;*/
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

    /* New Styles */
    .container .main-container {
    margin-top: 100px;
}
    @media (min-width: 1230px){
    .container {   
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;}
    }

    .slider-container {
      width: 100%;
      max-width: 936px;
      margin: auto;
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-arrow {
    display: none !important;
    }
  </style>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
      $('.autoplay').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://origin-agentprovocateur.sf.cdngp.net/ss18/index.bundle.1.2.js"></script>
<!-- <script src="https://localhost:8080/index.bundle.js"></script> --><script type="text/javascript" src="index.bundle.js"></script>

