<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <!--     <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick-theme.css">
 -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="styles/lookbook-styles.css">
    <!--  <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/lookbook-styles.css"> -->
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.css">
    <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
    .category-top {
        display: none;
    }

    .row.breadcrumbs {
        display: none !important;
    }

    * {
        box-sizing: border-box;
    }

    .category-lingerie .vaimo-cms.row,
    .catalog-category-view .vaimo-cms.row:last-child {
        background-color: #fff !important;
    }

    .slick-slide {
        margin: 0px 1px;
    }

    .slick-slide img {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1040px) {
        .slick-slide img {
            width: 94%;
            margin: auto;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    /*.thumbnail-carousel .slick-slide {
    width: 92px !important;
}*/

    .lookbook-carousel {
        width: 90vw;
        max-width: 914px;
        margin: auto;
        position: relative;
        /*top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;*/
    }
    /*@media only screen and (max-width: 460px) {
        .lookbook-carousel {
            width: 85vw;
        }
    }*/

    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 0.6;
    }

    .slick-active {
        opacity: 0.6;
    }

    .slick-current {
        opacity: 1;
    }
    /*.thumbnail-carousel {
    width: 90vw;
    max-width: 632px !important;
    margin: auto;
    position: relative;
}*/
    /*@media only screen and (max-width: 460px) {
    .thumbnail-carousel {
        width: 100vw;
        margin: auto;
        position: relative;
    }
}*/
    /*@media only screen and (max-width: 460px) {

    .thumbnail-carousel .slick-list {
        padding: 0 25px !important;
    }
}*/
    /*.thumbnail-carousel img {

    padding: 5px;
}
*/
    /*    .slick-slide.slick-cloned {
    display: none !important;
}*/
    /*    section {
            .slideDetails {
                text-align: center;
                span {
                    padding: 10px;
                }
            }
        }*/
    /*        @media only screen and (max-width: 460px) {

        iframe {
    width: 100% !important;
    max-width: 912px;
    height: auto;
}
}*/

    .player .vp-controls {
        display: none !important;
    }
    /*.video-slide {
    margin-top: 40px;
}*/

    .video-slide:hover+.player .vp-controls {
        display: block !important;
    }

    .row.breadcrumbs {
        display: none;
    }

    .controller-bar {
        display: none;
        height: 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        /* opacity: 0.2;*/
    }

    .video-slide:hover>.controller-bar {
        display: block;
    }

    span.seperator {
       font-size: 16px;
      margin: 0 4px;
}
    </style>
</head>

<body>
    <section class="aw18-lookbook-container">
        <section class="intro">
            <div class="page-title">Autumn Winter '18</div>
        </section>
        <section class="slider-container">
            <div class="lookbook-carousel">
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='roanne-long-gown-black'}}">Roanne</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Soni.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='soni-high-neck-underwired-bra-black-and-nude'}}">Soni</a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <video id="myVideo" muted controls src="https://player.vimeo.com/external/285259933.hd.mp4?s=1ae8999d0a35adfe4d0479a22dc2c5b9a82a2293&profile_id=175" style="max-width:912px; width: 100%;">
                    </video>
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='soni-high-neck-underwired-bra-black-and-nude'}}">Soni</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Rubi.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='rubi-plunge-underwired-bra-black-and-nude'}}">Rubi</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Riho.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='riho-set'}}">Riho</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pollie_Sheila.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pollie-plunge-bra-black-and-mint'}}">Pollie</a><span class="seperator">&</span><a href="{{store direct_url='sheila-high-waisted-trousers-black'}}">Sheila</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pascale_Cephora.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <video muted controls playsinline src="https://player.vimeo.com/external/285259952.hd.mp4?s=3fa13d300ff81be7d440fde4ea7230078f60cc07&profile_id=175" style="max-width:912px; width: 100%;">
                    </video>
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Palmina_Oriah.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='oriah-set'}}">Oriah</a><span class="seperator">&</span><a href="{{store direct_url='palmina-dressing-gown-navy'}}">Palmina</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Ozella.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='ozella-plunge-underwired-bra-black'}}">Ozella</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Netania.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='netania-gown-mint'}}">Netania</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Marjorie.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='marjorie-set'}}">Marjorie</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Lotie.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='lotie-plunge-underwired-bra-nude'}}">Lotie</a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <video muted controls playsinline src="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175" style="max-width:912px; width: 100%;">
                    </video>
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='lotie-plunge-underwired-bra-nude'}}">Lotie</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Lorna_Blue.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='lorna-range'}}">Lorna</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Kimiko.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='kimiko-high-neck-bra-black-and-gold'}}">Kimiko</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Ismay.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='ismay-short-gown-red-and-white'}}">Ismay</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Genevieve.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='genevieve-set'}}">Genevieve</a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <video muted controls playsinline id="myVideo" controls src="https://player.vimeo.com/external/285259945.hd.mp4?s=0258d9b877c05f71f8a6a47ec2c458891f3c4d6f&profile_id=175" style="max-width:912px; width: 100%;">
                    </video>
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='genevieve-set'}}">Genevieve</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Dorotia.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='dorotia-high-apex-underwired-bra-pink'}}">Dorotia</a><span class="seperator">&</span><a href="{{store direct_url='ettie-harness-red'}}">Ettie</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Demi.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='demi-high-neck-bra-black'}}">Demi</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Dalliyah.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='dalliyah-gown-black'}}">Dalliyah</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Carmella_Aneliya.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='carmella-high-apex-underwired-bra-black'}}">Carmella</a><span class="seperator">&</span><a href="{{store direct_url='aneliya-suspender-mink'}}">Aneliya</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Blyth.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='blyth-high-neck-padded-underwired-bra-black'}}">Blyth</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Bessie_Novak.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='novak-set}}">Novak</a><span class="seperator">&</span><a href="{{store direct_url='bessie-brief-brown-leopard'}}">Bessie</a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Anna_Yellow_Black.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='anna-padded-plunge-underwired-bra-yellow'}}">Anna</a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <video muted controls playsinline id="testVid" src="https://player.vimeo.com/external/285260040.hd.mp4?s=f48819f5918e724638ef692c8e0f9b068e036905&profile_id=175" style="max-width:912px; width: 100%;">
                    </video>
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='anna-padded-plunge-underwired-bra-yellow'}}">Anna</a></div>
                           
                        </div>
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Amiyah_Netania_Flint.jpg">
                        <div class="slide-details">
                            <div class="range-name"><a href="{{store direct_url='amiyah-waspie-black-and-leopard-print'}}">Amiyah</a>,
                                <a href="{{store direct_url='netania-body-black'}}"> Netania</a><span class="seperator">&</span>
                                <a href="{{store direct_url='flint-skirt-black'}}"> Flint</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumbnail-carousel">
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Soni.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos3.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Rubi.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Riho.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Pollie_Sheila.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Pascale_Cephora.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos5.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Palmina_Oriah.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Ozella.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Netania.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Marjorie.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Lotie.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos1.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Lorna_Blue.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Kimiko.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Ismay.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Genevieve.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos4.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Dorotia.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Demi.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Dalliyah.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Carmella_Aneliya.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Blyth.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Bessie_Novak.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Anna_Yellow_Black.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos2.jpg">
                    </div>
                    <div>
                        <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Amiyah_Netania_Flint.jpg">
                    </div>
                </div>
        </section>
        <section class="secondary">
            <div class="body">This season, Agent Provocateur invites you to harness The Power of Provocateur. With fearless women everywhere as inspiration, the new seasonal collection makes you feel like you can rule the world - and look amazing as you do it.</div>
            <div class="main-cta"><a href="{{store direct_url='new-in'}}">Shop now</a></div>
        </section>
    </section>
    <script type="text/javascript">
    jQuery(document).on('ready', function() {
        jQuery('.lookbook-carousel').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.thumbnail-carousel',


        });
        //Script for the thumbnail carousel
        jQuery('.thumbnail-carousel').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            asNavFor: '.lookbook-carousel',
            dots: false,
            // centerMode: true,
            focusOnSelect: true,
            arrows: true,
            draggable: false,
            // centerPadding: '10',
            variableWidth: true,
            speed: 200,
            responsive: [{
                breakpoint: 600,
                settings: {
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    draggable: false,
                    swipe: true,
                    centerMode: false,
                    infinite: true,
                },
                breakpoint: 460,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    draggable: false,
                    swipe: true,
                    centerMode: false,
                    infinite: true,
                }
            }, ]
        });
        jQuery('.lookbook-carousel').on('afterChange', function(event, slick, currentSlide) {
            var video = jQuery(slick.$slides[currentSlide]).find('video');
            if (video.length > 0)
                jQuery(video).get(0).play();
        });


    });

    jQuery('.lookbook-carousel').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
        jQuery("video").each(function() {
            jQuery(this).get(0).pause();
        });
    });

    // jQuery('video').on('ended',function(){           
    //     jQuery('.lookbook-carousel').slick('slickPlay');
    // });
    </script>
</body>

</html>