section.bra-shapes-container {
    max-width: 1090px;
    margin: auto;

    .carousel {

        .shape-container {
            @media only screen and (min-width: 1024px) {
                border: 5px solid white;
                display: inline-block;
            }

            img {
                @media only screen and (min-width: 1024px) {

                    width: 350px;
                }
            }
        }


    }
}