/* Different Menu Styles */
    .desktop-menu{
                display: none;

    }

    .desktop-content{
display: none;
    }

@media screen and (min-width: 767px) {
    .mobile-menu{
        display: none;
    }

    .size-hub-container{
display: flex;
    }

       .desktop-menu{
                    width: 30%;
                    display: inline-block;

    }
    .desktop-content{
                    width: 70%;
                    display: inline-block;


    }
}


/* Landing page */

    .fancybox-slide {
        /*   right: 0;
        width: 50%;
        left: unset;*/
        padding: 0;
    }

    .fancybox-content {
        width: 50vw !important;
        right: 0 !important;
        position: absolute !important;
        padding: 0 !important;
        height: 100vw !important;
    }

    #hub-mobile-buttons {
        display: flex;

    }

    #hub-mobile-buttons h3 {
        /*        display: inline;
*/
    }

/*    .section-link {
                padding: 20px;
                border-bottom: 1px solid #000000;

    }*/

   .mobile-accordion-button {
    padding: 33px 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
        margin-bottom: 5px;
}

  #hub-mobile-buttons .mobile-accordion-button {
    width: 50%;
   margin-right: 5px;
  }
    #hub-mobile-buttons .mobile-accordion-button:last-child {
   margin-right: 0px;
  }

/*  .ui-accordion-content {
    border-left: 1px solid;
    border-right: 1px solid;
  }*/

 /*   .ui-accordion-content{
        margin: 20px;
    }*/

    /* Different Menu Styles  */
     .mobile-menu .section-link {
                padding: 20px;
                border-bottom: 1px solid #000000;

    }

   .mobile-accordion-button {
    padding: 33px 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
        margin-bottom: 5px;
}

  #hub-mobile-buttons .mobile-accordion-button {
    width: 50%;
   margin-right: 5px;
  }
    #hub-mobile-buttons .mobile-accordion-button:last-child {
   margin-right: 0px;
  }

  .mobile-menu .ui-accordion-content {
    border-left: 1px solid;
    border-right: 1px solid;
  }