#silverpop-signup-wrapper {
    background-color: #333;
    padding: 20px 0 15px 0;
    font-family: helvetica, arial, sans serif;
    .no-mobile {
        @media only screen and (max-width: 460px) {
            display: none;
        }
    }
    #sp-form-global-footer {
        // max-width: 1020px
        text-align: center;
        width: 100%;
        max-width: 1120px;
         input {
                                -webkit-appearance: unset;
    border-radius: 0;
                        }
        @media only screen and (min-width: 1220px) {
            margin-left: 20px;
        }
         #sp-errorMessage-1 {
                            color: #FF0000;
                            font-size: 9px;
                            letter-spacing: 0.3px;
                        }
                        #terms-error {
                            color: #FF0000;
                            font-size: 9px;
                            letter-spacing: 0.3px;
                        }
        .form-section {
            width: 100%;
            @media only screen and (min-width: 768px) {
                // width: 33%;
                display: inline-block;
            }
            &.one {
                @media only screen and (min-width: 1024px) {
                    width: 38%;
                }
                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    width: 28%;
                }
                p.intro-copy {
                    text-transform: uppercase;
                    border: 1px solid #fff;
                    width: 260px;
                    padding: 10px;
                    margin: auto;
                    font-size: 13px;
                    vertical-align: middle;
                    color: #fff;
                    margin-bottom: 10px;
                        letter-spacing: 1.13px;
    font-weight: lighter;
                    @media only screen and (min-width: 768px) {
                        width: 382px;
                        border: 0;
                        font-size: 11px;
                        margin: 0;
                        text-align: left;
                        padding: 10px 0
                    }
                }
                input#sp_EMAIL {
                    width: 260px;
                    height: 40px;
                    font-size: 12px;
                    padding: 10px;
                    @media only screen and (min-width: 1024px) {
                        width: 382px;
                        margin-left: -45px;
                    }
                    @media only screen and (max-width: 960px) and (min-width: 768px) {
                        width: 210px;
                    }
                }
            }
            &.two {
                @media only screen and (min-width: 1024px) {
                    width: 30%;
                    text-align: left;
                }
                @media only screen and (max-width: 1023px) and (min-width: 768px) {
                    width: 37%;
                }
                p.shopping-for {
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: 1.13px;
                    font-weight: lighter;
                    input[type="radio"] {
                        display: none;
                    }
                    label {
    width: unset;
    font-size: 12px;
    letter-spacing: 1.13px;
}
                   label:before {
                        content: " ";
                        width: 16px;
                        height: 16px;
                        border: 1px solid #000;
                        border-radius: 50px;
                        background-color: #fff;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                        margin-left: 6px;
                        @media only screen and (max-width: 768px) {
                                                    margin-left: 1px;

                        }
                    }
                    input:checked+label:before {
                        background-color: #000;
                        border: 1px solid #fff;
                    }
                }
            }
            &.three {
                @media only screen and (min-width: 1024px) {
                    width: 26%;
                        text-align: left;
                }
                @media only screen and (max-width: 1023px) and (min-width: 768px) {
                    width: 33%;
                }
                input[type="checkbox"] {
                    position: unset;
                    /* left: unset; */
                    -webkit-appearance: unset;
                    height: 16px;
                    width: 16px;
                    border: 1px solid #ffffff;
                    vertical-align: top;
                }
                .fine-print span {
                    margin-left: 5px;
                    font-size: 9px !important;
                    background-color: transparent !important;
                    display: inline-block;
                    text-align: left;
                    letter-spacing: 0.3px; // margin-bottom: 10px;
                    font-weight: lighter;
                    line-height: 11px;
                    color: #fff;
                    @media only screen and (max-width: 1025px) and (min-width: 768px) {
                                            font-size: 8px !important;

                    }
                    a {
                        color: #fff;
                            background-color: transparent;
                    }
                }
              
                input[type="checkbox"] {
                    position: unset;
                    left: unset;
                    -webkit-appearance: unset;
                    height: 16px;
                    width: 16px;
                    border: 1px solid #ffffff;
                    vertical-align: top;
                }
                input[type="checkbox"]:checked {
                    content: " ";
                    background-image: url(https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/check-symbol.svg);
                    background-size: contain;
                    background-color: white;
                }
                input.sp-submit-3 {
                    height: 40px;
                    max-width: 260px;
                    width: 100%;
                    margin: auto;
                    color: white;
                    background-color: transparent;
                    border: 1px solid;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 1.13px;
                                    @media only screen and (min-width: 768px) {
                                        width: 240px;
                                    }

                }
                input.sp-submit-3:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}