<link rel="stylesheet" href="styles/bts-styles.css">
<div class="intro-image">
    <img src="assets/image1.jpg">
            <div class="campaignText"><img src="assets/Handwritten-slogan.png">
</div>

</div>
<section class="text-section">
    <div class="hCopy">Title Here</div>
    <div class="bCopy">
        Lorem ipsum non reprehenderit laboris tempor proident veniam ea aliqua ex reprehenderit minim adipisicing et magna mollit in anim sit magna qui ullamco ut excepteur aliqua officia excepteur aute amet duis tempor enim in ullamc

    </div>
</div>
</section>

<video class="main-vid" loop muted controls playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709477.hd.mp4?s=c859f6bf624ee84490db7797c0e1fd34dc9c6e7d&profile_id=175" style="max-width:100%; width: 100%;">
</video>
<!--    <div class="header" data-bottom-top="transform: scale(0.5)" data-top="transform: scale(1)">Ut dolore quis tempor.</div>
    <div class="header-desc">****************************Click to reveal images behind jpgs or gifs(??)****************************</div>
    <div class="moves_container">
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
    </div>
     <div class="header" data-bottom-top="transform: scale(0.5)" data-top="transform: scale(1)">Ut dolore quis tempor.</div> -->
     <section class="text-section">
    <div class="hCopy">Title Here</div>
    <div class="bCopy">
        Lorem ipsum non reprehenderit laboris tempor proident veniam ea aliqua ex reprehenderit minim adipisicing et magna mollit in anim sit magna qui ullamco ut excepteur aliqua officia excepteur aute amet duis tempor enim in ullamco proident eiusmod pariatur enim eu culpa reprehenderit minim sint qui in sunt culpa in anim est reprehenderit magna et reprehenderit consequat esse eiusmod non et ex proident labore ut id commodo exercitation ut nulla ut culpa sit voluptate et labore sed sunt anim cupidatat cillum ut aliquip eu dolore cillum dolore occaecat dolore sit aliquip id fugiat mollit excepteur proident occaecat excepteur eiusmod quis ea magna aute deserunt quis dolor ex ut reprehenderit in irure excepteur aliqua ex et consectetur proident amet nostrud incididunt deserunt amet consequat laborum amet in excepteur deserunt amet laborum deserunt in dolor consequat ullamco dolor labore ut id exercitation nulla veniam veniam voluptate ea ut velit et nulla quis dolore anim eu voluptate in aliqua sunt adipisicing ut dolor esse nisi sed enim cillum aute voluptate proident dolor enim exercitation proident laboris ut esse minim dolore velit sed sunt duis nulla excepteur enim adipisicing laboris consequat elit aliquip dolor ut sunt minim aute veniam non excepteur dolor non laboris in cillum eiusmod minim magna in mollit mollit sed tempor amet laboris minim incididunt nisi sint duis exercitation ex commodo tempor nostrud in proident ut adipisicing aliqua ex nisi est.

    </div>
</div>
</section>
<div class="vid-container cf">
    <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702063.hd.mp4?s=f5b9982fa3d1d9ae383102d6263cb540dbd177c1&profile_id=175" style="max-width:100%; width: 50%;">
    </video>
    <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702863.hd.mp4?s=66ce43d17a046c5d8b3da04b67467708a5c1c9f0&profile_id=175" style="max-width:100%; width: 50%;">
    </video>
    <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709339.hd.mp4?s=ba58afe167ded383a70e61967253ebbfa88e2616&profile_id=175" style="max-width:100%; width: 50%;">
    </video>
    <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709105.hd.mp4?s=52595f0e41069a4f860c0dc95ae0cafe95e2cda1&profile_id=175" style="max-width:100%; width: 50%;">
    </video>
</div>
<section class="text-section socials">
    <div class="hCopy">Title Here</div>
    <div class="bCopy">
        Lorem ipsum non reprehenderit laboris tempor proident veniam ea aliqua ex reprehenderit minim adipisicing et magna mollit in anim sit magna qui ullamco ut excepteur aliqua officia excepteur aute amet duis tempor enim in ullamco proident eiusmod 

    </div>
<div class="icons">
    <img src="assets/icons/black/icn_blk_facebook.svg">
    <img src="assets/icons/black/icn_blk_instagram.svg">
    <img class="larger" src="assets/icons/black/icn_blk_twitter.svg">
    <img class="larger" src="assets/icons/black/icn_blk_youtube.svg">
</div>
</div>


       <!--  <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-MOBILE.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br />Spring Summer</a>
            </div>
        </div> -->
</section>

 <div class="parallax">
            <div>
                <div  class="ss19-header outro compact"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
            </div>
        </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script>
var s = skrollr.init();

// jQuery('img').click(function() {
//     // video = '<iframe src="' + jQuery(this).attr('data-video') + '"></iframe>';
//     video = '<video class="vidBlock-one" muted autoplay="true" playsinline controlsList="nodownload" src="' + jQuery(this).attr('data-video') + '" style="max-width:100%; width: 50%;">'
//     jQuery(this).replaceWith(video);
// });
</script>