<style>
body {
    background-color: #ffffff;
    margin: 0;
    font-family: helvetica;
}

.container {
    max-width: 1200px;
    padding: 0;
}

.page-container {
    max-width: 1920px;
   margin-top: 100px;
    width: 100%;
}

.subscribe-success-wrapper {
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    margin: auto;
}

@media only screen and (min-width: 1024px) {
    .subscribe-success-wrapper {
        grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
        grid-template-rows: 75vh;
    }
}


.subscribe-success-wrapper  p,
.subscribe-success-wrapper span {
    line-height: 19px;
    letter-spacing: 0.64px;
    font-size: 13px;
}

.left,
.right {
    align-self: center;
    justify-self: center;
}
.subscribe-success-wrapper .right {
	text-align: center;
}

.line-break-mobile {
    display: block;
}

@media only screen and (max-width: 500px) {
    .line-break-mobile {
        display: none;
    }
}

.subscribe-success-wrapper h2 {
    font-size: 31px;
    line-height: 33px;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 30px;
}
.subscribe-success-wrapper .cta {
    /* width: 50%; */
    width: 269px;
    border: 1px solid #000;
    border-radius: 0;
    color: #000 !important;
    padding: 10px;
    background-color: #fff;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    display: block;
    transition: all 0.2s ease-in-out;
    height: 40px;
    /* margin-top: 5px; */
    margin: auto;
    vertical-align: middle;
    line-height: 20px;
        margin-bottom: 20px;
}
.subscribe-success-wrapper .cta:hover {
    cursor: pointer;
    color: #fff !important;
    background-color: #000 !important;
}

#terms-error {
    color: #dc153d;
    letter-spacing: unset !important;
    font-size: 11px !important;
    font-weight: unset !important;
}
/* REMOVE FOR MAGENTO PAGES */

/*@media only screen and (min-width: 1600px) {
    .content-container {
        width: 70%;
        margin: auto;
    }
}*/
/* END REMOVE FOR MAGENTO PAGES */
</style>
<div class="page-container">
    <div class="content-container">
        <div class="subscribe-success-wrapper">
            <div class="left">
                <img alt="alt text" border="0" src="https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/Subscribe_success_page_ss18.jpg" width="460" />
            </div>
            <div class="right">
                <h2>Thank  you for <br class="line-break-mobile"/>signing up</h2>
                    <p>Awaiting copy...</p>
                    <div class="defaultText buttonStyle cta">Back to Homepage</div>
            </div>
        </div>
    </div>
</div>