<!-- 2 Column Seasonal Banner -->
<table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#FFFFFF" class="column" width="370">
            <div class="img-center" style="display:block; font-size:0pt; line-height:0pt; text-align:center">
                <div class="w300"><a href="{{store url=" sale "}}?cmp=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL_SB1&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL" name="aw17-sale-banner-1" target="_blank"><img alt="" border="0"  height="370" src="https://www.agentprovocateur.com/media/custom_media/email/sale/aw17/AW17-SALE-BANNER-IMAGE.jpg" width="370"  xt="SPIMAGE" /></a></div>
            </div>
        </td>
        <td bgcolor="#FFFFFF" class="column" width="370">
            <div class="img-center" style="display:block; font-size:0pt; line-height:0pt; text-align:center">
                <div class="w300"><a href="{{store url=" sale "}}?cmp=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL_SB2&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL" name="aw17-sale-banner-1" target="_blank"><img alt="" border="0"  height="370" src="https://www.agentprovocateur.com/media/custom_media/email/sale/aw17/AW17-SALE-BANNER-COPY.jpg" width="370"  xt="SPIMAGE" /></a></div>
            </div>
        </td>
    </tr>
</table>
<!-- END 2 Column Seasonal Banner -->