<!-- Full Width Seasonal Banner -->
<table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="w20" width="300">&nbsp;</td>
        <td width="220">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center" width="35">&nbsp;</td>
                    <td align="center">
                        <div style="display:block; font-size:0pt; line-height:30px; height:30px"><span style="color:#000000;"><img alt="" contentid="422fc9c6-163f8bb657d-3f3d5eceea4051b7c82d96ba93c1b04e" name="images_spacer.gif" spname="images_spacer.gif" src="images_spacer.gif" style="display: block; height:30px" width="1" xt="SPIMAGE" /></span></div>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center">
                                    <table border="1" bordercolor="#000000" cellpadding="0" cellspacing="0" class="wauto">
                                        <tr>
                                            <td>
                                                <table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="https://www.agentprovocateur.com/gb_en/sale/view-all-sale?cmp=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL_SB1&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL" name="www_agentprovocateur_com__10" target="_blank"><img alt="Linke Six" border="0" height="119" name="sale_lockup.png" src="https://www.agentprovocateur.com/media/custom_media/email/sale/ss18/sale_lockup.png" title="Linke Six" width="220" xt="SPIMAGE" /></a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="display:block; font-size:0pt; line-height:20px; height:20px">&nbsp;</div>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center">
                                    <table border="1" bordercolor="#fba8ab" cellpadding="0" cellspacing="0" width="220">
                                        <tr>
                                            <td align="center">
                                                <div style="display:block; font-size:0pt; line-height:5px; height:5px; color:transparent;"><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block;" width="1" /></div>
                                                <div><a class="cta-main" href="https://www.agentprovocateur.com/gb_en/sale/view-all-sale?cmp=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL_SB2&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_CRM_SERVICE_NEWACCOUNT_ALL_ALL" name="HR2" style="font-size: 12px; letter-spacing: 1px; line-height: 18px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; color:#fba8ab;" target="_blank">SHOP NOW</a></div>
                                                <div style="display:block; font-size:0pt; line-height:5px; height:5px; color:transparent;"><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block;" width="1" /></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="display:block; font-size:0pt; line-height:30px; height:30px"><img alt="" contentid="422fc9c6-163f8bb657d-3f3d5eceea4051b7c82d96ba93c1b04e" name="images_spacer.gif" spname="images_spacer.gif" src="images_spacer.gif" style="display: block; height:30px" width="1" xt="SPIMAGE" /></div>
                    </td>
                    <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center" width="35">&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="w20" width="300">&nbsp;</td>
    </tr>
</table>
<!-- END Full Width Seasonal Banner -->