<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
</head>
<link rel="stylesheet" href="styles/bts-styles.css">
<!-- <link rel="stylesheet" href="https://www.agentprovocateur.com/media/custom_media/cache/SS19_BTS/bts-styles.css
 ">-->
<div class="bts_container">
    <div class="intro-image">
        <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/image1.jpg">
        <div class="campaignText"><img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/Handwritten-slogan.png">
        </div>
    </div>
    <div class="bts_section section_one">
        <div class="hCopy">BEHIND THE SCENES</div>
        <div class="bCopy">
            We've pulled back the curtain on our Spring Summer campaign, so you can experience the true spirit, energy and strength of 'Pump It Up'
        </div>
        <div class="ctaCopy"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Learn The Moves</a></div>
    </div>
    <div class="bts_section mainVid">
        <video class="main-vid" loop muted controls playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709477.hd.mp4?s=c859f6bf624ee84490db7797c0e1fd34dc9c6e7d&profile_id=175">
        </video>
    </div>
    <!--    <div class="header" data-bottom-top="transform: scale(0.5)" data-top="transform: scale(1)">Ut dolore quis tempor.</div>
    <div class="header-desc">****************************Click to reveal images behind jpgs or gifs(??)****************************</div>
    <div class="moves_container">
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
        <div class="half">
            <img data-bottom-top="opacity: 0" data-top="opacity: 1" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/SS19_LOOKBOOK_CROP_NADINA_FELINDA-GREEN_V2.jpg" data-video="https://player.vimeo.com/external/285260028.hd.mp4?s=138d3f66323bbec4030e6b86e0aea9148a4a29a2&profile_id=175">
        </div>
    </div>
     <div class="header" data-bottom-top="transform: scale(0.5)" data-top="transform: scale(1)">Ut dolore quis tempor.</div> -->
    <div class="bts_section moves">
        <div class="hCopy">The Moves</div>
        <div class="bCopy">
            Work up a sweat with us and learn the 'Pump It Up' dance moves, choreographed by the inimitable Danielle Polanco
        </div>
    </div>
    <div class=" bts_section vid-container cf">
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702063.hd.mp4?s=f5b9982fa3d1d9ae383102d6263cb540dbd177c1&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702863.hd.mp4?s=66ce43d17a046c5d8b3da04b67467708a5c1c9f0&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709339.hd.mp4?s=ba58afe167ded383a70e61967253ebbfa88e2616&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709105.hd.mp4?s=52595f0e41069a4f860c0dc95ae0cafe95e2cda1&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
    </div>
    <div class="bts_section socials">
        <div class="hCopy">SOCIAL MEDIA</div>
        <div class="bCopy">
            Want more? We don't blame you! Keep your fingers on the pulse of Spring Summer on our social media channels.
        </div>
        <div class="icons">
            <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_facebook.svg">
            <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_instagram.svg">
            <img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_twitter.svg">
            <img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_youtube.svg">
        </div>
        <!--  <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-MOBILE.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br />Spring Summer</a>
            </div>
        </div> -->
    </div>
    <div class="parallax">
        <div>
            <div class="ss19-header outro compact"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
        </div>
    </div>
          <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-mobile.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-desktop.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br class="only-mobile" />Spring Summer</a>
            </div>
        </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script>
//var s = skrollr.init();

// jQuery('img').click(function() {
//     // video = '<iframe src="' + jQuery(this).attr('data-video') + '"></iframe>';
//     video = '<video class="vidBlock-one" muted autoplay="true" playsinline controlsList="nodownload" src="' + jQuery(this).attr('data-video') + '" style="max-width:100%; width: 50%;">'
//     jQuery(this).replaceWith(video);
// });
</script>