<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <link rel="stylesheet" type="text/css" href="styles/ss19-styles.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="styles/bts-styles.css">

</head>

<!-- <link rel="stylesheet" href="https://www.agentprovocateur.com/media/custom_media/cache/SS19_BTS/bts-styles.css
 ">-->
<div class="bts_container">
    <div class="intro-image">
        <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/image1.jpg">
        <div class="campaignText"><img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/Handwritten-slogan.png">
        </div>
    </div>
    <div class="bts_section section_one">
        <div class="hCopy">BEHIND THE SCENES</div>
        <div class="bCopy">
            We've pulled back the curtain on our Spring Summer campaign, so you can experience the true spirit, energy and strength of 'Pump It Up'
        </div>
        <div class="ctaCopy"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Learn The Moves</a></div>
    </div>
     <div class="bts_section mainVid">
           <div class="main-vid-container">
        <video class="main-vid" style="width: 100%;" loop muted controls playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709477.hd.mp4?s=c859f6bf624ee84490db7797c0e1fd34dc9c6e7d&profile_id=175">
        </video>
 </div>
    </div>
 <div class="bts_section moves">
        <div class="hCopy">The Moves</div>
        <div class="bCopy">
            Work up a sweat with us and learn the 'Pump It Up' dance moves, choreographed by the inimitable Danielle Polanco
        </div>
    </div>
    <div class=" bts_section vid-container cf">
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702063.hd.mp4?s=f5b9982fa3d1d9ae383102d6263cb540dbd177c1&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323702863.hd.mp4?s=66ce43d17a046c5d8b3da04b67467708a5c1c9f0&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709339.hd.mp4?s=ba58afe167ded383a70e61967253ebbfa88e2616&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709105.hd.mp4?s=52595f0e41069a4f860c0dc95ae0cafe95e2cda1&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
    </div>
    <div class="bts_section socials">
        <div class="hCopy">SOCIAL MEDIA</div>
        <div class="bCopy">
            Want more? We don't blame you! Keep your fingers on the pulse of Spring Summer on our social media channels.
        </div>
        <div class="icons">
            <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_facebook.svg">
            <img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_instagram.svg">
            <img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_twitter.svg">
            <img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_youtube.svg">
        </div>
        <!--  <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-MOBILE.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br />Spring Summer</a>
            </div>
        </div> -->
    </div>
    <div class="parallax">
        <div>
            <div class="ss19-header outro compact"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
        </div>
    </div>
          <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-mobile.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-desktop.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br class="only-mobile" />Spring Summer</a>
            </div>
        </div>
</div>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script>
//var s = skrollr.init();

// jQuery('img').click(function() {
//     // video = '<iframe src="' + jQuery(this).attr('data-video') + '"></iframe>';
//     video = '<video class="vidBlock-one" muted autoplay="true" playsinline controlsList="nodownload" src="' + jQuery(this).attr('data-video') + '" style="max-width:100%; width: 50%;">'
//     jQuery(this).replaceWith(video);
// });
var _video = document.querySelector('.main-vid');

// var history = [];


// document.addEventListener('mousemove', onMouseUpdate, false);
// document.addEventListener('mouseenter', onMouseUpdate, false);

// function onMouseUpdate(e) {
//     var state = {
//       mouseX: e.pageX,
//       mouseY: e.pageY,
//     }
//     if (state !== history[history.length-1]) {
//       state.date = new Date();
//       history.push(state);
//     }
// }


// setInterval(checkState, 1000);

// function checkState(){
//     console.log(history);
// }


function isScrolledIntoView( element ) {
    var elementTop    = element.getBoundingClientRect().top,
        elementBottom = element.getBoundingClientRect().bottom;

    return elementTop >= 0 && elementBottom <= window.innerHeight;
}

window.addEventListener("scroll", function(){
  if (isScrolledIntoView(_video)) {
    _video.play();
  }
  else {
    _video.pause()
  }
})

</script>