<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
</head>
<link rel="stylesheet" href="styles/bts-styles.css">
<!-- <link rel="stylesheet" href="https://www.agentprovocateur.com/media/custom_media/cache/SS19_BTS/bts-styles.css
 ">-->
<div class="bts_container">
    <div class="intro-block">
        <img class="intro-block__image" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/image1.jpg">
        <div class="intro-block__campaignText"><img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/Handwritten-slogan.png">
        </div>
    </div>
    <div class="bts_section section_one">
        <div class="hCopy">BEHIND THE SCENES</div>
        <div class="bCopy">
            We've pulled back the curtain on our Spring Summer campaign, so you can experience the true spirit, energy and strength of 'Pump It Up'
        </div>
        <div class="ctaCopy"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Learn The Moves</a></div>
    </div>
    <div class="bts_section mainVid">
           <div class="main-vid-container">
        <video class="main-vid" style="width: 100%;
 
    max-width: 1202px;" loop muted controls playsinline controlsList="nodownload" autoplay="true" src="https://player.vimeo.com/external/323709477.hd.mp4?s=c859f6bf624ee84490db7797c0e1fd34dc9c6e7d&profile_id=175">
        </video>

    </div>

    </div>
    <div class="bts_section moves">
        <div class="hCopy">The Moves</div>
        <div class="bCopy">
            Work up a sweat with us and learn the 'Pump It Up' dance moves, choreographed by the inimitable Danielle Polanco
        </div>
    </div>
    <div class=" bts_section vid-container cf">
        <video class="vidBlock-two" loop muted playsinline controls  controlsList="nodownload" autoplay="true" preload="auto" src="https://player.vimeo.com/external/323769834.hd.mp4?s=67e1779b1f9c7dbb974e2b052bc58cc94b78dc7c&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" preload="auto" src="    https://player.vimeo.com/external/323770011.hd.mp4?s=574380b0886eb6e40a317010f88a40011a4130a9&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" preload="auto" src="https://player.vimeo.com/external/323770248.hd.mp4?s=9b93e2d08362014d817d1a2d8a8422d15fd8107c&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
        <video class="vidBlock-two" loop muted playsinline controlsList="nodownload" autoplay="true" preload="auto" src="https://player.vimeo.com/external/323770126.hd.mp4?s=0d1f8a92847673da2b4b434695d582c3e9dc952d&profile_id=175" style="max-width:100%; width: 50%;">
        </video>
    </div>
  <div class="bts_section socials">
        <div class="hCopy">SOCIAL MEDIA</div>
        <div class="bCopy">
            Want more? We don't blame you! Keep your fingers on the pulse of Spring Summer on our social media channels.
        </div>
        <div class="icons">
          <a href="https://www.facebook.com/agentprovocateur"><img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_facebook.svg"></a>
            <a href="https://www.instagram.com/agentprovocateur/"><img src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_instagram.svg"></a>
            <a href="https://twitter.com/themissap"><img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_twitter.svg"></a>
            <a href="https://www.youtube.com/user/agentprovocateur"><img class="larger" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/icn_blk_youtube.svg"></a>
        </div>
        <!--  <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-MOBILE.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br />Spring Summer</a>
            </div>
        </div> -->
    </div>
    <div class="parallax">
        <div>
            <div class="ss19-header outro compact"><a class="visi" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop Spring Summer</a></div>
        </div>
    </div>
          <div class="end_tile rm_parallax">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="mobile" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-mobile.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}"><img class="desktop" src="https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-desktop.jpg" width="100%"><a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">
            <div class="inner-block">
                <a class="link compact" style="" href="{{store direct_url='lingerie/pump-it-up'}}">Shop <br class="only-mobile" />Spring Summer</a>
            </div>
        </div>
</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js"></script>

<script>

            
            $(function(){
                    
                    window.addEventListener("scroll", function(){                  
           
                        
                        // Is this element visible onscreen?
                         if ($('.main-vid').visible() == true) {
                            console.log('true');
                            $('.main-vid')[0].play();
                         }
                         else
                         {
                            console.log('nope');
                            $('.main-vid')[0].pause();

                         }
                        
                    });
                });
            
        </script>

</script>