<style>
body {
    background-color: #ffffff;
    margin: 0;
    font-family: helvetica;
}
.container {
    max-width: 1200px;
    padding: 0;
}
.page-container {
    max-width: 1920px;;
    width:  100%;
}
.subscribe-wrapper {
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    margin: auto;
}

@media only screen and (min-width: 1024px) {
.subscribe-wrapper {
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    grid-template-rows: 100vh;
}
}

.subscribe__form-wrapper {
    text-align: center;
        width: 600px;
}

.subscribe-wrapper label {
	color: #000000;
	width: unset;
}

.subscribe__form-wrapper p,  .subscribe__form-wrapper span {
    line-height: 19px;
    letter-spacing: 0.64px;
    font-size: 13px;
}
.subscribe-wrapper input[name="Email"] {
    display: block;
    width: 50%;    background: transparent;
    /* border: 0px solid #FFF; */
    /* border-bottom: 1px solid #FFF; */
    font-size: 12px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 20px auto;
    padding: 10px 0;
}
.subscribe-wrapper input[type="submit"] {
    display: block;
    margin: auto;
    float: none;
    border-radius: 0;
    width: 240px;
    height: 40px;
    /* color: #FFF; */
    /* border: 1px solid #FFF; */
    background-color: rgba(256,256,256,0);
    font-weight: bold;
    letter-spacing: 1.6px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

input[type="radio"] {
	vertical-align: bottom;
}

.left, .right {
	    align-self: center;
    justify-self: center;
}

p.fine-print {
    font-size: 9px;
    line-height: 11px;
    margin-top: 60px;
}
.line-break-mobile {
		display: none;
	}
@media only screen and (max-width: 500px) {
	.line-break-mobile {
		display: block;
	}
}

p.fine-print a {
    color: #000000;
}
 
 h2 {
  font-size: 31px;
    line-height: 33px;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 30px;

}

/* REMOVE FOR MAGENTO PAGES */
@media only screen and (min-width: 1600px)
{ 
.content-container {
    width: 70%;
    margin: auto;
}}
/* END REMOVE FOR MAGENTO PAGES */

</style>

<div class="page-container">
	<div class="content-container">
	<div class="subscribe-wrapper">
	<div class="left">
				 <img alt="alt text" border="0" src="https://www.agentprovocateur.com/media/custom_media/email/placeholders/600-placeholder.jpg" width="560"/>

	</div>
	<div class="right">
		<div class="subscribe__form-wrapper">

			<h2>GET A LITTLE<br /> CLOSER</h2>
			<p>Sign up for our exclusive offers, sale previews, style<br /> inspiration and behind-the-scenes content.</p>

			<form method="post" action="http://www.pages02.net/agentprovocateur/Data_Capture_GenericSubscribeAW17/Form_subscribeAW17" pageId="7535535" siteId="323099" parentPageId="7535534" >
						
				<input type="text" name="Email" id="control_EMAIL" label="Email" class="email textInput defaultText" placeholder="Email*">
				<div id="errorMessageContainerId" class="formErrorMessages" style="display: none;">You must enter a valid email address</div>

				<!-- <p id="buying">I am</p> -->
				<p id="buying"> 
					<span>Shopping for</span> <!-- <br class="line-break-mobile" /> -->
					<input type="radio" name="Gifting" id="control_COLUMN143_1" label="Gifting" value="Female" CHECKED >
					<label for="control_COLUMN143_1">Myself</label>
					<input type="radio" name="Gifting" id="control_COLUMN143_0" label="Gifting" value="Male">
					<label for="control_COLUMN143_0">Someone else</label>
				</p>
				<input type="hidden" name="Gender_SEGMENT" id="control_COLUMN109" label="Gender_SEGMENT" class="textInput defaultText">
				<p class="fine-print">By ticking this box, you’re accepting our <a href="{{store direct_url='privacy-policy'}}">Privacy policy</a><br class="line-break-mobile"/>and are confirming that you are 18 or over.</p>

				<input type="submit" class="defaultText buttonStyle cta" value="Sign up">

				<input type="text" name="Website" id="control_COLUMN118" label="Website" class="textInput defaultText" style="display: none;">

				<!-- date -->
				<input type="hidden" name="COLUMN174" id="control_COLUMN174" value="mm/dd/yyyy">

				<input type="hidden" name="formSourceName" value="StandardForm">

				<!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
				<input type="hidden" name="sp_exp" value="yes">

			</form>
</div>
	</div>
	</div>
</div>
</div>


<script>

window.dontShowDataCapture = true;

(function($){

  var countryCode;

  if (window.location.href.indexOf('gb_en') >= 0) {
    countryCode = 'United Kingdom';
  }
  else if (window.location.href.indexOf('eu_en') >= 0) {
    countryCode = 'Europe';
  }
  else if (window.location.href.indexOf('us_en') >= 0) {
    countryCode = 'United States'
  }
  else if (window.location.href.indexOf('int_en') >= 0) {
    countryCode = 'International';
  }
  else {
    countryCode = 'United Kingdom';
  }

	function sizeLeftDiv(){
		const rightW = $('.tp__right').width(),
			w = $('body').width() - rightW,
			paddingL = rightW * 0.27 + 'px';
		$('.tp__left').css({
			width : w,
			opacity : 1
		});
		$('.tp__left .inner').css({
			paddingLeft : paddingL
		});

	}

	$(window).load(function(){

		sizeLeftDiv();

		$(window).on('resize', function(){
			sizeLeftDiv();
		});

	});

	var cookies = {

	    create : function (name,value,days) {
	        var expires = "";
	        if (days) {
	            var date = new Date();
	            date.setTime(date.getTime() + (days*24*60*60*1000));
	            expires = "; expires=" + date.toUTCString();
	        }
	        document.cookie = name + "=" + value + expires + "; path=/";
	    },

	    read : function (name) {
	        var nameEQ = name + "=";
	        var ca = document.cookie.split(';');
	        for(var i=0;i < ca.length;i++) {
	            var c = ca[i];
	            while (c.charAt(0)==' ') c = c.substring(1,c.length);
	            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	        }
	        return null;
	    },

	    erase : function(name) {
	        createCookie(name,"",-1);
	    }

	};

	var formModule = (function(module){

		let _mode = 'forced';

		function mode(formMode = _mode){

			_mode = formMode;

			return _mode;
		}

		function validate(email){

			const emailRegEx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

			const bdayRegEx = /^\d\d\/\d\d\/\d\d\d\d$/;

			if (!emailRegEx.test(email)) {

				showError('email');
				return false;

			}

			return true;
		};




		function showError(err){

			if (err === 'email') {
				$('#errorMessageContainerId').fadeIn();
			}
		};

		function getCountryCode(){
			jQuery('#control_COLUMN118').val(countryCode);
		};

		function setDate(){
			const date = new Date();
			let mm = date.getMonth()+1;
			if (mm <=9){
				mm = '0'+mm;
			}
			let dd = date.getDate();
			if (dd <=9) {
				dd='0'+dd;
			}
			let yyyy = date.getFullYear();
			const str = mm+'/'+dd+'/'+yyyy;
			$('#control_COLUMN174').val(str);

		};

		function getGender(){
			let gender = $('input[name=Gifting]:checked').val();
			$('input[name=Gender_SEGMENT]').val(gender);
			return gender;
		}

		function handleSubmit() {
			//check for validation

			const $form = $('.subscribe-wrapper form');

			$form.submit(function(event){

				const email = $('#control_EMAIL').val();

				const gender = getGender();


				if (!validate(email)) {

					event.preventDefault();

				}

				else {

					setDate();

					getCountryCode();

					_satellite.track("Data Capture – Generic Submit");

					cookie.create('tp_signed_up', '1', 365 );

					$form.fadeOut(500, function(){});

					jQuery('#loader').fadeIn(500, function(){
						return true;
					});

				}
			});  

		};

		function init(){

			handleSubmit();

		};

		return {
			init : init,
			mode : mode
		};

	})();

	formModule.init();

})(jQuery);
</script>

