.container {
  max-width: none;
  margin: auto;
  padding: 0; }
  .container .main-container {
    margin-top: 0; }

.legal-page-container {
  all: inherit;
  font-family: helvetica, arial sans serif;
  font-weight: 100;
  letter-spacing: 1px; }
  .legal-page-container .header-block {
    height: 250px;
    background-image: url(https://www.agentprovocateur.com/media/custom_media/cache/customer_service/Header_Desktop_Legal_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    margin: 0; }
    .legal-page-container .header-block .page-title {
      width: 100%;
      text-align: center;
      color: #ffe7de;
      font-size: 58px;
      text-transform: uppercase;
      letter-spacing: 6px;
      line-height: 48px;
      display: table-cell;
      vertical-align: middle; }
  .legal-page-container .legal-main-content {
    width: 100%;
    max-width: 1200px;
    margin: auto; }
    .legal-page-container .legal-main-content .row {
      margin-top: 40px;
      margin-bottom: 40px; }
    .legal-page-container .legal-main-content .col-xs-9 {
      flex: 0 0 75%;
      width: 777777777775%; }
      .legal-page-container .legal-main-content .col-xs-9 .main-blocks {
        margin-top: 40px; }
        .legal-page-container .legal-main-content .col-xs-9 .main-blocks #back-to-top-btn {
          display: none;
          position: fixed;
          bottom: 15px;
          right: 15px;
          z-index: 99;
          border: none;
          outline: none;
          background-color: #000;
          color: white;
          cursor: pointer;
          padding: 8px;
          font-size: 12px;
          letter-spacing: 1px; }
        .legal-page-container .legal-main-content .col-xs-9 .main-blocks h1 {
          font-size: 27px;
          margin-bottom: 40px;
          border-bottom: none; }
        .legal-page-container .legal-main-content .col-xs-9 .main-blocks p {
          font-size: 14px;
          letter-spacing: 0.25px;
          font-family: helvetica, arial;
          line-height: 20px; }
          .legal-page-container .legal-main-content .col-xs-9 .main-blocks p.title {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500; }
          .legal-page-container .legal-main-content .col-xs-9 .main-blocks p.sub-title {
            font-weight: 500; }
        .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section {
          padding-top: 130px;
          margin-top: -130px; }
          .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section ol {
            list-style: decimal;
            margin-left: 15px; }
            .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section ol li {
              font-size: 14px;
              letter-spacing: 0.5px;
              text-transform: lowercase;
              margin-bottom: 10px; }
          .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section ul {
            list-style: disc;
            margin-left: 15px; }
            .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section ul li {
              font-size: 14px;
              letter-spacing: 0.5px;
              text-transform: lowercase;
              margin-bottom: 10px; }
          .legal-page-container .legal-main-content .col-xs-9 .main-blocks .section.fitting-image {
            margin-bottom: 20px; }
      .legal-page-container .legal-main-content .col-xs-9 h1 {
        text-transform: uppercase;
        padding: 0 0 30px 0;
        font-size: 27px; }
      .legal-page-container .legal-main-content .col-xs-9 h2 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500; }
      .legal-page-container .legal-main-content .col-xs-9 h3 {
        font-size: 14px;
        padding: 10px 0;
        font-weight: bold;
        text-transform: initial; }
      .legal-page-container .legal-main-content .col-xs-9 .del-table {
        overflow: hidden;
        margin-bottom: 25px; }
        .legal-page-container .legal-main-content .col-xs-9 .del-table table {
          border-collapse: collapse;
          border-color: #000; }
          .legal-page-container .legal-main-content .col-xs-9 .del-table table.first {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-9 .del-table table.third {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-9 .del-table table.second {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-9 .del-table table th {
            padding: 12px;
            font-weight: normal;
            font-size: 12px;
            text-align: left; }
            .legal-page-container .legal-main-content .col-xs-9 .del-table table th.bg-white {
              background-color: #ffffff; }
          .legal-page-container .legal-main-content .col-xs-9 .del-table table td {
            padding: 12px;
            font-weight: normal;
            font-size: 12px;
            text-align: left; }
            .legal-page-container .legal-main-content .col-xs-9 .del-table table td.bg-white {
              background-color: #ffffff; }
      .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul {
        all: inherit;
        margin: 35px 0; }
        .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul #extra-items {
          margin-top: 20px;
          display: none; }
        .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul li {
          list-style: none;
          text-transform: uppercase;
          margin-bottom: 15px;
          color: #000;
          letter-spacing: 1px;
          font-size: 15px; }
          .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul li#see-more-btn {
            text-transform: unset !important; }
            .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul li#see-more-btn:hover {
              text-decoration: underline !important; }
          .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul li a {
            text-decoration: none;
            color: #000; }
            .legal-page-container .legal-main-content .col-xs-9 .cs-page-anchors ul li a:hover {
              text-decoration: underline !important; }
    .legal-page-container .legal-main-content .col-xs-3 {
      padding-left: 50px; }
      .legal-page-container .legal-main-content .col-xs-3 h1 {
        text-transform: uppercase;
        padding: 0 0 30px 0;
        font-size: 27px; }
      .legal-page-container .legal-main-content .col-xs-3 h2 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500; }
      .legal-page-container .legal-main-content .col-xs-3 h3 {
        font-size: 14px;
        padding: 10px 0;
        font-weight: bold; }
      .legal-page-container .legal-main-content .col-xs-3 .del-table {
        overflow: hidden;
        margin-bottom: 25px; }
        .legal-page-container .legal-main-content .col-xs-3 .del-table table {
          border-collapse: collapse;
          border-color: #000; }
          .legal-page-container .legal-main-content .col-xs-3 .del-table table.first {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-3 .del-table table.third {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-3 .del-table table.second {
            max-width: 600px;
            width: 100%; }
          .legal-page-container .legal-main-content .col-xs-3 .del-table table th {
            padding: 12px;
            font-weight: normal;
            font-size: 12px;
            text-align: left; }
            .legal-page-container .legal-main-content .col-xs-3 .del-table table th.bg-white {
              background-color: #ffffff; }
          .legal-page-container .legal-main-content .col-xs-3 .del-table table td {
            padding: 12px;
            font-weight: normal;
            font-size: 12px;
            text-align: left; }
            .legal-page-container .legal-main-content .col-xs-3 .del-table table td.bg-white {
              background-color: #ffffff; }
      .legal-page-container .legal-main-content .col-xs-3.hub-links ul li {
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 10px; }
        .legal-page-container .legal-main-content .col-xs-3.hub-links ul li a {
          text-decoration: none;
          color: #000;
          letter-spacing: 1px;
          font-size: 15px; }
          .legal-page-container .legal-main-content .col-xs-3.hub-links ul li a:hover {
            text-decoration: underline !important; }
      .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul {
        all: inherit;
        margin: 35px 0; }
        .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul #extra-items {
          margin-top: 20px;
          display: none; }
        .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul li {
          list-style: none;
          text-transform: uppercase;
          margin-bottom: 15px;
          color: #000;
          letter-spacing: 1px;
          font-size: 15px; }
          .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul li#see-more-btn {
            text-transform: unset !important; }
            .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul li#see-more-btn:hover {
              text-decoration: underline !important; }
          .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul li a {
            text-decoration: none;
            color: #000; }
            .legal-page-container .legal-main-content .col-xs-3 .cs-page-anchors ul li a:hover {
              text-decoration: underline !important; }
    .legal-page-container .legal-main-content .col-xs-12 h1 {
      text-transform: uppercase;
      padding: 0 0 30px 0;
      font-size: 27px; }
    .legal-page-container .legal-main-content .col-xs-12 h2 {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500; }
    .legal-page-container .legal-main-content .col-xs-12 h3 {
      font-size: 14px;
      padding: 10px 0;
      font-weight: bold; }
    .legal-page-container .legal-main-content .col-xs-12 .del-table {
      overflow: hidden;
      margin-bottom: 25px; }
      .legal-page-container .legal-main-content .col-xs-12 .del-table table {
        border-collapse: collapse;
        border-color: #000; }
        .legal-page-container .legal-main-content .col-xs-12 .del-table table.first {
          max-width: 600px;
          width: 100%; }
        .legal-page-container .legal-main-content .col-xs-12 .del-table table.third {
          max-width: 600px;
          width: 100%; }
        .legal-page-container .legal-main-content .col-xs-12 .del-table table.second {
          max-width: 600px;
          width: 100%; }
        .legal-page-container .legal-main-content .col-xs-12 .del-table table th {
          padding: 12px;
          font-weight: normal;
          font-size: 12px;
          text-align: left; }
          .legal-page-container .legal-main-content .col-xs-12 .del-table table th.bg-white {
            background-color: #ffffff; }
        .legal-page-container .legal-main-content .col-xs-12 .del-table table td {
          padding: 12px;
          font-weight: normal;
          font-size: 12px;
          text-align: left; }
          .legal-page-container .legal-main-content .col-xs-12 .del-table table td.bg-white {
            background-color: #ffffff; }
    .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul {
      all: inherit;
      margin: 35px 0; }
      .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul #extra-items {
        margin-top: 20px;
        display: none; }
      .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul li {
        list-style: none;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #000;
        letter-spacing: 1px;
        font-size: 15px; }
        .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul li#see-more-btn {
          text-transform: unset !important; }
          .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul li#see-more-btn:hover {
            text-decoration: underline !important; }
        .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul li a {
          text-decoration: none;
          color: #000; }
          .legal-page-container .legal-main-content .col-xs-12 .cs-page-anchors ul li a:hover {
            text-decoration: underline !important; }

@media only screen and (max-width: 768px) {
  .legal-page-container .header-block .page-title {
    top: 14%; }
  .legal-page-container .legal-main-content .row {
    margin-top: 0; } }
@media only screen and (max-width: 940px) {
  .legal-page-container .legal-main-content {
    padding: 20px; }
    .legal-page-container .legal-main-content .col-xs-3 {
      display: none;
      width: 100% !important;
      flex: 100%; }
      .legal-page-container .legal-main-content .col-xs-3 .del-table table {
        width: 100%; }
    .legal-page-container .legal-main-content .col-xs-9 {
      width: 100% !important;
      flex: 100%; }
      .legal-page-container .legal-main-content .col-xs-9 .del-table table {
        width: 100%; }
    .legal-page-container .legal-main-content .col-xs-12 {
      width: 100% !important;
      flex: 100%; }
      .legal-page-container .legal-main-content .col-xs-12 .del-table table {
        width: 100%; } }
@media only screen and (max-width: 575.99px) {
  .legal-page-container .legal-main-content .col-xs-9 {
    max-width: 100% !important;
    flex: 100%; }
  .legal-page-container .legal-main-content .col-xs-3 {
    width: 100% !important;
    flex: 100%; } }
