<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="date=no" />
<meta name="format-detection" content="address=no" />
<meta name="format-detection" content="telephone=no" />
<title>A sexy little something for {{htmlescape var=$name}} </title>
<style media="screen" type="text/css">
/* Linked Styles */

body {
  padding: 0 !important;
  margin: 0 !important;
  display: block !important;
  width: 100% !important;
  background: #f8f8f8;
  -webkit-text-size-adjust: none
}
a {
  color: #000000;
  text-decoration: none
}
p {
  padding: 0 !important;
  margin: 0 !important
}
.texture-bg-1 {
  background: url(http://www.agentprovocateur.com/media/wysiwyg/SECONDARY_02.jpg);
  background-size: 370px 363px;
  background-position: 370px 0px;
  background-repeat: no-repeat;
}

/* Mobile styles */
@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
div[class='mobile-br-1'] {
  height: 1px !important;
  background: #d2d1d1 !important;
}
div[class='mobile-br-5'] {
  height: 5px !important;
}
div[class='mobile-br-8'] {
  height: 8px !important;
}
div[class='mobile-br-10'] {
  height: 10px !important;
}
div[class='mobile-br-15'] {
  height: 15px !important;
}
div[class='mobile-br-20'] {
  height: 20px !important;
}
td[class='m-td'], div[class='hide-for-mobile'], span[class='hide-for-mobile'] {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  min-height: 0 !important;
}
span[class='mobile-block'] {
  display: block !important;
}
div[class='wgmail'] img {
  min-width: 320px !important;
  width: 320px !important;
}
table[class='mobile-shell'] {
  width: 100% !important;
}
td[class='column'] {
  float: left !important;
  width: 100% !important;
  display: block !important;
}
td[class='sbs-column'] {
  float: left !important;
  width: 20% !important;
  display: block !important;
}
td[class='w10'] {
  width: 10px !important;
}
td[class='w15'] {
  width: 15px !important;
}
td[class='w20'] {
  width: 20px !important;
}
td[class='w25'] {
  width: 25px !important;
}
div[class='w180'] img {
  width: 180px !important;
  height: auto !important;
}
div[class='w280'] img {
  width: 80% !important;
  height: auto !important;
  min-width: 280px !important;
}
div[class='w300'] img {
  width: 100% !important;
  height: auto !important;
  min-width: 300px !important;
}
div[class='text-nav'] {
  font-size: 8px !important;
  line-height: 12px !important;
  letter-spacing: 1px !important;
}
div[class='text-header'] {
  font-size: 8px !important;
  line-height: 12px !important;
  letter-spacing: 0px !important;
}
div[class='h2'] {
  font-size: 22px !important;
  line-height: 26px !important;
  letter-spacing: 0px;
}
div[class='h3'] {
  font-size: 16px !important;
  line-height: 20px !important;
}
div[class='text-i'] {
  font-size: 10px !important;
  line-height: 14px !important;
}
table[class='wauto'] {
  width: 100% !important;
}
div[class='text-footer'], div[class='text-footer-r'] {
  text-align: center !important;
}
img[class='full-range'] {
  width: 100% !important;
  height: auto !important;
  min-width: 300px !important;
}
.texture-bg-1 {
  background: #fed9da !important;
  background-size: 100% !important;
}
div[class='text-footer-c'], div[class='text-i.store-locator-text'], div[class='text-i.unsubscribe-text'] {
    text-align: center !important;
}

a[class='locator-link']
 {
  font-size: 12px !important;
  text-decoration: none !important;
    text-align: center !important;
  letter-spacing:1px;

  }
  a[class='unsub-link']
 {
  font-size: 11px !important;
  text-decoration: none !important;
    text-align: center !important;
  letter-spacing:1px;

  }

  .store-locator-text,.unsubscribe-text {
    font-size: 12px !important;
  text-decoration: none !important;
    text-align: center !important;
}

  .text-footer-c a {
    color: #888888;

  }
}
</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; width:100% !important; background:#f8f8f8; -webkit-text-size-adjust:none">
<table cellspacing="0" cellpadding="0" border="0" bgcolor="#f8f8f8" width="100%">
  <tr>
    <td align="center" valign="top"><table class="mobile-shell" cellspacing="0" cellpadding="0" border="0" width="740">
        <tr>
          <td class="w10" style="font-size:0pt; line-height:0pt; text-align:center" width="0">&nbsp;</td>
          <td bgcolor="#FFFFFF" align="center"><!-- Header -->

            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
              <tr>
                <td align="center"><div style="display:block; font-size:0pt; line-height:10px; height:10px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:10px"  contentid="20b6c8bf-159bb9500f7-3f3d5eceea4051b7c82d96ba93c1b04e"   width="1" /></div>
                  <div class="hide-for-mobile" style="background-color:#FFFFFF">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tr>
                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20">&nbsp;</td>
                        <td class="text-head" style="color:#000000; font-family:Arial; font-size:10px; line-height:14px; text-align:left" width="500"><a href="{{store url=""}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_HD&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" style="color:#808080"  target="_blank">Hi {{htmlescape var=$name}} discover what {{htmlescape var=$sender_name}} has shared with you &gt;</a></td>
                        <td class="text-head-r" style="color:#808080; font-family:Arial; font-size:10px; line-height:14px; text-align:right" width="200"></td>
                        <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="20">&nbsp;</td>
                      </tr>
                    </table>
                  </div>
                  <div style="display:block; font-size:0pt; line-height:15px; height:15px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:15px"  contentid="20b6c8bf-159bb9500f7-3f3d5eceea4051b7c82d96ba93c1b04e"   width="1" /></div>
                  <div class="img-center" style="display:block; font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF">
                    <div class="w280"><a href="{{store url=""}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_LOGO&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="http://www.agentprovocateur.com/media/wysiwyg/SS01.png" width="357" height="68" border="0" /></a></div>
                  </div>
                  <div style="display:block; font-size:0pt; line-height:15px; height:15px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:15px"  contentid="20b6c8bf-159bb9500f7-3f3d5eceea4051b7c82d96ba93c1b04e"   width="1" /></div>
                  <div style="display:block; font-size:0pt; line-height:0pt; background-color:#FFFFFF" class="mobile-br-5"></div>

                  <!-- Navigation --> <!-- End Navigation -->

                  <div style="display:block; font-size:0pt; line-height:6px; height:6px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:6px"  contentid="20b6c8bf-159bb9500f7-3f3d5eceea4051b7c82d96ba93c1b04e"   width="1" /></div>
                  <div class="hide-for-mobile">
                    <div style="display:block; font-size:0pt; line-height:6px; height:6px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:6px"  contentid="20b6c8bf-159bb9500f7-3f3d5eceea4051b7c82d96ba93c1b04e"   width="1" /></div>
                  </div></td>
              </tr>
            </table>

            <!-- End Header --> <!-- Section 1 -->

            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
                <td align="center"><div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                  <div style="display:block; font-size:0pt; line-height:10px; height:10px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:10px" width="1" /></div>
                  <div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:14px; font-weight:bold; letter-spacing: 2px;">{{htmlescape var=$name}} has sent you a hint</div>
                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div></td>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
              </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
                <td align="center"><div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:11px; font-weight:normal; letter-spacing: 2px;">{{var message}}</div>

                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                  </td>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
              </tr>
            </table>

               <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
                <td align="center"><div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                <div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:11px; letter-spacing: 2px;">From</div>

                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>

                  <div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:14px; font-weight:normal; letter-spacing: 2px;">{{htmlescape var=$name}}</div>
                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div></td>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
              </tr>
            </table>
            <div class="img-center" style="display:block; font-size:0pt; line-height:0pt; text-align:center">
              <div class="w280" style="background-color:#FFFFFF"><a href="{{var product_url}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_WS1&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="{{var product_image}}" border="0" width="100%" style="max-width:500px"/></a></div>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
                <td align="center"><div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                  <div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:14px; font-weight:bold; letter-spacing: 2px; text-transform: uppercase;">{{var product_name}}</div>
                  <div style="display:block; font-size:0pt; line-height:10px; height:10px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:10px" width="1" /></div>
                  <div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:14px; font-weight:normal; letter-spacing: 2px; text-transform: uppercase;">Size: {{htmlescape var=$product_attributes.size}}</div>
                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>

                  <!--<div class="i" style="background-color:#FFFFFF; line-height: 20px; text-align: center; font-family:Helvetica, sans-serif; color:#000000; font-size:11px; font-weight:normal; letter-spacing: 2px;">{{var product_description}}</div>
                        <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>-->

                  <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>

                  <!-- Button -->

                  <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" width="100%">
                    <tr>
                      <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
                          <tr>
                            <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                  <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="{{var product_url}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_WS2&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="http://www.agentprovocateur.com/media/wysiwyg/CTA_button_AP.png" height="30" border="0" width="220" /></a></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>

                  <!-- End Button --></td>
                <td class="w20" style="font-size:0pt; line-height:0pt; text-align:center; background-color:#FFFFFF;" width="35">&nbsp;</td>
              </tr>
            </table>

            <!--<table cellspacing="0" cellpadding="0" border="0" bgcolor="#fbd9db" width="100%">
              <tr>
                <td align="center"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                      <td class="m-td" width="10"><div style="display:block; font-size:0pt; line-height:10px; height:10px;"><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div>
                        <div class="img-center" style="display:block; font-size:0pt; line-height:10px; height:10px; text-align:center">
                          <div><img src="http://www.agentprovocateur.com/media/wysiwyg/heart_red.png"height="10" border="0" width="10" /></div>
                        </div>
                        <div style="display:block; font-size:0pt; line-height:10px; height:10px; "><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div></td>
                      <td align="center" width="560"><div style="display:block; font-size:0pt; line-height:10px; height:10px; background-color:#fbd9db"><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div>
                        <div style="font-family:Helvetica, Arial, sans-serif; font-size:10px; line-height:18px; text-align:center; text-transform:uppercase; letter-spacing:3px"><a style="color:#c12d34; text-transform:uppercase; text-decoration:none" href="http://www.agentprovocateur.com/gb_en/delivery-information?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank">Get it in time for Valentine's Day. See our delivery page for more details.</a></div>
                        <div style="display:block; font-size:0pt; line-height:10px; height:10px; background-color:#fbd9db"><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div></td>
                      <td class="m-td" width="10"><div style="display:block; font-size:0pt; line-height:10px; height:10px; "><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div>
                        <div class="img-center" style="display:block; font-size:0pt; line-height:10px; height:10px; text-align:center">
                          <div><img src="http://www.agentprovocateur.com/media/wysiwyg/heart_red.png" height="10" border="0" width="10" /></div>
                        </div>
                        <div style="display:block; font-size:0pt; line-height:10px; height:10px; "><img style="display: block; height:10px; opacity:0" src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif"  width="1" /></div></td>
                      <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table>-->
            <!--<div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
            <table class="texture-bg-1" cellspacing="0" cellpadding="0" border="0" bgcolor="#fed9da" width="100%">
              <tr>
                <td class="column" width="370"><div style="display:block; font-size:0pt; line-height:0pt; text-align:center" class="img-center">
                    <div class="w300"><a href="http://www.agentprovocateur.com/gb_en/valentines-day?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="http://www.agentprovocateur.com/media/wysiwyg/SECONDARY_01.jpg" height="363" border="0" width="370" /></a></div>
                  </div></td>
                <td class="column" width="370"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                      <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="0">
                          <tr>
                            <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                  <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><div style="display:block; font-size:0pt; line-height:20px; height:20px;"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:20px" width="1" /></div>
                                    <a href="http://www.agentprovocateur.com/gb_en/valentines-day?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="http://www.agentprovocateur.com/media/wysiwyg/motel-amour-01_1.png" height="100" border="0" width="220" /></a></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                    </tr>
                  </table>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="0">
                          <tr>
                            <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                            <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                  <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><div style="display:block; font-size:0pt; line-height:15px; height:15px"><img  style="display: block; height:15px; opacity:0"     src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" width="1" /></div>
                                    <div class="text-i" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:14px; line-height:18px; text-align:center; letter-spacing:2px;">Light up your Valentine's Day with delicious lingerie and nightwear</div>
                                    <div style="display:block; font-size:0pt; line-height:30px; height:15px"><img  style="display: block; height:15px; opacity:0"     src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" width="1" /></div></td>
                                </tr>
                              </table></td>
                            <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>


                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                      <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="1">
                          <tr>
                            <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                  <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="http://www.agentprovocateur.com/gb_en/valentines-day?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank"><img src="http://www.agentprovocateur.com/media/wysiwyg/CTA_button_AP_2.png" height="30" border="0" width="220" /></a></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td width="35" style="font-size:0pt; line-height:0pt; text-align:center" class="w20">&nbsp;</td>
                      <div style="display:block; font-size:0pt; line-height:30px; height:15px"><img  style="display: block; height:15px; opacity:0"     src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" width="1" /></div>
                    </tr>
                  </table>
                  <div style="display:block; font-size:0pt; line-height:0pt; background-color:" class="mobile-br-25">&nbsp;</div>

                  </td>
              </tr>
            </table></td>
        </tr>
      </table>
      <div style="display:block; font-size:0pt; line-height:0pt; background-color:#fed9da" class="mobile-br-20"></div>
      <div style="display:block; font-size:0pt; line-height:0pt; background-color:#fed9da" class="mobile-br-20"></div>-->

      <div style="display:block; font-size:0pt; line-height:40px; height:40px; background-color:#FFFFFF"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" style="display: block; opacity:0; height:40px" width="1" /></div>
      <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <tbody>
          <tr>
            <td class="column" width="370"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="font-size:0pt; line-height:0pt; text-align:center" class="w20" width="35">&nbsp;</td>
                    <td align="center"><div style="display:block; font-size:0pt; line-height:20px; height:20px"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" alt="" style="display: block;" width="1" /></div>
                      <div style="color:#000000; font-family:helvetica, arial; font-size:20px; line-height:28px; text-align:center; text-transform:uppercase; letter-spacing:7px" class="h2">Need a little assistance</div>
                      <div style="display:block; font-size:0pt; line-height:20px; height:20px"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" alt="" style="display: block;" width="1" /></div>
                      <div style="color:#000000; font-family:helvetica, arial; font-size:12px; line-height:18px; text-align:center; letter-spacing:2px;" class="text-i">Need help with sizing and fit? Looking for the perfect gift? Our customer services team are here to make shopping a pleasure</div>
                      <div style="display:block; font-size:0pt; line-height:30px; height:30px"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" alt="" style="display: block;" width="1" /></div>

                      <!-- Button -->

                      <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td align="center">
                              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tr>
                                  <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#000000" border="1">
                                      <tr>
                                        <td><table cellspacing="0" cellpadding="0" width="100%" border="0">
                                            <tr>
                                              <td width="220" height="30" class="img-center" style="font-size:10px; text-transform:uppercase; line-height:15px; text-align:center"><div style="display:block; font-size:0pt; line-height:10px; height:10px"><img spname="images_spacer.gif"   alt="" style="display: block; height:10px; opacity:0" src="images_spacer.gif" name="images_spacer.gif" width="1" /></div>
                                                <a href="{{store url="contacts"}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_CS&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" style="color:#000000; font-family:Arial, Helvetica, sans-serif; letter-spacing:2px; text-decoration: none; vertical-align:middle;" target="_blank">Contact us</a>
                                                <div style="display:block; font-size:0pt; line-height:10px; height:10px"><img spname="images_spacer.gif"   alt="" style="display: block; height:10px; opacity:0" src="images_spacer.gif" name="images_spacer.gif" width="1" /></div></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table></td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- End Button --></td>
                    <td style="font-size:0pt; line-height:0pt; text-align:center" class="w20" width="35">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <div style="display:block; font-size:0pt; line-height:30px; height:30px"><img src="http://www.agentprovocateur.com/media/wysiwyg/images_spacer.gif" alt="" style="display: block;" width="1" /></div></td>
            <td class="column" width="370" bgcolor="#ffe7de"><div style="display:block; font-size:0pt; line-height:0pt; text-align:center" class="img-center">
                <div class="w300"> <a target="_blank" href="{{store url="contacts"}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_CS&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL"> <img src="https://www.agentprovocateur.com/media/custom_media/email/ss18/600-boxes.jpg" width="370" height="372" border="0" alt="" /> </a> </div>
              </div></td>
          </tr>
        </tbody>
      </table>


                  <div style="display:block; font-size:0pt; line-height:30px; height:30px; background-color:#FFFFFF">nbsp</div>
                  <div style="display:block; font-size:0pt; line-height:1px; height:1px; background:#d2d1d1; ">nbsp</div>
                  <table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="100%" border="0">
                    <tr>
                      <td class="column" width="220"><table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                          <tr>
                            <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                  <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                      <tr>
                                        <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="0">
                                            <tr>
                                              <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                  <tr>
                                                    <td class="column"><div class="text-footer" style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">&nbsp;</div>
                                                      <div style="color:#000000; font-family:Helvetica; font-size:18px; line-height:24px; text-align:center; text-transform:uppercase; letter-spacing:3px; "><a name="www_agentprovocateur_com__18" xt="SPNOTRACK" href="{{store url="lookbook"}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank" style="color:#000000; font-family:Helvetica; font-size:14px; line-height:24px; color:#000000; text-decoration:none;">AW18</a></div>
                                                      <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">&nbsp;</div>
                                                      <div style="display:block; font-size:0pt; line-height:0pt;" class="mobile-br-1"></div></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>

                                    <!-- End Button --></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td class="m-td" width="1"><div style="display:block; font-size:0pt; line-height:64px; height:64px; background:#d2d1d1; "><img style="display: block; height:64px"   spname="images_spacer.gif" name="images_spacer.gif" alt="" src="images_spacer.gif" width="1" /></div></td>
                      <td class="column" width="220"><table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                          <tr>
                            <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                  <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                      <tr>
                                        <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="0">
                                            <tr>
                                              <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                  <tr>
                                                    <td class="img-center" style="font-size:0pt; "><div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">&nbsp;</div>
                                                      <div style="color:#000000; font-family:Helvetica; font-size:14px; line-height:24px; text-align:center; text-transform:uppercase; letter-spacing:3px"><a name="www_agentprovocateur_com__16" xt="SPNOTRACK" href="{{store url="new-in"}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" target="_blank" style="text-decoration:none; color:#000000">New In</a></div>
                                                      <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">&nbsp;</div>
                                                      <div style="display:block; font-size:0pt; line-height:0pt;" class="mobile-br-1"></div></td>
                                                  </tr>
                                                </table></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>

                                    <!-- End Button --></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                      <td class="m-td" width="1"><div style="display:block; font-size:0pt; line-height:64px; height:64px; background:#d2d1d1; "><img style="display: block; height:64px"   spname="images_spacer.gif" name="images_spacer.gif" alt="" src="images_spacer.gif" width="1" /></div></td>
                      <td class="column" width="220"><table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                          <tr>
                            <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                  <td align="center"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                      <tr>
                                        <td align="center"><table class="wauto" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF" border="0">
                                                                      <tr>
                                                    <td class="img-center" style="font-size:0pt;">
                                                      <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">
                                                        &nbsp;
                                                      </div>
                                                       <div style="color:#fdddd1; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; text-align:center; letter-spacing:2px; text-transform:uppercase"><a class="link" href='{{store url="swimwear/view-all-sale"}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_SN3&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL}}' style="color:#000000; text-decoration:none"><span class="link" style="color:#000000; text-decoration:none">SWIMWEAR</span></a></div>
                                                      <div style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#FFFFFF">
                                                        &nbsp;
                                                      </div>
                                                    </td>
                                                  </tr>
                                          </table></td>
                                      </tr>
                                    </table>

                                    <!-- End Button --></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <div style="display:block; font-size:0pt; line-height:1px; height:1px; background:#d2d1d1; ">&nbsp;</div>


                  <div class="hide-for-mobile" style="display:block; font-size:0pt; line-height:20px; height:20px; background-color:#ffffff"><img alt="" name="Cont_0" src="http://contentz.mkt6021.com/ra/2017/18208/11/12275087/images_spacer.gif" style="display: block; height:20px; opacity:0" width="1" /></div>
   <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
                    
                      <tr>
                        <td width="100%">
                        <div style="display:block; font-size:0pt; line-height:20px; height:20px;"><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block; height:20px" width="1" /></div>
                        </td>
                      </tr>
                      <tr>
                        <td><!-- Section 1-->
                        <div class="hide-for-mobile" style="display:block; font-size:0pt; line-height:20px; height:20px; "><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block; opacity:0; ; height:20px; opacity:0" width="1" /></div>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          
                            <tr>
                              <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="120"><span style="font-size: 11px;"></span></td>
                              <td class="column" width="600">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%"><!-- Social LINKS -->
                                
                                  <tr>
                                    <td style="font-size:0pt; line-height:0pt; text-align:center" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      
                                        <tr>
                                          <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="382"><span style="font-size: 11px;"></span></td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="24">
                                          <div class="social-resize"><a href="https://www.facebook.com/agentprovocateur" name="FT1" target="_blank" xt="SPCLICKSTREAM"><img border="0" height="24" name="http:__contentz.mkt6021.com_ra_2018_18208_03_13038028_images_icon_facebook3.png" src="https://www.agentprovocateur.com/media/custom_media/email/black-images_icon_facebook.png" width="24" /></a></div>
                                          </td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="20"><span style="font-size: 11px;"></span></td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="24">
                                          <div class="social-resize"><a href="https://www.instagram.com/agentprovocateur/" name="FT2" target="_blank" xt="SPCLICKSTREAM"><img border="0" height="24" name="Cont_2" src="https://www.agentprovocateur.com/media/custom_media/email/black-images_icon_instagram.png" width="24" /></a></div>
                                          </td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="20"><span style="font-size: 11px;"></span></td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="24">
                                          <div class="social-resize"><a href="https://twitter.com/themissap" name="FT3" target="_blank" xt="SPCLICKSTREAM"><img border="0" height="24" name="Cont_3" src="https://www.agentprovocateur.com/media/custom_media/email/black-images_icon_twitter.png" width="24" /></a></div>
                                          </td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="20"><span style="font-size: 11px;"></span></td>
                                          <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="24">
                                          <div class="social-resize"><a href="https://www.pinterest.co.uk/agentprovocateu/" name="FT4" target="_blank" xt="SPCLICKSTREAM"><img border="0" height="24" name="Cont_4" src="https://www.agentprovocateur.com/media/custom_media/email/black-images_icon_pinterest.png" width="24" /></a></div>
                                          </td>
                                          <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="382">&nbsp;</td>
                                        </tr>
                                      
                                    </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="120">
                                    <div style="display:block; font-size:0pt; line-height:20px; height:20px; "><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block; height:20px" width="1" /></div>

                                    <div class="mobile-br-1" style="font-size:0pt; line-height:1px; background-color: transparent;">&nbsp;</div>
                                    </td>
                                  </tr>
                                  <!-- Social LINKS -->
                                  <tr>
                                    <td style="font-size:0pt; line-height:0pt; text-align:center; width:100%" width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                      
                                        <tr>
                                          <td align="center">
                                          <table border="0" cellpadding="0" cellspacing="0" style="width:100%" width="100%">
                                            
                                              <tr>
                                                <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="20"><span style="font-size: 11px;"></span></td>
                                                <td class="column" style="width:20%; min-width:109px" width="20%">
                                                <div class="black-lines mobile-br-20" style="font-size:0pt; line-height:0pt;">&nbsp;</div>

                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt; background-color: transparent;">&nbsp;</div>

                                                <div class="text-footer" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px !important; line-height:16px; text-align:left; letter-spacing:1px; text-transform:uppercase"><a class="link" href="https://www.agentprovocateur.com/gb_en/delivery-information?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT5&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" name="FT5" style="color:#000000; text-decoration:none" target="_blank" xt="SPCLICKSTREAM"><span class="link" style="color:#000000; text-decoration:none">DELIVERY</span></a></div>

                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt;">&nbsp;</div>

                                                <div class="black-lines mobile-br-1" style="font-size:0pt; line-height:1px; background-color:transparent;">&nbsp;</div>
                                                </td>
                                                <td class="column" style="width:32%; min-width:174px" width="32%">
                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt;">&nbsp;</div>

                                                <div class="text-footer" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px !important; line-height:16px; text-align:left; letter-spacing:1px; text-transform:uppercase"><a class="link" href="https://www.agentprovocateur.com/gb_en/personal-shopping?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT6&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" name="FT6" style="color:#000000; text-decoration:none" target="_blank" xt="SPCLICKSTREAM"><span class="link" style="color:#000000; text-decoration:none">PERSONAL&nbsp;SHOPPING</span></a></div>

                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt;">&nbsp;</div>

                                                <div class="black-lines mobile-br-1" style="font-size:0pt; line-height:1px; background-color:transparent;">&nbsp;</div>
                                                </td>
                                                <td class="column" style="width:22%; min-width:119px" width="22%">
                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt;"><span style="font-size: 11px;"></span></div>

                                                <div class="text-footer" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px !important; line-height:16px; text-align:left; letter-spacing:1px; text-transform:uppercase"><a class="link" href="https://www.agentprovocateur.com/gb_en/gift-vouchers?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT7&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" name="FT7" style="color:#000000; text-decoration:none" target="_blank" xt="SPCLICKSTREAM"><span class="link" style="color:#000000; text-decoration:none">GIFT CARDS</span></a></div>

                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt;">&nbsp;</div>

                                                <div class="black-lines mobile-br-1" style="font-size:0pt; line-height:1px; background-color:transparent;">&nbsp;</div>
                                                </td>
                                                <td class="column" style="width:26%; min-width:141px" width="26%">
                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt; background-color: transparent;">&nbsp;</div>

                                                <div class="text-footer" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px !important; line-height:16px; text-align:left; letter-spacing:1px; text-transform:uppercase"><a class="link" href="https://www.agentprovocateur.com/gb_en/storelocator?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT8&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" name="FT8" style="color: #000000; text-decoration:none" target="_blank" xt="SPCLICKSTREAM"><span class="link" style="color:#000000; text-decoration:none">STORE LOCATOR</span></a></div>

                                                <div class="mobile-br-20" style="font-size:0pt; line-height:0pt; background-color: transparent;">&nbsp;</div>

                                                <div class="mobile-br-1" style="font-size:0pt; line-height:1px; background-color: transparent;">&nbsp;</div>

                                                <div class="black-lines mobile-br-20" style="font-size:0pt; line-height:0pt; background-color: transparent;">&nbsp;</div>
                                                </td>
                                              </tr>
                                            
                                          </table>
                                          </td>
                                        </tr>
                                        <!-- END SERVICE LINKS -->
                                        <tr>
                                          <td width="100%">
                                          <div style="display:block; font-size:0pt; line-height:20px; height:20px;  "><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block; height:20px" width="1" /></div>
                                          </td>
                                        </tr>
                                        <!-- Copyright -->
                                        <tr>
                                          <td style="font-size:0pt; line-height:0pt;" width="100%">
                                          <div class="text-footer-c">
                                          <p style="color: #000000; text-align: center; font-family: Arial; font-size: 10px; line-height: 14px;">Can&#39;t read this email? <a href="#SPCLICKTOVIEW" name="FT11" style="color:#000000; text-decoration:underline" target="_blank" xt="SPCLICKTOVIEW">View it online</a>.<br />
                                          <br />
                                          <span style="font-size: 11px;"></span></p>

                                          <p style="color: #000000 !important; text-align: center; font-family: Arial; font-size: 10px; line-height: 14px;">154 Clerkenwell Rd, London, EC1R 5AB.<br />
                                          <br />
                                          Registered in England. Registration number 2896508. VAT number 264003734. <a class="link-u" href="https://www.agentprovocateur.com/gb_en/terms-and-conditions?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT9&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL" name="FT10" style="color: #000000; text-decoration:underline" target="_blank" xt="SPCLICKSTREAM">Terms &amp; Conditions</a><br />
                                          <br />
                                          <span style="font-size: 11px;"></span></p>
<p style="color: #000000; text-align: center; font-family: Arial; font-size: 10px; line-height: 14px;">&copy; Agent Provocateur Ltd 2018. Products, prices and offers are available while stocks last and subject to change. See <a href='{{store url=""}}?cmp=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL_FT5&utm_source=silverpop&utm_medium=email&utm_campaign=EM_ECOM_SV_SERVICE_SENDAHINT_ALL_ALL' style="color: #000000; text-decoration:underline">www.agentprovocateur.com</a> for up to date details. <br />
                              <span style="font-size: 11px;"></span></p>
                                     
                                          </div>

                                          <div class="mobile-br-15" style="display:block; font-size:0pt; line-height:0pt;"><span style="font-size: 11px;"></span></div>
                                          </td>
                                        </tr>
                                        <!-- END Copyright -->
                                      
                                    </table>
                                    </td>
                                    <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="120"><span style="font-size: 11px;"></span></td>
                                  </tr>
                                  <tr>
                                    <td>
                                    <div style="display:block; font-size:0pt; line-height:25px; height:25px;"><img alt="" height="30" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block; height:25px; opacity:0" width="1" /></div>
                                    </td>
                                  </tr>
                                
                              </table>
                              </td>
                              <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:center" width="120"><span style="font-size: 11px;"></span></td>
                            </tr>
                          
                        </table>
                        <!-- END FOOTER --></td>
                      </tr>
                    
                  </table>
                  </td>
                </tr>
              
            </table>
            </td>
          </tr>
        
      </table>
      </td>
    </tr>
  
</table>
</body>
</html>
