body {
    background-color: #ffffff;
    margin: 0;
    font-family: Helvetica, Arial, sans serif;
    .page-container {
        max-width: 1920px; // margin-top: 100px;
        width: 100%;
        margin: auto;
        .content-container {
            .subscribe-success-wrapper {
                max-width: 1200px;
                width: 100%;
                margin: auto;

                    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

                    overflow: auto;

                .left {
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    float: unset;
                    @media screen and (min-width: 769px) {
                        width: 49%;
                    }
                    img {
                        margin: auto;
                        width: 100%;
                        max-width: 460px;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        height: auto;
                    }
                }
                .right {
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    text-align: center;
                    float: unset;
                    @media screen and (min-width: 769px) {
                        width: 49%;
                    }
                    h2 {
                        font-size: 31px;
                        line-height: 33px;
                        letter-spacing: 5px;
                        margin-bottom: 30px;
                    }

                    .line-break-mobile {
                                display: none;
                                @media screen and (min-width: 768px) {
                                    display: inline-block;
                                }
                            }
                    .cta {
                        width: 269px;
                        border: 1px solid #000;
                        border-radius: 0;
                        color: #000 !important;
                        padding: 10px;
                        background-color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px !important;
                        letter-spacing: 1.6px;
                        display: block;
                        transition: all 0.2s ease-in-out;
                        // height: 40px;
                        margin: auto;
                        line-height: 20px;
                        margin-bottom: 20px;
                        &:hover {
                            cursor: pointer;
                            color: #fff;
                            background-color: #000;
                            a {
                            color: #fff;
                            text-decoration: none;
                        }
                        }
                        a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

