<div class="page-container">
    <div class="content-container">
        <div class="subscribe-success-wrapper">
            <div class="left">
                <img alt="alt text" border="0" src="https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/Subscribe_success_page_ss18.jpg" width="460" />
            </div>
            <div class="right">
                <h2>Thank  you for <br class="line-break-mobile"/>signing up</h2>
                    <!--<p>Awaiting copy...</p>-->
                    <div class="defaultText buttonStyle cta"><a href="{{store direct_url=''}}" target="_blank">Start shopping</a></div>
            </div>
        </div>
    </div>
</div>

<!--     <link rel="stylesheet" type="text/css" href="subscribe-success-styles.css">
 -->   
    <link rel="stylesheet" type="text/css" href="subscribe-success-styles.css">

<style>
    div#silverpop-signup-wrapper {
        display: none;
    }

@media screen and (min-width:1024px) {
.container .main-container {
    margin-top: 110px;
}
}
</style>
