<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="legal-page-container">
    <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Legal</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
<!--                   {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->                <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='terms-and-conditions'}}">Terms and Conditions</a></li>
                            <li> <a href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></li>
                            <li><a href="{{store direct_url='cookie-policy'}}">Cookie Policy</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-xs-9">
    <h1>Agent Provocateur privacy policy</h1>
   <div style="background-color: #000000; height: 1px; width: 100%;" ></div>
        <div class="cs-page-anchors">
          <ul>
            <li><a href="#introduction">Introduction</a></li>
          <li> <a href="#consent">Consent</a></li>
          <li><a href="#contractual-obligations">Contractual obligations</a></li>
          <li><a href="#legal-compliance">Legal Compliance</a></li>
          <li> <a href="#when-do-we-collect">When Do We Collect Your Data</a></li>
          <li><a href="#what-sort-of-data">What Sort Of Data Do We Collect</a></li>
         
      
            <div id="extra-items">
             <li><a href="#how-and-why">How And Why We Collect Your Data</a></li>
          <li> <a href="#how-do-we-protect">How Do We Protect Your Data?</a></li>
          <li><a href="#how-long-kept">How Long Do We Keep Your Data?</a></li>
          <li><a href="#orders">Orders</a></li>
          <li> <a href="#who-do-we-share">Who Do We Share Your Data With?</a></li>
          <li><a href="#how-do-we-share-your-data">How Do We Share Your Data With Third Parties For Their Own Purposes?</a>
          </li>
            </div>
            <li id="see-more-btn" onclick="myFunction()"><a href="#Something">See more...</a></li>

          </ul>
      </div>
         <div style="background-color: #000000; height: 1px; width: 100%;" ></div>

    <div class="main-blocks">

      <div class="section" id="introduction">
       <p class="title">Introduction</p>

       <p>
This privacy notice explains in detail the types of personal data we may collect about you when you interact with us. It also explains how we’ll store and handle that data, and keep it safe.

Legal basis of processing your data
The law on data protection sets out a number of different reasons for which a company may collect and process your personal data, including:
</p>
       <p>Legal basis of processing your data<br />
The law on data protection sets out a number of different reasons for which a company may collect and process your personal data, including:
</p>
    

      </div>

      <div class="section" id="consent">
        <p class="title">Consent</p>
       
        <p>In specific situations, we can collect and process your data with your consent. For example, when you tick a box consenting to receive email newsletters</p>
      </div>

       <div class="section" id="contractual-obligations">
        <p class="title">Contractual obligations</p>
       
        <p>In certain circumstances, we need your personal data to comply with our contractual obligations. For example, if you order an item from us for home delivery, we’ll collect your address details to deliver your purchase, and pass them to our courier. </p>
      </div>

        <div class="section" id="legal-compliance">
        <p class="title">Legal compliance</p>
       
        <p>If the law requires us to, we may need to collect and process your data.</p>
      </div>
       <div class="section" id="when-do-we-collect">
        <p class="title">When do we collect your data?</p>
       
        <ul>
           <li>When you visit our website, and use your account to buy products.</li>

          <li>When you make an online purchase and check out as a guest (in which case </li>
          <li>we just collect transaction-based data).</li>

          <li>When you create an account with us.</li>

          <li>When you engage with us on social media.</li>

          <li>When you contact us by any means with queries, complaints etc.</li>

          <li>When you enter prize draws or competitions.</li>

          <li>We collect data from publicly-available sources (such as Land Registry) when you have given your consent to share information or where the information is made public as a matter of law.</li>

          <li>When you enter our stores or offices, CCTV systems operated for the security of both customers. These systems may record your image during your visit.</li>

        </ul>
        <p>
Your image may be recorded on CCTV when you visit a shop. 
</p>
<p>To deliver the best possible web experience, we collect technical information about your internet connection and browser as well as the country and telephone code where your computer is located, the web pages viewed during your visit, the advertisements you clicked on, and any search terms you entered. Learn more about this (link to cookie policy).
</p>
<p>We may also store your social media username, if you interact with us through those channels, to help us respond to your comments, questions or feedback.
</p>
      </div>

    <div class="section" id="what-sort-of-data">
        <p class="title">What sort of data do we collect?</p>
       
        <p>
          If you have a web account with us, we store:<br />
          <ul>

<li>Your name, billing/delivery address, orders and receipts, email and telephone number. </li>

<li> Information gathered by the use of cookies in your web browser. Learn more about how we use cookies and similar technologies (link to cookie policy).</li>

<li>Details of your visits to our websites or apps, and which site you came from to ours.</li>
<li>Personal details which help us to recommend items of interest.</li>
<li>Payment card information.</li>
</ul>

        </p>
      </div>
         <div class="section" id="how-and-why">
        <p class="title">How and why we collect your data</p>
       
        <p>
          We want to give you the best possible customer experience. To do this, we use the data we have relating to your use of our website, and social interactions with us, to deliver more personalised content.</p>

<p>We then use this to offer you promotions, products and services that are most likely to interest you.</p>

<p>The data privacy law allows this as part of our legitimate interest in understanding our customers and providing the highest levels of service.</p>

<p>You always remain in control of your own privacy. If you wish to change how we use your data, you’ll find details in the ‘What are my rights?’ section below.</p>

<p>Remember, if you choose not to share your personal data with us, or refuse certain contact permissions, we might not be able to provide some services you’ve asked for.</p>

<p>Here’s how we’ll use your personal data and why:
  <ul>
   <li>To process any orders that you make by using our websites, apps or in store. If we don’t collect your personal data during checkout, we won’t be able to process your order and comply with our legal obligations.</li>

 <li>To respond to your queries, refund requests and complaints. Handling the information you sent enables us to respond. We may also keep a record of these to inform any future communication with us and to demonstrate how we communicated with you throughout. We do this on the basis of our contractual obligations to you, our legal obligations and our legitimate interests in providing you with the best service and understanding how we can improve our service based on your experience. </li>

 <li>To protect our business and your account from fraud and other illegal activities. This includes using your personal data to maintain, update and safeguard your account. We’ll also monitor your browsing activity with us to quickly identify and resolve any problems and protect the integrity of our websites. We’ll do all of this as part of our legitimate interest. </li>

 <li>To protect our customers, premises, assets and from crime, we operate CCTV systems in our stores which record images for security. We do this on the basis of our legitimate business interests.</li>

 <li>To process payments and to prevent fraudulent transactions. We do this on the basis of our legitimate business interests. This also helps to protect our customers from fraud.</li>

<li>If we discover any criminal activity or alleged criminal activity through our use of CCTV, fraud monitoring and suspicious transaction monitoring, we will process this data for the purposes of preventing or detecting unlawful acts. We aim is to protect the individuals we interact with from criminal activities.</li>

<li>With your consent, we will use your personal data, preferences and details of your transactions to keep you informed by email, web, telephone and through our Customer Service team about relevant products and services including tailored special offers, discounts, promotions, events, competitions and so on. You are free to opt out of hearing from us via any of these channels at any time.</li>

<li>To develop, test and improve the systems, services and products we provide to you. We’ll do this on the basis of our legitimate business interests.</li>

<li>To display the most interesting content to you on our websites or apps, we’ll use data we hold about your favourite brands or products and so on. We do so on the basis of your consent to receive app notifications and/or for our website to place cookies or similar technology on your device.</li>

<li>To administer any of our prize draws or competitions which you enter, based on your consent given at the time of entering.</li>

<li>To comply with our contractual or legal obligations to share data with law enforcement.</li>

  </ul>


        </p>

    <p class="title">Your data and direct marketing</p>

<p>We want to bring you offers and promotions that are most relevant to your interests at particular times. To help us form a better overall understanding of you as a customer, we combine the personal data we’ve gathered about you. We also combine the data that we collect directly from you with data that we obtain from third parties to whom you have given your consent to pass that data onto us.
</p>
      </div>
        
 <div class="section" id="how-do-we-protect">
        <p class="title">How do we protect your data?</p>
       
        <p>
    As our valued customer, we take your privacy and security very seriously. With this in mind, we will treat your data with the utmost care and take all appropriate steps to protect it.<br />
We secure access to all transactional areas of our websites and apps using ‘https’ technology.
Access to your personal data is password-protected, and sensitive data (such as payment card information) is secured by SSL encryption.
We regularly monitor our system for possible vulnerabilities and attacks, and we carry out penetration testing to identify ways to further strengthen security.


        </p>
      </div>
       <div class="section" id="how-long-kept">
        <p class="title">How long do we keep your data?</p>
       
        <p>
 Whenever we collect or process your personal data, we’ll only keep it for as long as is necessary for the purpose for which it was collected.
<br />
At the end of that retention period, your data will either be deleted completely or anonymised, for example by aggregation with other data so that it can be used in a non-identifiable way for statistical analysis and business planning.


        </p>
      </div>
          <div class="section" id="orders">
        <p class="title">Orders</p>
       
        <p>
When you place an order, we’ll keep the personal data you give us for six years so we can comply with our legal and contractual obligations. 


        </p>
      </div>
        <div class="section" id="who-do-we-share">
        <p class="title">Who do we share your data with?</p>
       
        <p>

We sometimes share your personal data with trusted third parties. 

Here’s the policy we apply to those organisations to keep your data safe and protect your privacy:

<ul>
  <li>We provide only the information they need to perform their specific services.</li>
<li>They may only use your data for the exact purposes we specify in our contract with them.</li>

<li>We work closely with them to ensure that your privacy is respected and protected at all times.</li>

<li>If we stop using their services, any of your data held by them will either be deleted or rendered anonymous.</li>

</ul>

        </p>
      </div>

       <div class="section" id="how-do-we-share-your-data">
        <p class="title">How do we share your data with third parties for their own purposes?</p>
       
        <p>

We will only do this in very specific circumstances, for example:
<ul>
  <li>For fraud management, we may share information about fraudulent or potentially fraudulent activity in our premises or systems. This may include sharing data about individuals with law enforcement bodies.</li>
<li>We may also be required to disclose your personal data to the police or other enforcement, regulatory or Government body, in your country of origin or elsewhere, upon a valid request to do so. These requests are assessed on a case-by-case basis and take the privacy of our customers into consideration.</li>

<li>We may, from time to time, expand, reduce or sell the business and this may involve the transfer of divisions or the whole business to new owners. If this happens, your personal data will, where relevant, be transferred to the new owner or controlling party, under the terms of this Privacy Notice.
</li>

<li> For further information please contact our Data Protection Officer.</li>

</ul></p>

<p>To help personalise your journey through our websites we currently use the following companies, who will process your personal data as part of their contracts with us:<ul>
  <li>New Relic</li>
<li>Google</li>

<li>Facebook
</li>

<li>Twitter</li>

</ul>

        </p>
      </div>

      <div class="section" id="how-do-we-share-your-data">
<p class="title">        Where is your data processed?</p>
<p>Sometimes we will need to share your personal data with third parties and suppliers outside the European Economic Area (EEA), such as Australia or the USA.</p>

<p class="title">International orders</p>
<p>If you are based outside the UK and place an order with us, we will transfer the personal data that we collect from you to our teams in the UK.</p>

<p class="title">Protecting your data outside the EEA</p>
<p>The EEA includes all EU Member countries as well as Iceland, Liechtenstein and Norway. We may transfer personal data that we collect from you to third-party data processors in countries that are outside the EEA.

If we do this, we have procedures in place to ensure your data receives the same protection as if it were being processed inside the EEA. For example, our contracts with third parties stipulate the standards they must follow at all times. For more information about these contracts, please contact our Data Protection Officer using the contact details in the section below.

Any transfer of your personal data will follow applicable laws and we will treat the information under the guiding principles of this Privacy Notice. </p>

<p class="title">What are your rights over personal data?</p>

<p>You have the right to request:
<ul>
  <li>Access to the personal data we hold about you, free of charge in most cases.</li>
  <li>The correction of your personal data when incorrect, out of date or incomplete.</li>
  <li>When you withdraw consent, or object and we have no legitimate overriding interest, or once the purpose for which we hold the data has come to an end.</li>
  <li>That we stop using your personal data for direct marketing (either through specific channels, or all channels).</li>
  <li>That we stop any consent-based processing of your personal data after you withdraw that consent.</li>
</ul>
</p>

<p>You have the right to request a copy of any information about you that we hold at any time, to have that information corrected if it is inaccurate plus the right to be forgotten. To ask for your information, please contact <span style="font-weight: bold">Data Protection Officer, 154 Clerkenwell Road London EC1R 5AB</span>, or <a href="mailto:dpo@fourworks.com" style="font-weight: bold;">dpo@fourworks.com</a>. To ask for your information to be amended, please update your online account, or contact our Customer Services team.

  <br />
If we choose not to action your request, we will explain to you the reasons for our refusal.</p>

<p class="title">Your right to withdraw consent</p>

<p>Whenever you have given us your consent to use your personal data, you have the right to change your mind at any time and withdraw that consent.</p>

<p class="title">Where we rely on our legitimate interest</p>
<p>In cases where we are processing your personal data on the basis of our legitimate interest, you can ask us to stop for reasons connected to your individual situation. We must then do so unless we believe we have a legitimate overriding reason to continue processing your personal data.</p>

<p class="title">Direct marketing</p>
<p>You have the right to stop the use of your personal data for direct marketing activity through all channels, or selected channels. We must always comply with your request.</p>

<p class="title">Checking your identity</p>
<p>To protect the confidentiality of your information, we will ask you to verify your identity before proceeding with any request you make under this Privacy Notice. If you have authorised a third party to submit a request on your behalf, we will ask them to prove they have your permission to act.</p>

<p class="title">How can you stop the use of direct marketing?</p>
<p>There are several ways you can stop receiving direct marketing communications from us:</p>

<ul>
  <li>Click the ‘unsubscribe’ link in any email communication that we send you. We will then stop any further emails from that particular division.</li>
  <li>If you have an account visit the ‘My Account’ area and change your preferences. </li>
  <li>Write to / email to us at <a href="mailto:services@agentprovocateur.com" style="font-weight: bold;">services@agentprovocateur.com</a></li>
</ul>

<p>Please note that you may continue to receive communications for a short period after changing your preferences while our systems are fully updated.</p>

<p class="title">Use of our services by children</p>
<p>Our website is not intended for the use of children under the age of 18. We ask that children do not provide personal information through our website. If we become aware that we have collected personal information from a child under the age of 16, then we will delete that information from our records.</p>



<p class="title">Contacting the regulator</p>

<p>If you feel that your data has not been handled correctly, or you are unhappy with our response to any requests you have made to us regarding the use of your personal data, you have the right to lodge a complaint with the Information Commissioner’s Office.</p>

<p>You can contact them by calling <span style="font-weight: bold">0303 123 1113</span>.</p>

<p>Or go online to <a href="https://ico.org.uk/concerns" target="_blank" style="font-weight: bold">www.ico.org.uk/concerns</a><br />
If you are based outside the UK, you have the right to lodge your complaint with the relevant data protection regulator in your country of residence. Details can be found in Section 16.</p>



<p class="title">Further help or advice</p>

<p>We hope this Privacy Notice has been helpful in setting out the way we handle your personal data and your rights to control it.

If you have any questions that haven’t been covered, please contact our Data Protection Officer who will be pleased to help you:<br />

Email us at <a href="mailto:dpo@fourworks.com" style="font-weight: bold;">dpo@fourworks.com</a><br />
Or write to us at <span style="font-weight: bold">Data Protection Officer, 154 Clerkenwell Road London EC1R 5AB</span></p>

      </div>
      
</div>
      
</div>

<style>

</style>

    <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>
