<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><div class="legal-page-container">
    <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Legal</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
<!--                  {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->
         <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='terms-and-conditions'}}">Terms and Conditions</a></li>
                            <li> <a href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></li>
                            <li><a href="{{store direct_url='cookie-policy'}}">Cookie Policy</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-xs-9">
    <h1>Terms And Conditions</h1>
   <div style="background-color: #000000; height: 1px; width: 100%;" ></div>
        <div class="cs-page-anchors">
          <ul>
              <li><a href="#links">Links To Other Websites</a></li>
              <li><a href="#contract-information">Contract Information</a></li>
              <li><a href="#links">Links To Other Websites</a></li>
              <li><a href="#intellectual-property">Intellectual Property And Right To Use</a></li>
              <li> <a href="#limitation-of-liability">Limitation Of Liability</a></li>
              <div id="extra-items">
              <li><a href="#waiver">Waiver</a></li>
              <li> <a href="#survival">Survival</a></li>
              <li><a href="#entire-agreement">Entire Agreement</a></li>
              <li><a href="#law">Law</a></li>
              <li> <a href="#customs-and-duty">Customs & Duty</a></li>
              <li><a href="#gift-cards-t-and-c">Gift Card - Terms & Conditions</a></li>
              <li><a href="#gift-cards-dps">Gift Card - Data Protection Statement</a></li>
              <li> <a href="#promo-code-tandc">Promotional Code And Online Offer - Terms And Conditions</a></li>
              <li><a href="#prize-draw-tandc">Srize Draw / Competition Terms And Conditions </a></li>
              <li><a href="#sale-flash">Sale And Flash Sale</a></li>
              <li> <a href="#returns-refunds">Returns And Refunds</a></li>
              <li><a href="#governing-law">Governing Law</a></li>
              <li><a href="#participating-boutique">Participating Boutiques</a></li>
              <li><a href="#data-protection-statement">Data Protection Statement</a></li>
              <li> <a href="#boutique-returns">Boutique Returns & Refunds</a></li>
              <li><a href="#participating-boutiques">Participating Boutiques</a></li>
              <li><a href="#ethical-cosmetic-testing">Ethical Cosmetic Testing</a></li>
            </div>
            <li id="see-more-btn" onclick="myFunction()"><a href="#Something">See more...</a></li>

          </ul>
      </div>
         <div style="background-color: #000000; height: 1px; width: 100%;" ></div>

    <div class="main-blocks">

      <div class="section">
  <p>References to "Agent Provocateur", "we", "us" or "our" throughout www.agentprovocateur.com ("the Website") are to Agent Provocateur Limited. The use of the Website and the purchase of any products ("Products") from the Website is governed by these terms and conditions ("Conditions"). We reserve the right to modify these terms and conditions from time to time without notice to you.</p>
  <p>There is no charge imposed by us for accessing the Website but you must pay the cost of the communications link you use to visit the Website. Access to the Website may be suspended, restricted or terminated at any time.</p>
</div>

 <div class="section" id="links">
  <h2>LINKS TO OTHER WEBSITES</h2>
  <p>We accept no responsibility for web sites or other information, practices or products of other parties linked to the Website. Your dealings with persons found via the Website are between you and such persons and we will not be liable for any loss or damage arising out of such dealings.</p>

</div>
 <div class="section" id="contract-information">
  <h2>CONTRACT INFORMATION</h2>
  <p>Products supplied from the Website are supplied by Agent Provocateur Limited, a company registered in England and Wales whose company registration number is 10640672 and VAT number is 264 0037 34 whose registered office address is at 55 Loudoun Road, St John's Wood, London, United Kingdom, NW8 0DL.</p>
  <p>Your submission of an order represents an offer to purchase the Products indicated by you and it is not binding on us until your order has been delivered and signed for. All advertisements and communications made by Agent Provocateur up until your order is delivered and signed for are invitations to treat only and are not offers. This means that if Products are shown on the site but are not available or are incorrectly priced or otherwise incorrectly described, Agent Provocateur shall not be obliged to sell you those products and hold the rights to cancel and withdraw orders once placed.</p>
  <p>As well as selling via the Website, we sell our product through mail order via the telephone (available throughout the world) and stores. Normally, prices on the Website are the same as the prices in catalogues currently being mailed, or on offer in our stores. However, prices may differ with a catalogue (or a store) because: (i) We have a Special Offer on the Website, in a Catalogue or in a store (ii) The catalogue you have may have been replaced by a more up to date catalogue. As a result, we cannot guarantee that all prices are the same. We reserve the right to amend prices throughout the life of the catalogue with prices being correct as of going to print. Store prices can only be met in the store where the products are offered.</p>
</div>

 <div class="section" id="intellectual-property">
  <h2>INTELLECTUAL PROPERTY AND RIGHT TO USE</h2>
  <p>You acknowledge and agree that all copyright, trademarks and all other intellectual property rights in all material or content supplied as part of the Website shall remain at all times vested in us or our licensors. You are permitted to use this material only as expressly authorised by us or our licensors.</p>
  <p>You acknowledge and agree that the material and content contained within the Website is made available for your personal non-commercial use only and that you may download such material and content onto only one computer hard drive for such purpose. Any other use of the material and content of the Website is strictly prohibited. You agree not to (and agree not to assist or facilitate any third party to) copy, reproduce, transmit, publish, display, distribute, commercially exploit or create derivative works of such material and content.</p>
</div>
 <div class="section" id="limitation-of-liability">

  <h2>LIMITATION OF LIABILITY</h2>
  <p>While we will use reasonable endeavours to verify the accuracy of any information we place on the Website, we make no warranties, whether express or implied in relation to its accuracy.</p>
  <p>The Website is provided on an "as is" and "as available" basis without any representation or endorsement made and we make no warranties of any kind, whether express or implied, in relation to the Website, or any transaction that may be conducted on or through the Website including but not limited to, implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security, accuracy, conditions of completeness, or any implied warranty arising from course of dealing or usage or trade.</p>
  <p>We make no warranty that the Website will meet your requirements or will be uninterrupted, timely, secure or error-free, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy or reliability of the materials. We will not be responsible or liable to you for any loss of content or material uploaded or transmitted through the Website.</p>
  <p>To the fullest extent permissible under applicable law, we disclaim any and all warranties of any kind, whether express or implied, in relation to the Products. This does not affect your statutory rights as a consumer.</p>
  <p>You acknowledge that we cannot guarantee and therefore shall not be in any way responsible for the security or privacy of the Website and any information provided to or taken from the Website by you.</p>
  <p>We will not be liable, in contract, tort (including, without limitation, negligence), pre-contract or other representations (other than fraudulent or negligent misrepresentations) or otherwise arising out of or in connection with these Conditions for: 1. any economic losses (including without limitation loss of revenues, profits, contracts, business or anticipated savings); or 2. any loss of goodwill or reputation; or 3. any loss which was not brought to the attention of Agent Provocateur at the time the contract was made or any loss that would be an unforeseeable consequence of a breach of the contract by Agent Provocateur; in any case whether or not such losses were within the contemplation of either of us at the date on which the event giving rise to the loss occurred, was suffered or incurred by one of us arising out of or in connection with the provisions of any matter under these Conditions.</p>
  <p>Nothing in the Conditions shall exclude or limit our liability for death or personal injury resulting from our negligence or that of our servants, agents or employees.</p>

</div>
 <div class="section" id="severance">

  <h2>SEVERANCE</h2>
  <p>If any part of the Conditions shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed to be severable from these Conditions and shall not affect the validity and enforceability of any of the remaining provisions of the Conditions.</p></div>

   <div class="section" id="waiver">
<h2>WAIVER</h2>
  <p>No waiver by us shall be construed as a waiver of any proceeding or succeeding breach of any provision.</p></div>


   <div class="section" id="survival">
<h2>SURVIVAL</h2>
  <p>Each provision of these Conditions shall be construed as separately applying and surviving even if for any reason one or other of those provisions is held to be inapplicable or unenforceable in any circumstances.</p></div>


  <div class="section" id="entire-agreement">
<h2>ENTIRE AGREEMENT</h2>
  <p>These Conditions (as amended from time to time) contain the entire agreement between you and us relating to the subject matter covered and supersedes any previous agreements, arrangements, undertakings, representations or proposals, written or oral, between You and Us in relation to such matters. You confirm that You have read these conditions and, You fully understand them and You also agree that these conditions are the only terms (together with Your network provider agreement) that rule Your relationship with us.</p>
</div>

 <div class="section" id="law">
<h2>LAW</h2>
  <p>The Conditions shall be governed by and construed in accordance with the laws of England and you irrevocably submit to the exclusive jurisdiction of the courts of England.</p></div>

 <div class="section" id="customs-and-duty">
<h2>CUSTOMS &amp; DUTY</h2>
  <p>Please note that all shipments outside the UK may be subject to import duties and taxes, which are levied once a shipment reaches your country.</p>
  <p>As we have no control over these charges and cannot predict what they may be, additional charges for customs clearance must be borne by you.</p>
</div>

 <div class="section" id="gift-cards-t-and-c">
<h2>GIFT CARD - TERMS &amp; CONDITIONS</h2>
  <p>By purchasing, accepting and using your Agent Provocateur Gift Card (&ldquo;Gift Card&rdquo;), You are agreeing to these Terms and Conditions including (when you register your Gift Card online) giving your consent to the use and processing of your personal data in the manner described in the Data Protection Statement specified below. Please read them carefully and keep a copy for your records.&nbsp; Please also read the section below setting out our policies on Returns and Refunds.&nbsp; Additional terms and conditions may apply to purchases of merchandise made by you.</p>

  <p>All references in these Terms &amp; Conditions to &ldquo;Agent Provocateur&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo; in these Terms &amp; Conditions are to Agent Provocateur Limited and its subsidiaries. If you have any questions about these Terms &amp; Conditions please contact us via email to the following address: press.office@agentprovocateur.com</p>
  <p>Gift Cards are issued by and remain the property of Agent Provocateur which reserves the right, at any time without notice, to: (a) terminate the scheme; (b) decline to issue Gift Cards; and (c) on reasonable grounds, withdraw or cancel Gift Cards or to alter or amend the conditions of operation of the Agent Provocateur Gift Card scheme or these Terms and Conditions. Reasonable grounds include (but are not limited to) (i) any abuse or attempted abuse of the scheme, or (ii) any use or attempted use of a Gift Card in a manner which is contrary to these terms and conditions, or (iii) any reasonable suspicion of fraud or tampering of a Gift Card.&nbsp;</p>
  <p>The Gift Cards are only redeemable against Agent Provocateur merchandise at the participating Agent Provocateur retail outlets named below and online at www.agentprovacateur.com (each a &ldquo;Participating Store&rdquo; or &ldquo;Store&rdquo;).&nbsp; Gift Cards are not redeemable at any other store including franchised stores and concessions.</p>
  <p>Participating Stores:</p>
  <table class="stores" style="width: 569px;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td valign="top" width="350"><p>Broadwick</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>United Kingdom</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Pont Street</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>United Kingdom</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Manchester</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>United Kingdom</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Grosvenor St</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>United Kingdom</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Cannes</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>France</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Paris Rue Cambon</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>France</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Paris Rue Grenelle</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>France</p></td>
      </tr>
      <tr>
        <td valign="top" nowrap="nowrap" width="350"><p>Milan Via Verri</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Italy</p></td>
      </tr>
      <tr>
        <td valign="top" nowrap="nowrap" width="350"><p>Prague</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Czech Republic</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Vienna</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Austria</p></td>
      </tr>
      <tr>
        <td valign="bottom" nowrap="nowrap" width="350"><p>Dusseldorf</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Germany</p></td>
      </tr>
      <tr>
        <td valign="top" nowrap="nowrap" width="350"><p>Munich</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Germany</p></td>
      </tr>
      <tr>
        <td valign="bottom" width="350"><p>Zurich Baerengasse</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>Switzerland</p></td>
      </tr>
      <tr>
        <td valign="top" nowrap="nowrap" width="350"><p>Las Vegas</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>USA</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>San Francisco</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>USA</p></td>
      </tr>
      <tr>
        <td valign="top" nowrap="nowrap" width="350"><p>Melrose LA</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>USA</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Miami Bal Harbour</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>USA</p></td>
      </tr>
      <tr>
        <td valign="top" width="350"><p>Madison NY</p></td>
        <td valign="bottom" nowrap="nowrap" width="219"><p>USA</p></td>
      </tr>
    </tbody>
  </table>
  <p>
    <ol start="3">
      <li>We are not responsible for lost, damaged or stolen Gift Cards. Treat your Gift Card like cash, because lost, damaged or stolen Gift Cards will not be replaced.</li>
      <li>Any additional cost exceeding the remaining value of the Gift Card will be paid by the redeemer. No change will be given but any balance will remain on the Gift Card and may be applied to future purchases until the Gift Card&rsquo;s expiry.</li>
      <li>Gift Cards can only be used to pay or part pay the value of the merchandise and cannot be redeemed against the amount of any sum representing any import duties.</li>
      <li>If a Gift Card is issued in a currency other than the official currency of the Participating Store at which it is redeemed then it will be converted at full face value into the official currency of the redeeming Store at the prevailing foreign exchange rate then offered by that Store.</li>
      <li>The Agent Provocateur Gift Card is only offered to individuals aged 18 years or over that lawfully enter into and form contracts under the applicable law, and by using the Gift Card you represent and warrant to us that You are such an individual. We, in our sole discretion may refuse to issue a Gift Card for any reason.</li>
      <li>The amount of funds shown on the records of Agent Provocateur shall be deemed the balance on the Gift Card, unless you can prove to our satisfaction in our sole discretion that there should be a different balance.</li>
      <li>The Agent Provocateur Gift Card is not transferable or assignable and has no cash or gift voucher redemption value.</li>
      <li>The Agent Provocateur Gift Card cannot be used to pay for Gift Cards.</li>
      <li>Your Gift Card cannot be used as a credit/debit card, guarantee card or identification card nor may it be used in payment or part payment of any store or other credit card accepted or offered by us of any kind at any time.</li>
      <li>The Agent Provocateur Gift Card Scheme is only for personal and consumer use. Agent Provocateur Gift Cards cannot be sold, transferred or in any way traded nor offered as a prize or as part of any trade promotion of any kind without our prior written consent.</li>
      <li>Your Agent Provocateur Gift Card cannot be used for any transaction where the beneficiary is a business without the prior written consent of Agent Provocateur.</li>
      <li>Gift Cards and unused portions of Gift Cards automatically expire and become void after a period of 6 months from the date of issuance except where, under the applicable law, you are entitled to a mandatory minimum redemption period in excess of six months in which event you shall be entitled to the minimum redemption period provided for under the applicable law.</li>
      <li>All provisions of these Terms and Conditions apply to the maximum extent permitted by applicable law.&nbsp; If any provision of these Terms and Conditions shall be determined to be unlawful, void, or for any reason unenforceable under applicable law, we may replace those terms with similar terms to the extent enforceable under the applicable law, but the validity and enforceability of any remaining provisions shall not be affected. Our failure to enforce the strict performance of any provision of these Terms and Conditions will not constitute a waiver of our right to subsequently enforce such provision or any other provision of these Terms and Conditions.</li>
      <li>APPLICABLE LAW:&nbsp; These Terms and Conditions shall be governed by and construed in accordance with the laws of the Country (and State within a Country where relevant) in which the Participating Store from which the Gift Card purchased by you is situated.&nbsp; In this regard, Gift Cards purchased from any Store in the United Kingdom or from the Agent Provocateur website are deemed issued in England and shall governed by English law. This provision does not affect your statutory rights as a consumer.</li>
</ol>
  </p>

</div>
<div class="section" id="gift-cards-dps"><h2>GIFT CARD - DATA PROTECTION STATEMENT</h2>
  <p>We would like to use your details, plus details on how you use your Gift Card and what you buy in our stores, to:</p>
  <p>Help manage the Agent Provocateur Gift Card and improve the way we run it</p>
  <p>Understand our customers' shopping habits to improve our service</p>
  <p>Unless you indicate otherwise (when registering your Gift Card online), contact you with offers and information about Agent Provocateur products and services of interest to you.</p>
  <p>The Agent Provocateur Gift Card Scheme is provided by Givex UK Corporation Ltd (&ldquo;Givex&rdquo;).&nbsp; They will store and process your personal data for the purpose of administering the Scheme and you consent to this.</p>
  <p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfillment of your order for a Gift Card, the processing of your payment and redemption details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing.</p>
  <p>We will share your details among Agent Provocateur companies, and other businesses including Givex that process Gift Card information on our behalf (e.g. printers who need certain details to print mailings). We may also use and share information relating to groups of customers, without identifying individuals, to learn more about customer behaviour and find ways of enhancing our service.</p>
  <p>By registering the Gift Card online you consent to the storage, use and processing of your personal information in the manner provided for above.</p>
</div>

<div class="section" id="promo-code-tandc"><h2>PROMOTIONAL CODE AND ONLINE OFFER - TERMS AND CONDITIONS</h2>
  <p>From time to time we may issue promotional discount codes to individuals or groups of people.</p>
  <p>Each code will have its own specific terms, for example when it is valid from and until, and what discount or offer it provides you. However, general terms for the use of voucher codes are:</p>
  <ul>
  <li>They are not valid in conjunction with any other offer, discount, promotion or on sale items</li>
  <li> They cannot be used to purchase online gift vouchers</li>
  <li> They are only available for your sole use and will not be valid if passed on to third parties</li>
  <li> They are not valid in any of our stores worldwide</li>
  <li> Discounts are not transferable and cannot be redeemed by AP staff and family</li>
  <li> Agent Provocateur reserve the right to withdraw or alter any promotion at any time at their discretion without prior notification.</li>
  <li>To claim your discount you should enter the code in the promotional box when you checkout at agentprovocateur.com.</li>
  <li>In the instance that you find a code is not working on the website don&rsquo;t worry, please call our Customer Services team on +44(0) 870 600 0229, or email: services@agentprovocateur.com as our friendly advisors will be able to help you.</li>
</ul>
</div>


  <div class="section" id="prize-draw-tandc"><h2>PRIZE DRAW / COMPETITION TERMS AND CONDITIONS&nbsp; </h2>
  <p>From time to time we run various prize draws and competitions and encourage you to take part as there are always fantastic prizes on offer.</p>
  <p>Each prize draw or competition will have its own specific terms, for example when it starts and ends, and what you need to do to enter. However, general terms for entering prize draws and competitions include:</p>
<ul>
  <li> There is no cash alternative to the prize.</li>
  <li> All winners will be chosen from at random from all the entries received.</li>
  <li> The judges' decision is final and no correspondence will be entered into.</li>
  <li> The winners will be notified within 28 days of the draw or competition closing by email, phone or post.</li>
  <li> Winners must respond to us within 7 days confirming acceptance of the prize. If no response is received within 7 days, we reserve the right to choose an alternative winner and contact them.</li>
  <li> Details of the prize winner will be available upon written request.</li>
  <li> The prize draw or competition is not open to anyone associated with Agent Provocateur.</li>
  <li> Entrants must be at least 18 years of age and proof of age will be required before the prize is dispatched.</li>
  <li> No responsibility can be accepted for entries which are not properly received due to communications beyond our control.</li>
  <li> Promoter: Agent Provocateur, 154 Clerkenwell Rd, London, EC1R 5AB.</li>
</ul>
</div>

  <div class="section" id="sale-flash">
  <h2>SALE AND FLASH SALE</h2>
  <p>During sale periods, sale items are available online at www.agentprovocateur.com and in selected boutiques and concessions. Discounts on selected lines only. While stocks last.</p>
  <p>Agent Provocateur reserves the right to withdraw or alter the details of this offer at any time. Due to the nature of sale, prices are subject to change as the sale continues and as stock becomes more limited.</p>
  <p>We are unfortunately unable to offer to refund the price difference should you have ordered before the prices were reduced further. If your sizes are still available you are welcome to place a new order with the current pricing and return the original order for a refund.</p></div>

 <div class="section" id="returns-refunds"><h2>RETURNS AND REFUNDS</h2>
  <p>We hope you are delighted with your purchase; however should you wish to return your order for an exchange or refund, please note we will accept returns sent back within 14 days of receipt of your order.</p>
  <p>Please ensure the item(s) are in their original condition and packaging, with all tags attached. Ensure that briefs are tried on over your own lingerie - we will not accept returns on lingerie that has been damaged or worn. We cannot accept returns on opened packs of hosiery.</p>
  <p>Please be advised that we cannot accept returns for lipsticks, lip balms or earrings due to hygiene reasons.</p>
  <p><strong>Refunds:</strong>&nbsp;Refunds are processed within 14 working days of receipt to allow for inspection onto the original method of payment (credit card, gift voucher or Paypal account). We cannot facilitate with refunds to a third party. You will receive an email once your order has been refunded.</p>
  <p><strong>Exchanges:</strong>&nbsp;We only offer size exchanges on the same product. Where available, replacement items will be dispatched within 14 working days. If your chosen replacement size is not in stock, you will automatically be refunded. For alternative items, please place a new order on our website or alternatively, please get in touch with our Customer Care team.</p>
  <p><strong>Gift vouchers:</strong>&nbsp;Please note that gift vouchers are not cash refundable. Items purchased via gift voucher can be size exchanged, or you can be re-credited with the value.</p>
  <p><strong>Boutique returns:</strong>&nbsp;our website doesn&rsquo;t accept returns of items purchased from boutiques. For store purchases, you will be able to exchange your item in-store within 14 days of purchase. Please note that Agent Provocateur boutiques do not offer refunds. Goods can only be exchanged if they are returned in perfect condition with tags attached and with a receipt, as proof of purchase. Online purchases cannot be returned to a boutique.</p>
  <p><h2>GOVERNING LAW</h2></p>
  <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of England. Your use of the VIP card and any dispute arising out of such use of the VIP card is subject to the laws and jurisdiction of England and Wales.</p>
  <p>This provision does not affect your statutory rights.</p>
  <p>Agent Provocateur Limited, a company registered in England and Wales whose company registration number is 10640672 <!--and VAT number is 264 0037 34--> whose registered office address is at 55 Loudoun Road, St John's Wood, London, United Kingdom, NW8 0DL.</p>
</div>
 <div class="section" id="participating-boutique"><h2>PARTICIPATING BOUTIQUES</h2>
  <p><span style="text-dpecoration: underline;">UK</span></p>
  <p>London Broadwick Street, London Grosvenor Street London, London Pont Street,  London Westbourne Grove, Manchester King Street</p>
  <p><span style="text-decoration: underline;">EUROPE</span></p>
  <p>Cannes, Geneva, Istanbul Kanyon, Istanbul Akaysa, Kiev, Munich Ludwig Beck, Paris Rue Cambon, Paris Rue de Grenelle, Paris Printemps, Prague, Stuttgart, Vienna, Zurich Baerengasse, Zurich Jelmoli, Warsaw</p>
  <p><span style="text-decoration: underline;">NORTH AMERICA</span></p>
  <p>Los Angeles Melrose Avenue, Los Angeles Rodeo Drive, Miami Bal Harbour, New York Mercer Street, New York Madison Avenue, San Francisco</p>
  <p><span style="text-decoration: underline;">MIDDLE EAST</span></p>
  <p>Dubai Mall, Kuwait</p>
  <p>Find the details of your nearest boutique on: www.agentprovocateur.com/boutiques</p>
</div>
  <div class="section" id="data-protection-statement">
 <h2>DATA PROTECTION STATEMENT</h2>
  <p>We would like to use your details, plus details on how you use your VIP card and what you buy in our stores, to:</p>
  <p>Help manage the Agent Provocateur VIP card and improve the way we run it.</p>
  <p>Understand our customers&rsquo; shopping habits to improve our service.</p>
  <p>Unless you indicate otherwise, contact you with offers and information about products and services of interest to you.</p>
  <p>We will share your details among Agent Provocateur companies, and other businesses that process VIP card information on our behalf (e.g. printers who need certain details to print mailings).</p>
  <p>We may also use and share information relating to groups of customers, without identifying individuals to learn more about customer behaviour and find ways of enhancing our service.</p>
  <p>Except as required by law, or in accordance with these Terms and Conditions, your personal information will not be passed to any other persons without your permission.</p>
</div>
 <div class="section" id="boutique-returns"><h2>BOUTIQUE RETURNS &amp; REFUNDS</h2>
  <p>We hope you love your purchase or gift and are completely happy with it. If not, please take note of our returns policy below to avoid any possible disappointment.</p>
  <p>Goods returned because of wrong size or choice will not be refunded. However, we are willing to exchange unworn/unused goods when returned to Agent Provocateur boutiques, in perfect condition with the receipt and tags attached within 14 days of purchase. This policy conforms to the sales of goods act of 1979 (as amended in 1994)</p>
  <p>We reserve the right to return faulty goods to manufactures for examination before a refund is given. We do not offer refunds. Proof of purchase is required.</p></div>

  <div class="section" id="governing-law"><h2>GOVERNING LAW</h2>
  <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of England. Your use of the VIP card and any dispute arising out of such use of the VIP card is subject to the laws and jurisdiction of England and Wales.</p>
  <p>This provision does not affect your statutory rights.</p>
  <p>Agent Provocateur Limited, a company registered in England and Wales whose company registration number is 2896508 and VAT number is 264 0037 34 whose registered office address is at 55 Loudoun Road, St John's Wood, London, United Kingdom, NW8 0DL.</p>
  <p><strong>PARTICIPATING BOUTIQUES</strong></p>
  <p><span style="text-decoration: underline;">UK</span></p>
  <p>Broadwick Street London, Grosvenor Street London, Pont Street, Knightsbridge London, Royal Exchange London, Westbourne Grove Manchester, King Street</p>
  <p><span style="text-decoration: underline;">EUROPE</span></p>
  <p>Cannes, Rue du Commandant Andre, Geneva, Istanbul Kanyon, Istanbul Akaysa, Kiev, Zankovetskoy Street, Claudio Coello Marbella, Puerto Banus, Munich, Ludwig Beck, Paris, Rue Cambon, Paris, Rue de Grenelle, Prague, Breuninger, Vienna, Tuchlauben, Zurich Baerengasse</p>
  <p><span style="text-decoration: underline;">AMERICA</span></p>
  <p>Las Vegas, Forum Shops at Caesars, Los Angeles, Melrose Avenue, Los Angeles, Rodeo Drive, Miami, Bal Harbour, New York, Mercer Street, New York, Madison Avenue, San Francisco, Geary Street</p>
  <p><span style="text-decoration: underline;">MIDDLE EAST</span></p>
  <p>Qatar Pearl</p>
  <p><span style="text-decoration: underline;">AUSTRALASIA</span></p>
  <p>Beijing, Sydney</p>
  <p>Find the details of your nearest boutique on: <a href="https://www.agentprovocateur.com/boutiques">www.agentprovocateur.com/boutiques</a></p></div>

  <div class="section" id="ethical-cosmetic-testing"><h2>ETHICAL COSMETIC TESTING</h2>
  <p>Neither Agent Provocateur nor its cosmetic product suppliers, Inter Parfums, test any products on animals.</p>
</div>


</div>


</div>
</div>

<style>

 .stores tr td:last-child {
              background-color: #ffffff;
          }
          tr:nth-child(even) {
    background-color: unset !important;
}

</style>

    <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>