#silverpop-signup-wrapper {
    background-color: #333;
    padding: 20px 0 15px 0;
    .no-mobile {
        @media only screen and (max-width: 460px) {
            display: none;
        }
    }
    #sp-form-global-footer {
        // max-width: 1020px
        text-align: center;
        width: 100%;
        max-width: 1020px;
        @media only screen and (min-width: 1220px) {
            margin-left: 20px;
            text-align: left;
        }
        .form-section {
            width: 100%;
            @media only screen and (min-width: 768px) {
                // width: 33%;
                display: inline-block;
                vertical-align: middle;
            }
            &.one {
                @media only screen and (min-width: 1024px) {
                    width: 38%;
                }
                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    width: 28%;
                }
                p.intro-copy {
                    text-transform: uppercase;
                    border: 1px solid #fff;
                    width: 240px;
                    padding: 10px;
                    margin: auto;
                    font-size: 13px;
                    vertical-align: middle;
                    color: #fff;
                    margin-bottom: 5px;
                    letter-spacing: 1.3px;
                    @media only screen and (min-width: 768px) {
                        width: 382px;
                        border: 0;
                        font-size: 11px;
                        margin: 0;
                        text-align: left;
                        padding: 10px 0
                    }
                }
                input#sp_EMAIL {
                    width: 260px;
                    height: 40px;
                    font-size: 12px;
                    padding: 10px;
                    @media only screen and (min-width: 1024px) {
                        width: 382px;
                    }
                    @media only screen and (max-width: 820px) and (min-width: 768px) {
                        width: 210px;
                    }
                }
            }
            &.two {
            	@media only screen and (min-width: 768px) {
            	margin-top: 29px;
            }
                @media only screen and (min-width: 1024px) {
                    width: 30%;
                    text-align: center;
                }
                @media only screen and (max-width: 1023px) and (min-width: 768px) {
                    width: 37%;
                }
                p.shopping-for {
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: 1.3px;
                    input[type="radio"] {
                        display: none;
                    }
                    label:before {
                        content: " ";
                        width: 16px;
                        height: 16px;
                        border: 1px solid #000;
                        border-radius: 50px;
                        background-color: #fff;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 4px;
                        margin-left: 4px;
                    }
                    @media only screen and (min-width: 1024px) {
                        margin-right: 8px;
                        margin-left: 6px;
                    }

                    input:checked+label:before {
                        background-color: #000;
                        border: 1px solid #fff;
                    }
                }
            }
            &.three {
                @media only screen and (min-width: 1024px) {
                    width: 26%;
                }
                @media only screen and (max-width: 1023px) and (min-width: 768px) {
                    width: 33%;
                }
                input[type="checkbox"] {
                    position: unset;
                    /* left: unset; */
                    -webkit-appearance: unset;
                    height: 16px;
                    width: 16px;
                    border: 1px solid #ffffff;
                    vertical-align: top;
                }
                .fine-print {
                	    -webkit-margin-after: 0;
                	    margin-bottom: 0;
                	span {
                    margin-left: 5px;
                    font-size: 9px !important;
                    background-color: transparent !important;
                    display: inline-block;
                    text-align: left;
                    letter-spacing: 0.3px; // margin-bottom: 10px;
                    font-weight: lighter;
                    line-height: 11px;
                    color: #fff;
                        margin-bottom: 4px;
                    a {
                        color: #fff;
                    }
                }
            }
                input.sp-submit-3.sp-toggle {
                    height: 40px;
                    width: 260px;
                }
                input[type="checkbox"] {
                    position: unset;
                    left: unset;
                    -webkit-appearance: unset;
                    height: 16px;
                    width: 16px;
                    border: 1px solid #ffffff;
                    vertical-align: top;
                }
                input[type="checkbox"]:checked {
                    content: " ";
                    background-image: url(https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/check-symbol.svg);
                    background-size: contain;
                    background-color: white;
                }
                input.sp-submit-3 {
                    height: 40px;
                    max-width: 260px;
                    width: 100%;
                    margin: auto;
                    color: white;
                    background-color: transparent;
                    border: 1px solid;
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 1.6px;
                }
                input.sp-submit-3:hover {
                    background-color: white;
                    color: black;
                }
                 div#sp-errorMessage-1, #silverpop-signup-wrapper #terms-error {
    display: inline-block;
    color: #FF0000;
    font-size: 9px;
    letter-spacing: 0.3px;
    width: 100%;
    margin: 5px auto;
    text-align: center;
    background-color: transparent;
}
            }
        }
    }
}