#silverpop-signup-wrapper {
  background-color: #333;
  padding: 20px 0 15px 0; }
  @media only screen and (max-width: 460px) {
    #silverpop-signup-wrapper .no-mobile {
      display: none; } }
  #silverpop-signup-wrapper #sp-form-global-footer {
    text-align: center;
    width: 100%;
    max-width: 1020px; }
    @media only screen and (min-width: 1220px) {
      #silverpop-signup-wrapper #sp-form-global-footer {
        margin-left: 20px;
        text-align: left; } }
    #silverpop-signup-wrapper #sp-form-global-footer .form-section {
      width: 100%; }
      @media only screen and (min-width: 768px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section {
          display: inline-block;
          vertical-align: middle; } }
      @media only screen and (min-width: 1024px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.one {
          width: 38%; } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.one {
          width: 28%; } }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.one p.intro-copy {
        text-transform: uppercase;
        border: 1px solid #fff;
        width: 240px;
        padding: 10px;
        margin: auto;
        font-size: 13px;
        vertical-align: middle;
        color: #fff;
        margin-bottom: 5px;
        letter-spacing: 1.3px; }
        @media only screen and (min-width: 768px) {
          #silverpop-signup-wrapper #sp-form-global-footer .form-section.one p.intro-copy {
            width: 382px;
            border: 0;
            font-size: 11px;
            margin: 0;
            text-align: left;
            padding: 10px 0; } }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.one input#sp_EMAIL {
        width: 260px;
        height: 40px;
        font-size: 12px;
        padding: 10px; }
        @media only screen and (min-width: 1024px) {
          #silverpop-signup-wrapper #sp-form-global-footer .form-section.one input#sp_EMAIL {
            width: 382px; } }
        @media only screen and (max-width: 820px) and (min-width: 768px) {
          #silverpop-signup-wrapper #sp-form-global-footer .form-section.one input#sp_EMAIL {
            width: 210px; } }
      @media only screen and (min-width: 768px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two {
          margin-top: 29px; } }
      @media only screen and (min-width: 1024px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two {
          width: 30%;
          text-align: center; } }
      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two {
          width: 37%; } }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.two p.shopping-for {
        color: #fff;
        font-size: 12px;
        letter-spacing: 1.3px; }
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two p.shopping-for input[type="radio"] {
          display: none; }
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two p.shopping-for label:before {
          content: " ";
          width: 16px;
          height: 16px;
          border: 1px solid #000;
          border-radius: 50px;
          background-color: #fff;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          margin-left: 4px; }
        @media only screen and (min-width: 1024px) {
          #silverpop-signup-wrapper #sp-form-global-footer .form-section.two p.shopping-for {
            margin-right: 8px;
            margin-left: 6px; } }
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.two p.shopping-for input:checked + label:before {
          background-color: #000;
          border: 1px solid #fff; }
      @media only screen and (min-width: 1024px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.three {
          width: 26%; } }
      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.three {
          width: 33%; } }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input[type="checkbox"] {
        position: unset;
        /* left: unset; */
        -webkit-appearance: unset;
        height: 16px;
        width: 16px;
        border: 1px solid #ffffff;
        vertical-align: top; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three .fine-print {
        -webkit-margin-after: 0;
        margin-bottom: 0; }
        #silverpop-signup-wrapper #sp-form-global-footer .form-section.three .fine-print span {
          margin-left: 5px;
          font-size: 9px !important;
          background-color: transparent !important;
          display: inline-block;
          text-align: left;
          letter-spacing: 0.3px;
          font-weight: lighter;
          line-height: 11px;
          color: #fff;
          margin-bottom: 4px; }
          #silverpop-signup-wrapper #sp-form-global-footer .form-section.three .fine-print span a {
            color: #fff; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input.sp-submit-3.sp-toggle {
        height: 40px;
        width: 260px; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input[type="checkbox"] {
        position: unset;
        left: unset;
        -webkit-appearance: unset;
        height: 16px;
        width: 16px;
        border: 1px solid #ffffff;
        vertical-align: top; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input[type="checkbox"]:checked {
        content: " ";
        background-image: url(https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/check-symbol.svg);
        background-size: contain;
        background-color: white; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input.sp-submit-3 {
        height: 40px;
        max-width: 260px;
        width: 100%;
        margin: auto;
        color: white;
        background-color: transparent;
        border: 1px solid;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.6px; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three input.sp-submit-3:hover {
        background-color: white;
        color: black; }
      #silverpop-signup-wrapper #sp-form-global-footer .form-section.three div#sp-errorMessage-1, #silverpop-signup-wrapper #sp-form-global-footer .form-section.three #silverpop-signup-wrapper #terms-error {
        display: inline-block;
        color: #FF0000;
        font-size: 9px;
        letter-spacing: 0.3px;
        width: 100%;
        margin: 5px auto;
        text-align: center;
        background-color: transparent; }

/*# sourceMappingURL=footer.css.map */
