<head>
    <link rel="stylesheet" type="text/css" href="footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
</head>
<style type="text/css">
/*footer location links*/
.col-md-12 .footer-links {
    padding-left: 0 !important;
}

footer#footer .half.left-side>.row {
    width: 25%;
}

.global-footer .half.left-side {
    width: 60%;
}

@media (max-width: 989px) {
    .global-footer .half.left-side {
        width: 100%;
    }
}

@media (max-width: 767px) {
    footer#footer .half.left-side>.row {
        width: 100%;
    }
}
/*END footer location links */
</style>
<!--[if IE]>
<style>
    #silverpop-signup-wrapper #sp-form-global-footer {
        display: none;
    }
</style>
<![endif]-->
<div id="silverpop-signup-wrapper">
    <form id="sp-form-global-footer" method="post" action="https://www.pages02.net/agentprovocateur/GlobalFooter-DataCapture/Global_Footer_Form" pageId="8331757" siteId="370540" parentPageId="8331755">
        <div class="form-section one">
            <p class="intro-copy">Sign Up for our Email Newsletter</p>
            <input class="sp-email-1 sp-toggle email textInput defaultText no-mobile" type="text" name="Email" id="sp_EMAIL" label="Email" placeholder="Enter your email...">
        </div>
        <div class="form-section two no-mobile">
            <p class="shopping-for" style="display: inline-block"> <span class="">Shopping for</span>
                <input type="radio" name="Gifting" id="control_COLUMN143_1" label="Gifting" value="Female" CHECKED>
                </td>
                <label class="" for="control_COLUMN143_1">Myself</label>
                <input type="radio" name="Gifting" id="control_COLUMN143_0" label="Gifting" value="Male">
                <label class="" for="control_COLUMN143_0">Someone else</label>
            </p>
        </div>
        <div class="form-section three  no-mobile">
            <p class="fine-print">
                <input type="checkbox" name="consent" id="control_COLUMN143_2"><span>By ticking this box, you’re accepting our <a href="{{store direct_url='privacy-policy'}} target="_blank">Privacy policy</a><br />and are confirming that you are 18 or over.</span></p>
            <input type="submit" class="sp-submit-3 sp-toggle" value="Sign up" />
            <div id="sp-errorMessage-1" style="display: none;">You must enter a valid email address</div>
            <div id="terms-error" class="formErrorMessages"></div>
            <input type="hidden" name="Gender_SEGMENT" id="control_COLUMN109" label="Gender_SEGMENT" class="textInput defaultText">
            <input type="hidden" name="Website" id="control_COLUMN118" label="Website" class="textInput defaultText">
            <input type="hidden" name="Generic_Footer_CRM" id="control_COLUMN158" value="mm/dd/yyyy" />
            <input type="hidden" name="GDPR_Consent" id="control_COLUMN188" value="mm/dd/yyyy">
            <input type="hidden" name="formSourceName" value="StandardForm" />
            <!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
            <input type="hidden" name="sp_exp" value="yes">
        </div>
    </form>
</div>
<div class="global-footer category-page cf">
    <!-- store locator mobile -->
    <div class="row desktop-hide store-locator-row">
        <a href="{{store direct_url='storelocator'}}">
      <img src="{{media url='wysiwyg/ss17-store-locator.png'}}" alt="A Store Locator icon">
      <p>Find a Boutique</p>
    </a>
    </div>
    <!-- end store locator mobile -->
    <div class="half left-side cf">
        <div class="row">
            <strong>Shopping</strong>
            <span class="footer-block"> 
        <a id="footer-delivery" href="{{store direct_url='delivery-information'}}">Delivery</a> 
        <a id="footer-returns" href="{{store direct_url='returns'}}">Returns</a> 
        <a id="footer-size-guide" href="{{store direct_url='size-guide'}}">Size Guide</a> 
        <a id="footer-wish-list" href="{{store direct_url='info-wishlists'}}">Wishlist</a> 
        <a id="footer-gift-cards" href="{{store direct_url='gift-vouchers'}}">Gift Cards</a> 
        <a id="footer-faq" href="{{store direct_url='faq'}}">FAQ</a>
      </span>
        </div>
        <div class="row">
            <strong>Service</strong>
            <span class="footer-block">  
        <a id="footer-store-locator" href="{{store direct_url='storelocator'}}">Store Locator</a> 
        <a id="footer-personal-shopping" href="{{store direct_url='personal-shopping'}}">Personal Shopping</a> 
        <a id="footer-private-fittings" href="{{store direct_url='private-fittings'}}">Private Fittings</a> 
        <a id="footer-contact-us" href="{{store direct_url='contacts'}}">Contact Us</a> 
        <a id="footer-subscribe" href="{{store direct_url='subscribe'}}">Subscribe</a>
      </span>
        </div>
        <div class="row">
            <strong>About Us</strong>
            <span class="footer-block"> 
        <a id="ethical-trading" href="{{store direct_url='ethical-trading'}}">Ethical Trading</a> 
        <a id="footer-terms" href="{{store direct_url='terms-and-conditions'}}">Terms</a> 
        <a id="footer-privacy-policy" href="{{store direct_url='privacy-policy'}}">*Privacy Policy</a>
          <a id="footer-cookie-policy" href="{{store direct_url='cookie-policy'}}">Cookies</a> 
        <a id="footer-careers" href="{{store direct_url='careers'}}">Careers</a> 
        <a id="footer-affiliates" href="{{store direct_url='affiliates'}}">Affiliates</a>
        <a id="footer-videos" href="{{store direct_url='videos'}}">Videos</a>
        <a id="footer-inside-ap" href="{{store direct_url='inside-ap'}}">Inside AP</a>
        <a id="footer-blog" href="https://blog.agentprovocateur.com/" target="_blank">Blog</a>
      </span>
        </div>
        <div class="row">
            <strong style="white-space: initial;">Delivery Destination</strong>
            <span class="footer-block footer-locations"> 
        <a id="shop-united-kingdom" href="https://www.agentprovocateur.com/gb_en" data-location="gb_en">United Kingdom</a> 
        <a id="shop-united-states" href="https://www.agentprovocateur.com/us_en" data-location="us_en">United States</a> 
        <a id="shop-europe" href="https://www.agentprovocateur.com/eu_en" data-location="eu_en">Europe</a> 
        <a id="shop-international" href="https://www.agentprovocateur.com/int_en" data-location="int_en">International</a> 
      </span>
        </div>
        <div class="row desktop-hide">
            <strong style="desktop-hide">Follow Us On Social Media</strong>
            <div class="social-wrapper">
                <div class="link-wrapper"> <a target="_blank" href="https://www.facebook.com/agentprovocateur" class="footer-social-link" id="footer-link-fb"></a> </div>
                <div class="link-wrapper"> <a target="_blank" href="https://twitter.com/themissap" class="footer-social-link" id="footer-link-twitter"></a> </div>
                <div class="link-wrapper"> <a target="_blank" href="https://www.youtube.com/user/agentprovocateur" class="footer-social-link" id="footer-link-youtube"></a> </div>
                <div class="link-wrapper"> <a target="_blank" href="https://www.pinterest.com/agentprovocateu/" class="footer-social-link" id="footer-link-pinterest"></a> </div>
                <div class="link-wrapper"> <a target="_blank" href="https://www.instagram.com/agentprovocateur/" class="footer-social-link" id="footer-link-ig"></a> </div>
                <div class="link-wrapper"> <a href="#weibo" class="footer-social-link china-lightbox" id="footer-link-weibo"></a> </div>
                <div class="link-wrapper"> <a href="#weChat" class="footer-social-link china-lightbox" id="footer-link-wechat"></a> </div>
            </div>
        </div>
    </div>
    <div class="half right-side mobile-hide cf">
        <style>
        .footer-social-link {
            background-image: url({{media url='wysiwyg/SS17-footer-social-links.png'}});
        }
        </style>
        <div class="row">
            <div class="link-wrapper"> <a target="_blank" href="https://www.facebook.com/agentprovocateur" class="footer-social-link" id="footer-link-fb"></a> </div>
            <div class="link-wrapper"> <a target="_blank" href="https://twitter.com/themissap" class="footer-social-link" id="footer-link-twitter"></a> </div>
            <div class="link-wrapper"> <a target="_blank" href="https://www.youtube.com/user/agentprovocateur" class="footer-social-link" id="footer-link-youtube"></a> </div>
            <div class="link-wrapper"> <a target="_blank" href="https://www.pinterest.com/agentprovocateu/" class="footer-social-link" id="footer-link-pinterest"></a> </div>
            <div class="link-wrapper"> <a target="_blank" href="https://www.instagram.com/agentprovocateur/" class="footer-social-link" id="footer-link-ig"></a> </div>
            <div class="link-wrapper"> <a href="#weibo" class="footer-social-link china-lightbox" id="footer-link-weibo"></a> </div>
            <div class="link-wrapper"> <a href="#weChat" class="footer-social-link china-lightbox" id="footer-link-wechat"></a> </div>
        </div>
    </div>
    <div class="china-lightbox-target" id="weibo"> <a target="_blank" href="https://www.weibo.com/apofficial"><img src="{{media url="wysiwyg/weibo_logo_colour_new.jpg"}}" /></a> <a class="china-lightbox-close" href="#"></a> </div>
    <div class="china-lightbox-target" id="weChat"> <a target="_blank" href="https://web.wechat.com/"><img src="{{media url="wysiwyg/WeChatQR_new.jpg"}}" /></a> <a class="china-lightbox-close" href="#"></a> </div>
    <script>
    //for email sign up
    function submitGifting() {
        document.getElementById('control_COLUMN143_1').checked = true;
        document.getElementById('sp-submit').click();
    }

    /* Mobile Footer */
    </script>
</div>
</div>
<script type="text/javascript">
jQuery(".intro-copy").click(function() {
    jQuery(".no-mobile").toggle();
});
</script>
<script>
(function($) {

    /* Mobile Footer */

    if ($(window).width() < 768) {
        $(document).ready(function() {
            $("#sp-title").click(function() {
                $(".sp-toggle").toggle();
            });
        });
    }
    $('.half.left-side .row').on('click', function() {
        $(this).toggleClass('open');
    });

    //deal with country select in footer
    $(document).ready(function() {
        $(".footer-locations a").each(function() {
            $(this).click(function(event) {
                event.preventDefault();
                var destStore = $(this).data("location");
                $('.select-store').val(destStore).change();
            })
        })
    })
    //end country select in footer

    var countryCode;

    if (window.location.href.indexOf('gb_en') >= 0) {
        countryCode = 'United Kingdom';
    } else if (window.location.href.indexOf('eu_en') >= 0) {
        countryCode = 'Europe';
    } else if (window.location.href.indexOf('us_en') >= 0) {
        countryCode = 'United States'
    } else if (window.location.href.indexOf('int_en') >= 0) {
        countryCode = 'International';
    } else {
        countryCode = 'United Kingdom';
    }

    var cookies = {

        create: function(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        },

        read: function(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        },

        erase: function(name) {
            createCookie(name, "", -1);
        }

    };

    var formModule = (function(module) {

        let _mode = 'forced';

        function mode(formMode = _mode) {

            _mode = formMode;

            return _mode;
        }

        function validate(email) {

            const emailRegEx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            const bdayRegEx = /^\d\d\/\d\d\/\d\d\d\d$/;

            if (!emailRegEx.test(email)) {

                showError('email');
                return false;

            }

            return true;
        };

        function showError(err) {

            if (err === 'email') {
                $('#sp-errorMessage-1').fadeIn();
                document.getElementById("sp_EMAIL").style.borderColor = "#dc153d";
            }
        };

        function getCountryCode() {
            jQuery('#control_COLUMN118').val(countryCode);
        };

        function setDate() {
            const date = new Date();
            let mm = date.getMonth() + 1;
            if (mm <= 9) {
                mm = '0' + mm;
            }
            let dd = date.getDate();
            if (dd <= 9) {
                dd = '0' + dd;
            }
            let yyyy = date.getFullYear();
            const str = mm + '/' + dd + '/' + yyyy;
            $('#control_COLUMN158').val(str);

        };

        function getGender() {
            let gender = $('input[name=Gifting]:checked').val();
            $('input[name=Gender_SEGMENT]').val(gender);
            return gender;
        };

        function isChecked() {
            var x = document.getElementById("control_COLUMN143_2").checked;
            if (x == false) {
                document.getElementById("terms-error").innerHTML = "You must accept terms and conditions";
                document.getElementById("control_COLUMN143_2").style.borderColor = "red";
                return false;
            }
            return true;
        };


        function setConsentDate() {
            const date = new Date();
            let mm = date.getMonth() + 1;
            if (mm <= 9) {
                mm = '0' + mm;
            }
            let dd = date.getDate();
            if (dd <= 9) {
                dd = '0' + dd;
            }
            let yyyy = date.getFullYear();
            const str = mm + '/' + dd + '/' + yyyy;
            $('#control_COLUMN188').val(str);

        };

        function handleSubmit() {
            //check for validation and checked tick box

            const $form = $('#sp-form-global-footer');

            $form.submit(function(event) {

                const email = $('#sp_EMAIL').val();

                const gender = getGender();

                isChecked() === true;


                if (!validate(email) || !isChecked()) {

                    event.preventDefault();

                } else {

                    setDate();

                    setConsentDate();

                    getCountryCode();

                    _satellite.track("Data Capture – Footer Submit");

                    cookie.create('tp_signed_up', '1', 365);

                    $form.fadeOut(500, function() {});

                    jQuery('#loader').fadeIn(500, function() {
                        return true;
                    });

                }

            });

        };

        function init() {

            handleSubmit();

        };

        return {
            init: init,
            mode: mode
        };

    })();

    formModule.init();




})(jQuery);
</script>