<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="legal-page-container">
    <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Customer Services</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
                <!--                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->
                <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='delivery-information'}}">Delivery</a></li>
                            <li> <a href="{{store direct_url='returns'}}">Returns</a></li>
                            <li><a href="{{store direct_url='size-guide'}}">Size guide</a></li>
                            <li><a href="{{store direct_url='faq'}}">FAQ</a></li>
                            <li> <a href="{{store direct_url='gift-vouchers'}}">Gift vouchers</a></li>
                            <li><a href="{{store direct_url='storelocator'}}">Store locator</a></li>
                            <li><a href="{{store direct_url='personal-shopping'}}">Personal shopping</a></li>
                            <li> <a href="{{store direct_url='private-fittings'}}">Private fittings</a></li>
                            <li><a href="{{store direct_url='contacts'}}">Contact us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-xs-9">
                <h1>Delivery</h1>
                <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                <div class="cs-page-anchors">
                    <ul>
                        <li><a href="#timings">DELIVERY TIMINGS</a></li>
                        <li> <a href="#tracking">TRACKING YOUR ORDER</a></li>
                        <li><a href="#order-arrives">HOW YOUR ORDER ARRIVES</a></li>
                        <li> <a href="#cancellation">REQUEST TO CANCEL OR AMEND YOUR ORDER</a></li>
                        <li><a href="#insurance">INSURANCE</a></li>
                        <div class="section" id="extra-items">
                            <li><a href="#russia">RUSSIA</a></li>
                            <li><a href="#po-box">BFPO, PO BOX AND APO/FPO</a></li>
                            <li><a href="#duties">IMPORT DUTIES</a></li>
                            <li><a href="#perfume">PERFUMES</a></li>
                        </div>
                        <li id="see-more-btn" onclick="myFunction()"><a href="#Something">See more...</a></li>
                    </ul>
                </div>
                <div class="main-blocks">
                    <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                    <div class="section" id="timings">
                        <h2>Timings</h2>
                        <h3>UK</h3>
                        <div class="del-table" style="">
                            <table align="left" class="first" border="collapse" width="100%" style="max-width: 600px">
                                <colgroup>
                                    <col width="25%">
                                    <col width="37%">
                                    <col width="37%">
                                </colgroup>
                                <tr>
                                    <th>Service</th>
                                    <td class="bg-white">Standard</td>
                                    <td class="bg-white">Express</td>
                                </tr>
                                <tr>
                                    <th>Delivery window</th>
                                    <td class="bg-white">2-3 Days</td>
                                    <td class="bg-white">Next Working Day (order by 1pm GMT)</td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td class="bg-white">£5 / $10 / €8</td>
                                    <td class="bg-white">£10 / $20 / €15</td>
                                </tr>
                                <tr>
                                    <th>Carrier</th>
                                    <td class="bg-white">DPD</td>
                                    <td class="bg-white">DPD</td>
                                </tr>
                            </table>
                        </div>
                        <h3>Europe</h3>
                        <div class="del-table" style="">
                            <table align="left" class="second" border="collapse" width="100%" style="max-width: 600px">
                                <colgroup>
                                   <col width="25%">
                                    <col width="37%">
                                    <col width="37%">
                                </colgroup>
                                <tr>
                                    <th>Service</th>
                                    <td class="bg-white">Standard</td>
                                    <td class="bg-white">Express</td>
                                </tr>
                                <tr>
                                    <th>Delivery window</th>
                                    <td class="bg-white">4-5 Days Working Days</td>
                                    <td class="bg-white">1-3 Working Days (order by 1pm GMT)</td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td class="bg-white">£15 / $20 / €15</td>
                                    <td class="bg-white">£25 / $40 / €30</td>
                                </tr>
                                <tr>
                                    <th>Carrier</th>
                                    <td class="bg-white">DPD</td>
                                    <td class="bg-white">DHL</td>
                                </tr>
                            </table>
                        </div>
                        <h3>International</h3>
                        <div class="del-table" style="">
                            <table align="left" class="second" border="collapse" width="100%" style="max-width: 600px">
                                <colgroup>
                                    <col width="25%">
                                    <col width="37%">
                                </colgroup>
                                <tr>
                                    <th>Service</th>
                                    <td class="bg-white">Standard</td>
                                    <td class="bg-white" style="visibility: hidden">Express</td>
                                </tr>
                                <tr>
                                    <th>Delivery window</th>
                                    <td class="bg-white">4-5 Days Working Days</td>
                                    <td class="bg-white" style="display: none;">1-3 Working Days (order by 1pm GMT)</td>
                                </tr>
                                <tr>
                                    <th>Cost</th>
                                    <td class="bg-white">£15 / $20 / €15</td>
                                    <td style="display: none;" class="bg-white">£25 / $40 / €30</td>
                                </tr>
                                <tr>
                                    <th>Carrier</th>
                                    <td class="bg-white">DPD</td>
                                    <td style="display: none;" class="bg-white">DHL</td>
                                </tr>
                            </table>
                        </div>
                    </div>
               
                <div class="section" id="tracking">
                    <h2>TRACKING YOUR ORDER</h2>
                    <p>
                        All our orders are shipped using a trackable service. For a delivery update, please log on to the relevant carrier’s website and enter the tracking reference provided on the dispatch confirmation email. Alternatively, you can log into your account to track your order delivery progress.
                    </p>
                </div>
                <div class="section" id="order-arrives">
                    <h2>HOW YOUR ORDER ARRIVES</h2>
                    <p>
                        All online orders are lovingly packed and dispatched in our beautiful pink branded box, tied with black ribbon. We dispatch orders in an anonymous and discreet box with your address label. Nowhere does it state Agent Provocateur on the outer packaging.
                    </p>
                </div>
                <div class="section" id="cancellation">
                    <h2>REQUEST TO CANCEL OR AMEND YOUR ORDER</h2>
                    <p>
                        When your order is placed, our warehouse begin to pack it right away to ensure it reaches you in good time. This means that it is unfortunately not possible to add to, amend or cancel an order once it has been placed. Your purchases can be returned for a refund or exchange within 14 days. If you have forgotten to purchase an item, you will need to place a secondary order.
                    </p>
                </div>
                <div class="section" id="insurance">
                    <h2>INSURANCE</h2>
                    <p>
                        All Agent Provocateur orders require a signature on receipt. If nobody is home to sign, your order will be returned to the carrier’s local depot and instructions will be left regarding redelivery.</p>
                    <p>Due to their size and weight, orders containing luggage will be charged a special shipping rate (£40 / $80 / €60) which will display at checkout.
                    </p>
                    <div class="section" id="russia">
                        <h2>RUSSIA</h2>
                        <p>
                            We deliver to most international destinations, however if you wish to ship Russia, please visit the relevant website. For some international destinations we can only offer express delivery.
                        </p>
                    </div>
                    <div class="section" id="po-box">
                        <h2>BFPO, PO BOX and APO/FPO</h2>
                        <p>
                            Unfortunately, we are unable to ship to BFPO, PO BOX and APO/FPO addresses.
                        </p>
                    </div>
                    <div class="section" id="duties">
                        <h2>IMPORT DUTIES</h2>
                        <p>
                            You may need to pay duties if you are based outside of the UK and EU. When your delivery reaches the country of destination, import duties and taxes are levied and payment of these are necessary to release your order from customs. We are unable to advise on rates as they vary according to country. Please consult your local post office services for more information.
                        </p>
                    </div>
                       <div class="section" id="perfume">
                        <h2>PERFUMES</h2>
                        <p>
                            If your order contains perfume and you are shipping to the UK it will be delivered by Royal Mail and may arrive on a different day to any other items you may have bought. Perfumes cannot be shipped outside of the UK due to international shipping regulation. If you are shipping outside of the UK and your order contains a perfume, we will ship your order without the fragrance and you will only be charged for the shipped items.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>