<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><div class="legal-page-container">
      <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Customer Services</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
                <!--                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->
                <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='delivery-information'}}">Delivery</a></li>
                            <li> <a href="{{store direct_url='returns'}}">Returns</a></li>
                            <li><a href="{{store direct_url='size-guide'}}">Size guide</a></li>
                            <li><a href="{{store direct_url='faq'}}">FAQ</a></li>
                            <li> <a href="{{store direct_url='gift-vouchers'}}">Gift vouchers</a></li>
                            <li><a href="{{store direct_url='storelocator'}}">Store locator</a></li>
                            <li><a href="{{store direct_url='personal-shopping'}}">Personal shopping</a></li>
                            <li> <a href="{{store direct_url='private-fittings'}}">Private fittings</a></li>
                            <li><a href="{{store direct_url='contacts'}}">Contact us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-xs-9">
                <h1>RETURN POLICY</h1>
                <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                <div class="cs-page-anchors">
                    <ul>
                        <li><a href="#returns-policy">RETURNS POLICY</a></li>
                        <li> <a href="#how-to-return">HOW TO RETURN YOUR ORDER</a></li>
                    </ul>
                </div>
                <div class="main-blocks">
                    <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                        <button onclick="topFunction()" id="back-to-top-btn" title="Go to top">Back to top</button>
                        <div class="section" id="returns-policy">
                            <h2>RETURNS POLICY</h2>
                            <p>
                            We hope you are delighted with your purchase; however should you wish to return your order for an exchange or refund, please note we will accept returns sent back within 14 days of receipt of your order.
                            </p>
                            <p>Please ensure the item(s) are in their original condition and packaging, with all tags attached. Ensure that briefs are tried on over your own lingerie - we will not accept returns on lingerie that has been damaged or worn. We cannot accept returns on opened packs of hosiery.</p>

                            <p>Please be advised that we cannot accept returns for lipsticks, lip balms or earrings due to hygiene reasons.</p>
                            <h3>Refunds</h3>
                            <p>Refunds are processed within 14 working days of receipt to allow for inspection onto the original method of payment (credit card, gift voucher or Paypal account). We cannot facilitate with refunds to a third party. You will receive an email once your order has been refunded.</p>
                            <h3>Exchanges</h3>
                            <p>We only offer size exchanges on the same product. Where available, replacement items will be dispatched within 14 working days. If your chosen replacement size is not in stock, you will automatically be refunded and notified by email. For alternative items, please place a new order on our website or alternatively, please get in touch with our Customer Care team.
                            </p>
                            <h3>Gift vouchers</h3>
                            <p>Please note that gift vouchers are not cash refundable. Items purchased via gift voucher can be size exchanged, or you can be re-credited with the value.</p>
                            <h3>Boutique returns</h3>
                            <p>Our website doesn’t accept returns of items purchased from boutiques. For store purchases, you will be able to exchange your item in-store within 14 days of purchase. Please note that Agent Provocateur boutiques do not offer refunds. Goods can only be exchanged if they are returned in perfect condition with tags attached and with a receipt, as proof of purchase. Online purchases cannot be returned to a boutique.</p>
                        </div>
                        <div class="section" id="how-to-return">
                            <h2>HOW TO RETURN YOUR ORDER</h2>
                                <p>
                                *For your convenience, we offer a free tracked return service for the below countries:
                                </p>
                                 <p>Australia, Austria, Belgium, Bulgaria, Canada, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom, USA
                                </p>
                                <p>To create your return, please log on our returns portal and follow the steps. You will need your Order Number/ID stated on the delivery note (starts with S000-) and Postcode (your delivery postcode): <br />
                                https://agentprovocateur.intelligentreturns.net</p>
                                <p>You will receive a unique return label and will be fully updated on the progress of your return.
                                </p>
                                <p>Please note:<br />
                                A return request must be created within 14 days of receiving your order. 
                                Please return your parcel as soon as you receive your return paperwork. 
                                Any unauthorised order returned to the warehouse will be returned to sender. 
                                </p>
                                <p>If your country is not listed here, please contact our Customer Care team who can help you further with your return. Agent Provocateur will refund postage up to the value of your outbound shipping charge, upon request and with a valid proof of posting.</p>
                        </div>                
                </div>
            </div>
        </div>

<script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>
     