.no-sale {
  position: relative;
  background-color: #FFF;
  text-align: center; 
	h1, p {
			font-family: Helvetica, Arial, sans-serif;
			color: #000;
			-webkit-font-smoothing: antialiased;
			margin-bottom: 20px;
			font-style: normal;
		@media only screen and (max-width: 989px) {
			padding: 0 15px;
		}
	}
	p {
		max-width: 500px;
	    margin: auto;
	    line-height: 24px;
	    font-size: 14px;
	    letter-spacing: 2px !important;
	    font-weight: normal !important;
	    font-style: normal !important;
			&.fine-print {
			font-size: 10px;
			margin-top: 20px; 
		}
	}
	h1 {
		letter-spacing: 8px;
		color: #000 !important;
		font-size: 30px;
		line-height: 40px;
		font-weight: 100;
		margin-top: 100px;
		@media only screen and (max-width: 989px) {
			margin-top: 50px;
		}
	}
	label {
		color: #000;
		@media only screen and (max-width: 989px) {
			padding-bottom: 10px;
		}
	}
	.tile {
		padding: 0 15px;
		max-width: 510px;
		display: inline-block;
		margin-top: 80px;
		margin-bottom: 60px;
		@media only screen and (max-width: 1229px) and (min-width: 990px) {
			width: 50%;
			float: left;
			max-width: none;
		}
		@media only screen and (max-width: 989px) {
			width: 100%;
			float: none;
			margin: 30px auto 0 auto;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
		a.wrapper {
			position: relative;
			display: block;
		}
		.inner {
			position: absolute;
			bottom: 30px;
			width: 100%;
			text-align: center;
			@media only screen and (max-width: 989px) {
				top: auto;
			}
			 h3 {
				color: #FFF!important;
			}
			.cta {
				display: inline-block;
				border: 1px solid #FFF;
				border-radius: 0;
				font-family: Helvetica, Arial, sans-serif;
				height: 40px;
				line-height: 36px;
				width: 260px;
				margin: 10px auto;
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: 1.2px;
				font-weight: bold;
				text-decoration: none;
				color: #FFF;
				background-color: rgba(256,256,256,0);
				transition: all 0.2s ease-in-out;
				margin-right: 20px;
				&:hover, {
					color: #000;
					background-color:#FFF;
				}
			}
		}
			@media only screen and (max-width: 1229px) and (min-width: 990px) {
			width: 50%;
			float: left;
			max-width: none;
		}
	}
	input[type="radio"] {
		display: none;
		position: relative;
	}
	input[type="radio"]:checked + .radio-label:after {
		content: ' ';
	    position: absolute;
	    left: 28px;
	    top: -1px;
	    display: block;
	    height: 14px;
	    width: 14px;
	    border-radius: 50%;
	    background-color: #000;
	}
	input[name="Email"] {
		min-width: 290px;
		height: 30px;
		line-height: 30px;
		margin: auto 30px auto 5px;
		color: #000;
		font-size: 12px;
		letter-spacing: 1px;
		border: 1px solid #000;
		font-size: 12px;
		letter-spacing: 1px;
		padding: 5px 10px;
		@media only screen and (max-width: 989px) {
			display: block;
			width: 300px;
			margin: 20px auto;
		}
		@media only screen and (max-width: 1229px) and (min-width: 990px) {
			min-width: 200px;
		}
	}
	input[type="submit"], input[type="button"]  {
		width: 200px;
		height: 30px;
		background-color: rgba(0,0,0,0);
		color: #000;
		border: 1px solid #000;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 1.2px;
		font-weight: bold;
		transition: all 0.2s ease-in-out;
		line-height: 26px;
		border-radius: 0;
		margin:10px 10px;
			&:hover {
				background-color: #000;
				color: #FFF;
			}
	}
	.radio-label {
		position: relative;
		padding-left: 50px;
	}
	label, form span {
		font-size: 12px;
		letter-spacing: 1px;
	}
	form span {
		padding: 0 10px;
	}
	.radio-label:before {
		content: ' ';
		position: absolute;
		left: 25px;
		display: block;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 1px solid #000;
		top: -4px;
	}
	.radio-label:hover {
		cursor: pointer;
	}
	label[for="control_EMAIL"] {
		padding-left: 30px;
	}
	label {
		color: #000;
	}
	input.error {
		background-color: #feece6;
		animation: shake 0.5s;
	}
	form {
		margin-top: 30px;
	}
	.bottom {
		width: 100%;
		padding: 60px;
		background-color: #000;
		margin-top: 60px;
		border-bottom: 1px solid #333;
		@media only screen and (max-width: 580px) {
			padding: 30px;
		}
			p, h5 {
				color: #FFF;
				font-family: Helvetica, Arial, sans-serif;
			}
			.left, .right {
				width: 50%;
				float: left;
				position: relative;
			}
			h5 {
				font-weight: 100;
				letter-spacing: 7px;
				margin-bottom: 60px;
				font-size: 16px;
			}
			p {
			    font-size: 12px!important;
			    letter-spacing: 3px;
			    line-height: 24px;
			    margin-bottom: 30px;
			}
			a {
				color: #FFF!important;
				text-decoration: none;
			}
			.left::after {
				content: ' ';
				background-color: #FFF;
				display: block;
				width: 1px;
				height: 100px;
				position: absolute;
				right: 1px;
				top: 50%;
				transform: translateY(-50%);
			}
	}
	.error-message {
		color: #dc153d;
		display: none;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		font-size: 11px;
	}
	.errored input[name="Email"] {
  		border: 1px solid #dc153d;
	}
	.errored.error-message {
		color: red;
	    display: block;
	    opacity: 1;
	    font-size: 11px;
	    position: relative;
	    @media only screen and (max-width: 580px) {
			right:180px;
			top: 10px;
		}
		@media only screen and (max-width: 468px) {
			right:0;
		}
	}
}

/*# sourceMappingURL=no-sale.css.map */
