body {
    background-color: #ffffff;
    margin: 0;
    font-family: Helvetica, Arial, sans serif;
    .page-container {
        max-width: 1920px; // margin-top: 100px;
        width: 100%;
        margin: auto;
.container .main-container {
    margin-top: 120px;
}
        .subscribe-page-wrapper {
            max-width: 1200px;
            width: 100%;
            margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
            .left {
                display: inline-block;
                width: 100%;
                vertical-align: middle;
                float: unset;
                @media screen and (min-width: 769px) {
                    width: 49%;
                }
                img {
                    margin: auto;
                    width: 100%;
                    max-width: 460px;
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    height: auto;
                }
            }
            .right {
                display: inline-block;
                width: 100%;
                vertical-align: middle;
                float: unset;

                @media screen and (min-width: 769px) {
                    width: 49%;
                }
                .subscribe__form-wrapper {
                    text-align: center;
                    max-width: 600px;
                    width: 100%;
                    margin: auto;
                    h2 {
                        font-size: 31px;
                        line-height: 33px;
                        letter-spacing: 5px;
                        margin-bottom: 30px;
                        font-weight: normal;
                    }
                    .intro-copy {
                        margin-bottom: 20px;
                        line-height: 19px;
                        letter-spacing: 1.3px;
                        font-size: 13px;
                    }

                    form {
                        label {
                            color: #000000;
                            width: unset;
                            letter-spacing: 1.3px;
                            font-size: 12px;
                        }
                        #errorMessageContainerId {
                            color: #FF0000;
                            font-size: 9px;
                        }
                        #terms-error {
                            color: #FF0000;
                            font-size: 9px;
                        }
                        #buying {
                            margin-top: 20px;
                            span {
                                font-size: 12px;
                                letter-spacing: 1.3px;
                            }
                        }

                        .fine-print {
                            font-size: 9px;
                            line-height: 11px;
                            margin-top: 60px;
                            input[type="checkbox"] {
                                position: unset;
                                left: unset;
                                -webkit-appearance: unset;
                                width: 16px;
                                height: 16px;
                                border: 1px solid #000000;
                                vertical-align: middle;
                                margin-top: 0;
                                border-radius: unset;
                                &:checked {
                                    content: "@";
                                    background-image: url(https://www.agentprovocateur.com/media/custom_media/pages/newsletter_subscription/check-symbol.svg);
                                    background-size: contain;
                                }
                            }

                            .line-break-mobile {
                                display: inline-block;
                                @media screen and (min-width: 768px) {
                                    display: none;
                                }
                            }
                            a {
                                color: #000000;
                            }
                            span span {
                                margin-left: 5px;
                                font-size: 9px !important;
                                line-height: 11px;
                                color: #000;
                                font-weight: normal;
                            }
                        }
                        input {
                                -webkit-appearance: unset;
    border-radius: 0;
                        }
                        input[name="Email"] {
                            display: block;
                            width: 282px;
                            background: transparent;
                            border: 1px solid #000;
                            font-size: 14px;
                            letter-spacing: 1px;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            margin: 20px auto;
                            padding: 10px 8px;
                            color: #000000;
                            margin-bottom: 10px;
                        }
                        input[type="submit"] {
                            display: block;
                            margin: auto;
                            float: none;
                            border-radius: 0;
                            width: 240px;
                            height: 40px;
                            color: #000000;
                            border: 1px solid #000;
                            background-color: rgba(256, 256, 256, 0);
                            font-weight: bold;
                            letter-spacing: 1.6px;
                            font-size: 12px;
                            text-transform: uppercase;
                            text-decoration: none;
                            transition: all 0.2s ease-in-out;
                            margin-bottom: 10px;
                            &:hover {
                                color: white;
                                background-color: black;
                            }
                        }
                        input[type="radio"] {
                            display: none;
                        }
                        #buying label:before {
                            display: inline-block;
                            content: ' ';
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 1px solid;
                            vertical-align: middle;
                            margin-right: 5px;
                            margin-left: 16px;
                            &:before {
                                background-color: #000 !important;
                                border: 2px solid #fff;
                            }
                        }
                        #errorMessageContainerId {
                            color: #FF0000;
                            font-size: 9px;
                        }

                        #terms-error {
                            color: #FF0000;
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
}