$slick-arrow-color: black !default;

$slick-prev-character: url('https://agentprovocateur.com/media/custom_media/img/icons/previous-arrow.svg') !default;
$slick-next-character: url('https://agentprovocateur.com/media/custom_media/img/icons/next-arrow.svg') !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


/* slider styles 130818 */

body {
    // margin: 0;
    .aw18-lookbook-container {
        background-color: #fff;
        font-family: Helvetica, sans-serif;
        section {
            width: 100%;
            max-width: 1330px;
            margin: auto;
            text-align: center;
            margin-bottom: 8px;
            .page-title {
                text-transform: uppercase;
                text-align: center;
                font-size: 1.55vw;
                line-height: 1.9vw;
                letter-spacing: 0.21vw;
                margin-top: 3vw;
                margin-bottom: 1.85vw;
                @media only screen and (max-width: 989px) {
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 4px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 26px;
                    line-height: 34px;
                    letter-spacing: 4px;
                    margin-top: 35px;
                    margin-bottom: 30px;
                }


                @media screen and (min-width: 990px) and (max-width: 1920px) {
                    font-size: 1.55vw; //30px
                    line-height: 1.8vw; //34px
                    letter-spacing: 0.21vw; //4px;
                }
                @media screen and (min-width: 1921px) {
                    font-size: 26px;
                    line-height: 34px;
                    letter-spacing: 4px;
                    margin-top: 35px;
                    margin-bottom: 30px;
                }
            }
            .main-cta {
                font-style: italic;
                font-size: 1.05vw;
                line-height: 1.05vw;
                letter-spacing: 0.085vw;
                a {
                    text-decoration: none;
                    color: inherit;
                    transition: 200ms;
                    display: inline-block;
                    &:after {
                        content: '';
                        width: 0px;
                        height: 1px;
                        display: block;
                        margin: auto;
                        background: black;
                        transition: 250ms;
                    }
                    &:hover:after{
                       width: 100%;
                    }
                    @media only screen and (max-width: 767px) {
                        text-decoration: underline;
                    }
                }
                @media only screen and (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 1px;
                }
                @media only screen and (max-width: 989px) {
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: 1.5px;
                }
                           @media only screen and (min-width: 1921px)
 {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.5px;
}
                margin-top: 20px;
                margin-bottom: 50px;
            }
 

            &.slider-container {
                /* Arrows */
                .slick-prev,
                .slick-next {
                    position: absolute;
                    display: block;

                    line-height: 0px;
                    font-size: 0px;
                    cursor: pointer;
                    color: transparent;

                    padding: 0;
                    border: none;
                    outline: none;
                    background-repeat: no-repeat !important;
                    background-size: contain;
                    background-color: transparent;
                }
                .lookbook-carousel {
                    width: 90vw;
                    max-width: 914px;
                    margin: auto;
                    position: relative;
                    margin-bottom: 30px;
                    @media only screen and (max-width: 460px) {
                        width: 80vw;
                    }
                    @media screen and (max-width: 767px) {
                        margin-bottom: 0;
                    }
                    img {
                        @media only screen and (max-width: 460px) {
                            // width: 298px;
                            margin: auto;
                        }
                    }
                    .slick-prev,
                    .slick-next {
                        height: 30px;
                        width: 15px;
                        top: 45%;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        @media only screen and (max-width: 460px) {
                            height: 20px;
                            width: 10px;
                        }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            top: 45%;
                        }
                    }
                    .slick-prev {
                        left: -22px;
                        background-image: $slick-prev-character;
                        [dir="rtl"] & {
                            left: auto;
                            right: -22px;
                        }
                        @media screen and (min-width: 1400px) {
                            left: -182px;
                            [dir="rtl"] & {
                                left: auto;
                                right: -182px;
                            }
                        }

                        @media screen and (min-width: 1025px) and (max-width: 1439px) {
                            left: -9vw;
                            [dir="rtl"] & {
                                left: auto;
                                right: -182px;
                            }
                        } // &:before {
                        //     content: $slick-prev-character;
                        //     [dir="rtl"] & {
                        //         content: $slick-prev-character;
                        //     }
                        // }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            left: -30x;
                        }
                    }



                    .slick-next {
                        right: -20px;
                        background-image: $slick-next-character;
                        [dir="rtl"] & {
                            left: -20px;
                            right: auto;
                        }
                        @media screen and (min-width: 1400px) {
                            right: -182px;
                            [dir="rtl"] & {
                                left: auto;
                                right: -182px;
                            }
                        }
                        @media screen and (min-width: 1025px) and (max-width: 1439px) {
                            right: -9vw;
                            [dir="rtl"] & {
                                left: auto;
                                right: -182px;
                            }
                        } // &:before {
                        //     content: $slick-next-character;
                        //     [dir="rtl"] & {
                        //         content: $slick-next-character;
                        //     }
                        // }
                    }
                    video {
                        @media screen and (min-width: 768px) and (max-width: 1040px) {
                            width: 94% !important;
                        }
                        margin-top: 14px;
                        margin-bottom: 14px;
                        @media screen and (min-width: 1440px) {
                            margin-top: 44px;
                            margin-bottom: 40px;
                        }

                        @media screen and (min-width: 768px) and (max-width: 1023px) {
                            margin: 29px 0;
                        }
                        @media screen and (min-width: 1024px) and (max-width: 1439px) {
                            margin: 39px 0;
                        }
                        @media screen and (max-width: 767px) {
                            margin: 13.5px 0;
                        }
                        @media screen and (max-width: 375px) {
                            margin: 12px 0;
                        }
                        @media screen and (max-width: 320px) {
                            margin: 10px 0;
                        }
                    }

                    .slide-details {
                        margin-top: 35px;
                        @media screen and (max-width: 767px) {
                            margin-top: 20px;
                            margin-bottom: 30px;
                        } //  @media screen and (max-width: 325px) {
                        //     margin-bottom: 0;
                        // }
                        .range-name {
                            @extend .main-cta;
                            margin: 0; // a {
                            //     color: inherit;
                            //     text-decoration: none;
                            //     span.coming-soon {}
                            //     &:hover {
                            //         text-decoration: underline;
                            //     }
                            //     @media only screen and (max-width: 767px) {
                            //         text-decoration: underline;
                            //     }
                            // } 
                            @media screen and (max-width: 767px) {
                                font-size: 16px;
                            }
                            span.seperator {
                                margin: 0 4px;
                                font-size: 16px !important;
                            }
                        }
                    }
                }
                .thumbnail-carousel {
                    margin-bottom: 17px;
                    width: 100vw;
                    max-width: 640px !important;
                    margin: auto;
                    position: relative;
                    @media screen and (min-width: 768px) and (max-width: 1024px) {

                        max-width: 662px !important;
                    }
                    @media only screen and (max-width: 460px) {
                        width: 100vw;
                    } // @media screen and (max-width: 767px) {
                    //     margin-bottom: 15px;
                    // }
                    img {
                        margin: 0 4px;
                        width: 55px;
                        height: 55px;
                        @media only screen and (max-width: 460px) {
                            width: 95px;
                            height: 95px;
                        }
                        @media only screen and (max-width: 320px) {
                            width: 85px;
                        }
                    }
                    .slick-list {
                        // @media only screen and (max-width: 460px) {
                        //     padding: 0 25px !important;
                        // }
                    }
                    .slick-prev,
                    .slick-next {
                        height: 14px;
                        width: 8px;
                        background-size: contain;
                        top: 45%;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        @media screen and (min-width: 768px) and (max-width: 1040px) {
                            top: 45%;
                            height: 16px;
                            width: 10px;
                        }
                    }
                    .slick-prev {
                        left: -40px;
                        background-image: $slick-prev-character;

                        [dir="rtl"] & {
                            left: auto;
                            right: -40px;
                        }
                        @media screen and (max-width: 440px) {
                            left: 1px;
                        } // &:before {
                        //     content: $slick-prev-character;
                        //     [dir="rtl"] & {
                        //         content: $slick-prev-character;
                        //     }
                        // }
                        @media screen and (max-width: 767px) {
                            display: none !important;
                        }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            left: -30px;
                        }
                    }
                    .slick-next {
                        right: -40px;
                        background-image: $slick-next-character;

                        [dir="rtl"] & {
                            left: -40px;
                            right: auto;
                        }
                        @media screen and (max-width: 440px) {
                            right: 1px;
                        } // &:before {
                        //     content: $slick-next-character;
                        //     [dir="rtl"] & {
                        //         content: $slick-next-character;
                        //     }
                        // }
                        @media screen and (max-width: 767px) {
                            display: none !important;
                        }
                        @media screen and (min-width: 768px) and (max-width: 1024px) {
                            right: -30px;
                        }
                    }
                }
            }
            &.secondary {
                border-top: 1px solid #BEBEBE; // .title {
                //     margin-top: 35px;
                //     @extend .page-title;
                //     margin-bottom: 30px;
                //     @media screen and (max-width: 767px) {
                //         margin-bottom: 20px;
                //     }
                //}
                .body {
                    // margin-top: 30px;
                    text-align: center;
                    font-weight: 100;
                    font-size: 1.05vw;
                    line-height: 1.45vw;
                    letter-spacing: 0.042vw;
                    margin-bottom: 1.05vw;
                    margin-top: 3vw;
                    @media screen and (max-width: 440px) {
                        text-align: center;
                    }
                    @media screen and (min-width: 768px) {
                        max-width: 912px;
                        width: 90%;
                        margin: 1.5vw auto;
                    }
                    @media screen and (min-width: 1440px) {
                        width: 70%;
                    }
                    @media only screen and (max-width: 989px) {
                        font-size: 13px;
                        line-height: 18px;
                        letter-spacing: 0.81px;
                    }
                    @media only screen and (max-width: 767px) {
                        font-size: 17px;
                        line-height: 22px;
                        letter-spacing: 0.81px;
                        margin-top: 25px;
                        padding: 0 20px;
                    }
                       @media screen and (min-width: 1921px) {
                       font-size: 20px;
    line-height: 28px;
    margin-top: 27px;
    margin-bottom: 20px;
                }
                }
            }
        }
    }
}

































/* END slider styles 130818 */