/* slider styles 130818 */
body .aw18-lookbook-container {
  background-color: #fff;
  font-family: Helvetica, sans-serif; }
  body .aw18-lookbook-container section {
    width: 100%;
    max-width: 1330px;
    margin: auto;
    text-align: center;
    margin-bottom: 8px; }
    body .aw18-lookbook-container section .page-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 1.55vw;
      line-height: 1.9vw;
      letter-spacing: 0.21vw;
      margin-top: 3vw;
      margin-bottom: 1.85vw; }
      @media only screen and (max-width: 989px) {
        body .aw18-lookbook-container section .page-title {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 4px;
          margin-top: 40px;
          margin-bottom: 20px; } }
      @media screen and (max-width: 767px) {
        body .aw18-lookbook-container section .page-title {
          font-size: 26px;
          line-height: 34px;
          letter-spacing: 4px;
          margin-top: 35px;
          margin-bottom: 30px; } }
      @media screen and (min-width: 990px) and (max-width: 1920px) {
        body .aw18-lookbook-container section .page-title {
          font-size: 1.55vw;
          line-height: 1.8vw;
          letter-spacing: 0.21vw; } }
      @media screen and (min-width: 1921px) {
        body .aw18-lookbook-container section .page-title {
          font-size: 26px;
          line-height: 34px;
          letter-spacing: 4px;
          margin-top: 35px;
          margin-bottom: 30px; } }
    body .aw18-lookbook-container section .main-cta, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
      font-style: italic;
      font-size: 1.05vw;
      line-height: 1.05vw;
      letter-spacing: 0.085vw;
      margin-top: 20px;
      margin-bottom: 50px; }
      body .aw18-lookbook-container section .main-cta a, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name a {
        text-decoration: none;
        color: inherit;
        transition: 200ms;
        display: inline-block; }
        body .aw18-lookbook-container section .main-cta a:after, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name a:after {
          content: '';
          width: 0px;
          height: 1px;
          display: block;
          margin: auto;
          background: black;
          transition: 250ms; }
        body .aw18-lookbook-container section .main-cta a:hover:after, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name a:hover:after {
          width: 100%; }
        @media only screen and (max-width: 767px) {
          body .aw18-lookbook-container section .main-cta a, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name a {
            text-decoration: underline; } }
      @media only screen and (max-width: 767px) {
        body .aw18-lookbook-container section .main-cta, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 1px; } }
      @media only screen and (max-width: 989px) {
        body .aw18-lookbook-container section .main-cta, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 1.5px; } }
      @media only screen and (min-width: 1921px) {
        body .aw18-lookbook-container section .main-cta, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 1.5px; } }
    body .aw18-lookbook-container section.slider-container {
      /* Arrows */ }
      body .aw18-lookbook-container section.slider-container .slick-prev,
      body .aw18-lookbook-container section.slider-container .slick-next {
        position: absolute;
        display: block;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        color: transparent;
        padding: 0;
        border: none;
        outline: none;
        background-repeat: no-repeat !important;
        background-size: contain;
        background-color: transparent; }
      body .aw18-lookbook-container section.slider-container .lookbook-carousel {
        width: 90vw;
        max-width: 914px;
        margin: auto;
        position: relative;
        margin-bottom: 30px; }
        @media only screen and (max-width: 460px) {
          body .aw18-lookbook-container section.slider-container .lookbook-carousel {
            width: 80vw; } }
        @media screen and (max-width: 767px) {
          body .aw18-lookbook-container section.slider-container .lookbook-carousel {
            margin-bottom: 0; } }
        @media only screen and (max-width: 460px) {
          body .aw18-lookbook-container section.slider-container .lookbook-carousel img {
            margin: auto; } }
        body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev,
        body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
          height: 30px;
          width: 15px;
          top: 45%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
          @media only screen and (max-width: 460px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev,
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
              height: 20px;
              width: 10px; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev,
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
              top: 45%; } }
        body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
          left: -22px;
          background-image: url("https://agentprovocateur.com/media/custom_media/img/icons/previous-arrow.svg"); }
          [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
            left: auto;
            right: -22px; }
          @media screen and (min-width: 1400px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
              left: -182px; }
              [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
                left: auto;
                right: -182px; } }
          @media screen and (min-width: 1025px) and (max-width: 1439px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
              left: -9vw; }
              [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
                left: auto;
                right: -182px; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-prev {
              left: -30x; } }
        body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
          right: -20px;
          background-image: url("https://agentprovocateur.com/media/custom_media/img/icons/next-arrow.svg"); }
          [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
            left: -20px;
            right: auto; }
          @media screen and (min-width: 1400px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
              right: -182px; }
              [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
                left: auto;
                right: -182px; } }
          @media screen and (min-width: 1025px) and (max-width: 1439px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
              right: -9vw; }
              [dir="rtl"] body .aw18-lookbook-container section.slider-container .lookbook-carousel .slick-next {
                left: auto;
                right: -182px; } }
        body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
          margin-top: 14px;
          margin-bottom: 14px; }
          @media screen and (min-width: 768px) and (max-width: 1040px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              width: 94% !important; } }
          @media screen and (min-width: 1440px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin-top: 44px;
              margin-bottom: 40px; } }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin: 29px 0; } }
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin: 39px 0; } }
          @media screen and (max-width: 767px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin: 13.5px 0; } }
          @media screen and (max-width: 375px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin: 12px 0; } }
          @media screen and (max-width: 320px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel video {
              margin: 10px 0; } }
        body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details {
          margin-top: 35px; }
          @media screen and (max-width: 767px) {
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details {
              margin-top: 20px;
              margin-bottom: 30px; } }
          body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
            margin: 0; }
            body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name span.seperator {
              margin: 0 4px;
              font-size: inherit !important; }
      body .aw18-lookbook-container section.slider-container .thumbnail-carousel {
        margin-bottom: 17px;
        width: 100vw;
        max-width: 640px !important;
        margin: auto;
        position: relative; }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          body .aw18-lookbook-container section.slider-container .thumbnail-carousel {
            max-width: 662px !important; } }
        @media only screen and (max-width: 460px) {
          body .aw18-lookbook-container section.slider-container .thumbnail-carousel {
            width: 100vw; } }
        body .aw18-lookbook-container section.slider-container .thumbnail-carousel img {
          margin: 0 4px;
          width: 55px;
          height: 55px; }
          @media only screen and (max-width: 460px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel img {
              width: 95px;
              height: 95px; } }
          @media only screen and (max-width: 320px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel img {
              width: 85px; } }
        body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev,
        body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
          height: 14px;
          width: 8px;
          background-size: contain;
          top: 45%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
          @media screen and (min-width: 768px) and (max-width: 1040px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev,
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
              top: 45%;
              height: 16px;
              width: 10px; } }
        body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev {
          left: -40px;
          background-image: url("https://agentprovocateur.com/media/custom_media/img/icons/previous-arrow.svg"); }
          [dir="rtl"] body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev {
            left: auto;
            right: -40px; }
          @media screen and (max-width: 440px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev {
              left: 1px; } }
          @media screen and (max-width: 767px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev {
              display: none !important; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-prev {
              left: -30px; } }
        body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
          right: -40px;
          background-image: url("https://agentprovocateur.com/media/custom_media/img/icons/next-arrow.svg"); }
          [dir="rtl"] body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
            left: -40px;
            right: auto; }
          @media screen and (max-width: 440px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
              right: 1px; } }
          @media screen and (max-width: 767px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
              display: none !important; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            body .aw18-lookbook-container section.slider-container .thumbnail-carousel .slick-next {
              right: -30px; } }
    body .aw18-lookbook-container section.secondary {
      border-top: 1px solid #BEBEBE; }
      body .aw18-lookbook-container section.secondary .body {
        text-align: center;
        font-weight: 100;
        font-size: 1.05vw;
        line-height: 1.45vw;
        letter-spacing: 0.042vw;
        margin-bottom: 1.05vw;
        margin-top: 3vw; }
        @media screen and (max-width: 440px) {
          body .aw18-lookbook-container section.secondary .body {
            text-align: center; } }
        @media screen and (min-width: 768px) {
          body .aw18-lookbook-container section.secondary .body {
            max-width: 912px;
            width: 90%;
            margin: 1.5vw auto; } }
        @media screen and (min-width: 1440px) {
          body .aw18-lookbook-container section.secondary .body {
            width: 70%; } }
        @media only screen and (max-width: 989px) {
          body .aw18-lookbook-container section.secondary .body {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.81px; } }
        @media only screen and (max-width: 767px) {
          body .aw18-lookbook-container section.secondary .body {
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.81px;
            margin-top: 25px;
            padding: 0 20px; } }
        @media screen and (min-width: 1921px) {
          body .aw18-lookbook-container section.secondary .body {
            font-size: 20px;
            line-height: 28px;
            margin-top: 27px;
            margin-bottom: 20px; } }

/* END slider styles 130818 */

/*# sourceMappingURL=lookbook-styles.css.map */
