<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <!--     <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick-theme.css">
 -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!--  <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/lookbook-styles.css"> -->
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.css">

    <link rel="stylesheet" href="../dist/styles/styles.css" />


    <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>


    <style type="text/css">
    .category-top {
        display: none;
    }

    .row.breadcrumbs {
        display: none !important;
    }

    * {
        box-sizing: border-box;
    }

    .category-lingerie .vaimo-cms.row,
    .catalog-category-view .vaimo-cms.row:last-child {
        background-color: #fff !important;
    }

    .slick-slide {
        margin: 0px 1px;
    }

    .slick-slide img {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1040px) {
        .slick-slide img {
            width: 94%;
            margin: auto;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    /*.thumbnail-carousel .slick-slide {
    width: 92px !important;
}*/

    .lookbook-carousel {
        width: 90vw;
        max-width: 914px;
        margin: auto;
        position: relative;
        /*top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;*/
    }
    /*@media only screen and (max-width: 460px) {
        .lookbook-carousel {
            width: 85vw;
        }
    }*/

    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: 0.6;
    }

    .slick-active {
        opacity: 0.6;
    }

    .slick-current {
        opacity: 1;
    }
    /*.thumbnail-carousel {
    width: 90vw;
    max-width: 632px !important;
    margin: auto;
    position: relative;
}*/
    /*@media only screen and (max-width: 460px) {
    .thumbnail-carousel {
        width: 100vw;
        margin: auto;
        position: relative;
    }
}*/
    /*@media only screen and (max-width: 460px) {

    .thumbnail-carousel .slick-list {
        padding: 0 25px !important;
    }
}*/
    /*.thumbnail-carousel img {

    padding: 5px;
}
*/
    /*    .slick-slide.slick-cloned {
    display: none !important;
}*/
    /*    section {
            .slideDetails {
                text-align: center;
                span {
                    padding: 10px;
                }
            }
        }*/
    /*        @media only screen and (max-width: 460px) {

        iframe {
    width: 100% !important;
    max-width: 912px;
    height: auto;
}
}*/

    .player .vp-controls {
        display: none !important;
    }
    /*.video-slide {
    margin-top: 40px;
}*/

    .video-slide:hover+.player .vp-controls {
        display: block !important;
    }

    .row.breadcrumbs {
        display: none;
    }

    .controller-bar {
        display: none;
        height: 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
        /* opacity: 0.2;*/
    }

    .video-slide:hover>.controller-bar {
        display: block;
    }

    span.seperator {
       font-size: 16px;
      margin: 0 4px;
}

@media only screen and (max-width: 767px) {
body .aw18-lookbook-container section .main-cta, body .aw18-lookbook-container section.slider-container .lookbook-carousel .slide-details .range-name {
    font-size: 16px !important;}
    </style>
</head>

<body>
    <section class="bra-shapes-container">
        <section class="intro">
            <div class="page-title">Autumn Winter '18</div>
        </section>
        <section class="slider-container">
            <div class="carousel">
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                 <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Soni.jpg">
                  <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
             
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Rubi.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Riho.jpg">
                    <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pollie_Sheila.jpg">
                   <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pascale_Cephora.jpg">
                   <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
               <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                 <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
                <div class="shape-container">
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Soni.jpg">
                  <div class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='pascale-jacket-teal'}}">Pascale</a><span class="seperator">&</span><a href="{{store direct_url='cephora-tights-black'}}">Cephora</a></div>
                    </div>
                </div>
               
                </div>
                
        </section>
        </section>
    </section>
    
<script type="text/javascript" src="ap-sizing.bundle.js"></script>
    <script type="text/javascript">
    jQuery(document).on('ready', function() {




        if (window.matchMedia("(max-width: 768px)").matches) {
  /* the viewport is less than 768 pixels wide */
        jQuery('.carousel').slick({
             dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 2,
            responsive: [
   
  
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
        });} 
    });

    </script>
<script type="text/javascript" src="ap-sizing.bundle.js"></script></body>

</html>