<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/xmas-18/styles.css">
<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/css/slick.css">

 <div class="christmas-lp-container">
        <div class="section xmas_page_header">
            <div class="inner">
                <div class="bodyHeading"><img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/update6518/Christmas_Slogan_Silent_Nights.jpg"></div>
               <!--  <div class="bodyHeading">
                        Not so Silent Nights
                    </div> -->
                    <div class="bodyCopy no-mobile">
                        <span>From sensuous red sets for show-stopping impact to silk nightwear for nights in, our dreamy selection of luxury lingerie is endless this festive season.</span>
                    </div>
                    <div class="bodyCta black">
                        <a href="{{store direct_url='christmas/gifts'}}?icid=cp/gifts/prm1/not_so_silent_nights/PLP">Shop all Gifts</a>
                    </div>

                </div>

            </div>
            <div class="section cf">
                <div class="half xmas_portrait-story right-spacing top">
                    <div class="bodyHeading">
                        THE NAUGHTY LIST
                    </div>
                    <div class="bodyCopy">
                        For the naughtiest of Vixens only
                    </div>
                    <a href="{{store direct_url='christmas/naughty'}}?icid=cp/naughty/prm2/the_naughty_list/PLP">
                    <div class="bodyCta black">
                       Shop Naughty
                    </div>
                    <div class="image-block">
                        <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Zinnia_Zailey_845x1079.jpg" width="100%"><span class="range-name">Zinnia</span>
                    </div>
                    </a>
                </div>
                <div class="half xmas_portrait-story">
                    <div class="bodyHeading">
                        CHRISTMAS MORNING
                    </div>
                    <div class="bodyCopy">
                        Be unwrapping-ready in our naughty nightwear
                    </div>
                    <a href="{{store direct_url='christmas/christmas-morning'}}?icid=cp/christmas-morning/prm3/christmas_morning/PLP"><div class="bodyCta black">
                        Shop Nightwear
                    </div>
                    
                    <div class="image-block">
                        <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Ismay_845x1079.jpg" width="100%"><span class="range-name">Ismay</span>
                    </div>
                    </a>
                </div>
            </div>
                        <div class="spacing-block nine"></div>


            <div class="section xmas_gift_block">
                <div class="third portrait right-spacing">
                    <div class="bodyHeading">
                        GIFTS UNDER <br class="mobile-break">
                        £100
                    </div>
                    <div class="bodyCopy">
                        Our affordable edit of luxury gifts
                    </div>
                    <div class="bodyCta  black">
                        <a href="{{store direct_url='christmas/gifts/small-gifts'}}?icid=cp/small-gifts/prm4/gifts_under_100/PLP">Shop Now</a>
                    </div>
                    <div class="image-block">
                        <a href="{{store direct_url='christmas/gifts/small-gifts'}}"><img alt="GIFTS Under £100" src="https://www.agentprovocateur.com/media/custom_media/email/christmas18/Flatlay_image_treatment_9.jpg" width="100%"></a>
                    </div>
                </div>
                <div class="third portrait right-spacing">
                    <div class="bodyHeading">
                        GIFTS UNDER <br class="mobile-break">
                        £200
                    </div>
                    <div class="bodyCopy">
                        Give the gift of Agent Provocateur
                    </div>
                    <div class="bodyCta black">
                        <a href="{{store direct_url='christmas/gifts/bestselling-gifts'}}?icid=cp/bestselling-gifts/prm5/gifts_under_200/PLP">Shop Now</a>
                    </div>
                    <div class="image-block">
                        <a href="{{store direct_url='christmas/gifts/bestselling-gifts'}}"><img alt="GIFTS UNDER £200" src="https://www.agentprovocateur.com/media/custom_media/email/christmas18/Flatlay_image_treatment_13.jpg" width="100%"></a>
                    </div>
                </div>
                <div class="third portrait">
                    <div class="bodyHeading">
                        Ultra-Luxury <br class="mobile-break">
                        Gifts
                    </div>
                    <div class="bodyCopy">
                        Go big this Christmas
                    </div>
                      <div class="bodyCta black">
                        <a href="{{store direct_url='christmas/gifts/showstoppers-gifts'}}?icid=cp/bestselling-gifts/prm7/ultra_luxury_gifts/PLP">Shop Now</a>
                    </div>
                    <div class="image-block">
                        <a href="{{store direct_url='christmas/gifts/showstoppers-gifts'}}"><img alt="ULTRA LUXURY GIFTS" src="https://www.agentprovocateur.com/media/custom_media/email/christmas18/Flatlay_image_treatment_28.jpg" width="100%"></a>
                    </div>
                </div>
            </div>
             <div class="spacing-block four"></div>

            <div class="section cf">
                <div class="xmas_video-story">
                  <!--   <div class="bodyHeading">
                        FESTIVE FAVOURITES
                    </div> -->

                     <div class="bodyHeading"><img class="crop-mobile" alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/update6518/Christmas_Slogan_Festive_Favourites.jpg"></div>
                    <div class="bodyCopy"><span>
                        Here it is, the crème de la crème of the stunning <br /> pieces we have to offer this Christmas
</span>
                    </div>
                    <div class="bodyCta black">
                        <a href="{{store direct_url='christmas/festive-favourites'}}?icid=cp/festive_favourites/prm8/festive_favourites/PLP">Shop the Edit</a>
                    </div>
                    <div class="video-block">
                        <video id="myVideo" muted="" controls="" playsinline="" controlslist="nodownload" src="https://player.vimeo.com/external/299887517.hd.mp4?s=33562754a1187a47e27d5074d7bf206da0b84db6&profile_id=175" style="max-width:1622px; width: 100%;">
                        </video>
                    </div>
                </div>
            </div>
            <!--            <div class="spacing-block two"></div>
            <div class="section cf">
                <div class="half xmas_portrait-story right-spacing">
                    <div class="bodyHeading">
                        FESTIVE FAVOURITES </div>
                    <div class="bodyCopy">
                        Here it is, the crème de la crème of the stunning <br />pieces we have to offer this Christmas</div>
                    <a href="{{store direct_url='christmas/christmas/festive-favourites'}}"><div class="bodyCta black">
                        Shop the Edit
                    </div>
                    <div class="image-block">
                        <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Elizabelle_Netania_Cadance_845x1079.jpg" width="100%"><span class="range-name">Netania</span>
                    </div>
                    </a>
                </div>
                <div class="half xmas_portrait-story">
                    <div class="bodyHeading">
                        PARTY TIME
                    </div>
                    <div class="bodyCopy">
                        We'll provide the decadence, <br />you provide the debauchery
                    </div>
                   <a href="{{store direct_url='christmas/partywear'}}"> <div class="bodyCta black">
                        Shop the Edit
                    </div>
                    <div class="image-block">
                        <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Ismay_845x1079.jpg" width="100%"><span class="range-name">Sheila</span>
                    </div>
                    </a>
                </div>
            </div> -->
            <div class="spacing-block three"></div>
            <a class="sectionLink" href="{{store direct_url='christmas/partywear'}}?icid=cp/partytime/prm10/partywear/PLP">
        <div class="section xmas_landscape_story cf" >
             <div class="one-third">
                <div class="inner">

                                         <div class="bodyHeading"><img class="crop-mobile" alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/update6518/Christmas_Slogan_white_PartyTime.png"></div>

                    <!-- <div class="bodyHeading">
                        PARTY TIME
                    </div> -->
                    <div class="bodyCopy">
                        We'll provide the decadence, you provide the debauchery
                    </div>
                    <div class="bodyCta">
                        <span>Shop Partywear</span>
                    </div>
                </div>
            </div>

            <div class="two-thirds left-spacing" dir="rtl">
                 <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Sheila_Anna.jpg" width="100%">
                <div class="range-name right">
                    Sheila
                </div>
            </div>
                       
        </div></a>
            <!--         <a class="sectionLink" href="{{store direct_url='christmas/festive-favourites'}}">
            <div class="section xmas_landscape_story cf" dir="rtl">
                <div class="one-third">
                    <div class="inner">
                        <div class="bodyHeading">
                            FESTIVE FAVOURITES</div>
                        <div class="bodyCopy">
                            Here it is, the crème de la crème of the stunning pieces we have to offer this Christmas</div>
                        <div class="bodyCta">
                            <span>Shop now</span>
                        </div>
                    </div>
                </div>
                <div class="two-thirds right-spacing">
                    <div>
                                        <img alt="Christmas" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/Christmas_2018_Ismay_845x1079.jpg" width="100%">
 <div class="range-name right">
                    Sheila
                </div>                    </div>
                </div>
            </div>
            </a> -->
<!--             <div class="spacing-block three"></div>
 -->            <!--   -->
           
            <!-- <div class="spacing-block seven " style="height: 32px"></div>
         <div class="section xmas_five">
                <div style="background-color: #9E2A2F; width: 100%; color: pink; padding: 50px 0;">
                    <div class="bodyHeading">delivery countdown<br /><br />
                        00 : 00 : 00</div>
                </div>
            </div>-  -->
            <div class="spacing-block five"></div>

            <div class="section xmas_nosto_sliders">
                <div class="half portrait">
                    <div class="nostoTitle">BESTSELLERS</div>
                    <div class="nosto_element slider_one" id="nosto-page-christmas-bestsellers"></div>
                </div>
                <div class="half portrait right-spacing">
                    <div class="nostoTitle">ONES TO WATCH</div>
                    <div class="nosto_element slider_two" id="nosto-page-christmas-festive"></div>
                </div>
            </div>
            <div class="spacing-block six"></div>
            <!--             <div class="spacing-block seven"></div>
 -->
            <div class="section xmas_service_buttons">
                <div class="third right-spacing">
                    <div class="inner service">
                        <a href="{{store direct_url='delivery-information'}}"">

                    <div><img alt="Christmas" class="xmas-icon" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/icons-express-delivery.svg" width="100%"></div>
                    <div class="bodyHeading">
                        EXPRESS DELIVERY
                    </div>
                    <div class="bodyCopy">
                        No need for a chimney
                    </div>
                                </a>
                    </div>
                </div>
                <div class="third bg right-spacing">
                    <div class="inner service">
                        <a href="{{store direct_url='returns'}}"">

                    <div><img alt="Christmas" class="xmas-icon" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/icons-returns.svg" width="100%"></div>
                    <div class="bodyHeading">
                        Complimentary returns
                    </div>
                    <div class="bodyCopy">
                        It's a fuss-free fantasy
                    </div>
                </a>
                    </div>
                </div>
                <div class="third bg">
                    <div class="inner service">
                        <a href="{{store direct_url='gift-vouchers'}}"">
                    <div><img alt="Christmas" class="xmas-icon" src="https://www.agentprovocateur.com/media/custom_media/pages/christmas18/icons-e-gift-card.svg" width="100%"></div>
                    <div class="bodyHeading">
                        E-GIFT CARDS
                    </div>
                    <div class="bodyCopy">
                        <span>Let them choose</span>
                    </div></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>
       <!-- <script src="https://www.agentprovocateur.com/media/custom_media/cache/xmas-18/christmas-lp.bundle.js" type="text/javascript" charset="utf-8"></script>-->
        <script type="text/javascript">
        jQuery(document).ready(function() {

            function addSlick() {
                jQuery('.slider_one .nosto-product-list').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    prevArrow: '<div class="slick-prev"><img src="https://www.agentprovocateur.com/media/custom_media/img/icons/previous-arrow.svg" alt="Previous"></div>',
                    nextArrow: '<div class="slick-next"><img src="https://www.agentprovocateur.com/media/custom_media/img/icons/next-arrow.svg" alt="Next"></div>',
                    infinite: true,
                    arrows: true,
                    draggable: false,

                });
            };

            //need this check to initiate slick only when Nosto is loaded
            var checkNostoExists = setInterval(function() {
                if (jQuery('.slider_one .nosto-product-list').length) {
                    addSlick();
                    clearInterval(checkNostoExists);
                }
            }, 300);
            //100 for 1ms

            function addSlick2() {
                jQuery('.slider_two .nosto-product-list').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    prevArrow: '<div class="slick-prev"><img src="https://www.agentprovocateur.com/media/custom_media/img/icons/previous-arrow.svg" alt="Previous"></div>',
                    nextArrow: '<div class="slick-next"><img src="https://www.agentprovocateur.com/media/custom_media/img/icons/next-arrow.svg" alt="Next"></div>',
                    infinite: true,
                    arrows: true,
                    draggable: false,
                });
            };

            //need this check to initiate slick only when Nosto is loaded
            var checkNostoExists2 = setInterval(function() {
                if (jQuery('.slider_two .nosto-product-list').length) {
                    addSlick2();
                    clearInterval(checkNostoExists2);
                }
            }, 300);
            //100 for 1ms

        });
        </script>
