.container {
  max-width: unset;
  padding: 0;
}

body {
  margin: 0;
}

.christmas-lp-container {
  max-width: 1622px;
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 45px;
  padding: 0 50px;
  /* TEXT STYLING */
  /* END TEXT STYLING */
  a {
    text-decoration: none;
  }
  .bodyHeading {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.55vw;
    line-height: 1.9vw;
    letter-spacing: 0.21vw;
    img {
      width: 100%;
      max-width: 500px;
      height: 100%;
    }
  }
  .bodyCopy {
    text-align: center;
    font-weight: 100;
    font-size: 1.05vw;
    line-height: 1.45vw;
    letter-spacing: 0.042vw;
    margin-bottom: 1.05vw;
    margin-top: 1.4vw;
    span {
      margin: auto;
      max-width: 829px;
      display: inherit;
    }
  }
  .mobile-break {
    display: none;
  }
  a {
    color: #000;
  }
  .bodyCta.black {
    text-align: center;
    font-size: 1.05vw;
    line-height: 1.05vw;
    letter-spacing: 0.085vw;
    font-style: italic;
    display: inline-block;
    background: #fff;
    color: #000;
    &:after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      margin: auto;
      background: black;
      transition: 250ms;
    }
    &:hover:after {
      width: 100%;
    }
  }
  .range-name, .section.xmas_landscape_story .range-name {
    text-align: right;
    font-size: 0.8vw;
    line-height: 0.8vw;
    letter-spacing: 0.65px;
    font-weight: 100;
    right: 9px;
    left: 0;
    padding: 0;
    display: block;
    margin-top: 5px;
  }
  .bg {
    background-color: #A83036;
  }
  .sectionLink:hover .bodyCta span:after {
    width: 100%;
  }
  .bodyCta span {
    display: inline-block;
    text-align: center;
    font-size: 1.05vw;
    line-height: 1.05vw;
    letter-spacing: 0.085vw;
    font-style: italic;
    display: inline-block;
    &:after {
      height: 1px;
      display: block;
      background: #FEEDE6;
      content: "";
      transition: 250ms;
      margin: auto;
      width: 0px;
    }
  }
  .spacing-block {
    &.two {
      height: 45px;
    }
    &.three {
      height: 112px;
    }
    &.four {
      height: 25px;
    }
    &.five, &.six {
      height: 64px;
    }
    &.seven {
      height: 84px;
    }
    &.eight {
      height: 45px;
    }
    &.nine {
      height: 90px;
    }
  }
  .section {
    text-align: center;
    width: 100%;
    &:not(.xmas_page_header) {
      display: block;
    }
    &.xmas_page_header {
      border-bottom: 1px solid #D8D8D8;
      margin-bottom: 40px;
      .inner {
        margin: 30px 0;
      }
      .bodyHeading {
        margin-top: 0vw;
        margin-bottom: 1.85vw;
      }
      .bodyCopy {
        margin-bottom: 26px;
        margin-top: 1.01vw;
      }
    }
    .xmas_video-story {
      width: 100%;
      margin-top: 30px;
      .bodyHeading img {
        width: 100%;
        max-width: 500px;
        height: 100%;
      }
      .video-block {
        margin-top: 30px;
      }
    }
    .xmas_portrait-story {
      margin-top: 30px;
    }
    .half {
      width: 100%;
      box-sizing: content-box;
      .image-block {
        margin-top: 43px;
      }
    }
    &.xmas_landscape_story {
      .bodyHeading img {
        max-width: 264px !important;
        margin: auto;
      }
      .one-third, .two-thirds {
        width: 100%;
      }
      .inner {
        margin: auto;
        color: #FEEDE6;
        width: 70%;
      }
      img {
        display: block;
      }
      .range-name {
        position: absolute;
        left: unset;
        right: unset;
        color: black;
        margin-top: 8px;
      }
    }
    &.xmas_gift_block .third {
      width: 100%;
      background-color: #fff;
      box-sizing: content-box;
      .image-block {
        margin-top: 43px;
      }
    }
    &.xmas_nosto_sliders {
      max-width: 1120px;
      margin: auto;
      align-items: unset;
      margin-bottom: 64px;
      .half {
        width: 49%;
        border: 1px solid #A83036;
        .inner {
          margin: 30px;
          .bodyHeading {
            font-size: 1.55vw;
            line-height: 1.9vw;
            letter-spacing: 0.21vw;
          }
        }
        .nosto-heading {
          display: none;
        }
        .nostoTitle {
          font-size: 1.55vw;
          line-height: 1.9vw;
          letter-spacing: 0.21vw;
          margin-top: 50px;
          margin-bottom: 20px;
          text-transform: uppercase;
          margin-bottom: 44px !important;
        }
        .nosto-product-info {
          margin-top: 47px !important;
        }
        #nosto-page-category-landing .nosto-product-info {
          /* margin-top: unset; */
          text-align: unset;
        }
      }
    }
    &.xmas_service_buttons .xmas-icon {
      margin-bottom: 14px;
      height: 2.3vw;
      width: 100%;
    }
    .third {
      background-color: #A83036;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: content-box;
      .inner.service {
        color: #FEEDE6;
        a {
          color: #FEEDE6;
          display: block;
          padding: 20px 0;
        }
        .bodyHeading {
          font-size: 1.05vw;
          line-height: 1.50vw;
          letter-spacing: 0.18vw;
        }
        &:hover .bodyCopy:after {
          width: 100%;
        }
        .bodyCopy {
          font-size: 1.05vw;
          letter-spacing: 0.81px;
          font-style: italic;
          margin: 9px 0;
          display: inline-block;
          &:after {
            height: 1px;
            display: block;
            background: #FEEDE6;
            content: "";
            transition: 250ms;
            margin: auto;
            width: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .christmas-lp-container .no-mobile {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 767px) {
  .christmas-lp-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyHeading {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 766px) {
  .christmas-lp-container .bodyHeading {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 2.69px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .bodyHeading {
    font-size: 30px;
    line-height: 36.5px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyHeading img {
    max-width: 449px !important;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .bodyHeading img {
    max-width: 329px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .bodyHeading img {
    max-width: 948px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyCopy {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.81px;
    margin: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .bodyCopy {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.81px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .bodyCopy {
    font-size: 20px;
    line-height: 28px;
    margin-top: 27px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyCopy span {
    max-width: 461px;
  }
}

@media only screen and (max-width: 989px) {
  .christmas-lp-container .mobile-break {
    display: block;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyCta.black:after {
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyCta.black {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .bodyCta.black {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .bodyCta.black {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container {
    .range-name, .section.xmas_landscape_story .range-name {
      font-size: 10px;
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container {
    .range-name, .section.xmas_landscape_story .range-name {
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container {
    .range-name, .section.xmas_landscape_story .range-name {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .left-spacing {
    border-left: 10px solid #fff;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .right-spacing {
    border-right: 10px solid #fff;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .bodyCta span {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .bodyCta span {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .bodyCta span {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 989px) {
  .christmas-lp-container .bodyCta span:after {
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.two {
    height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.two {
    height: 20px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.three {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.three {
    height: 40px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.four {
    height: 0;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.four {
    height: 0;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.six {
    height: 55px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.six {
    height: 64px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.seven {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.seven {
    height: 45px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.eight {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.eight {
    height: 25px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .spacing-block.nine {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .spacing-block.nine {
    height: 30px;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section:not(.xmas_page_header) {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_page_header .inner {
    margin: 28px 0;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_page_header .bodyCopy {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_page_header .bodyCopy {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_page_header .bodyCopy span {
    max-width: 335px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_page_header {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_page_header {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section .xmas_video-story {
    margin-top: -15px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section .xmas_video-story .bodyCopy {
    margin: 6px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section .xmas_video-story {
    display: inline-block;
  }
}

@media screen and (max-width: 789px) {
  .christmas-lp-container .section .half .image-block {
    margin-top: 30px;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section .half {
    display: inline-block;
  }
}

@media screen and (min-width: 766px) {
  .christmas-lp-container .section.xmas_landscape_story {
    background-color: #A83036;
  }
}

@media screen and (max-width: 480px) {
  .christmas-lp-container .section.xmas_landscape_story {
    background-color: unset;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .bodyHeading img {
    max-width: 170px !important;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_landscape_story .bodyCopy {
    margin: 6px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_landscape_story .one-third {
    margin-top: 0;
    background-color: #A83036;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .one-third {
    display: inline-block;
    width: 34%;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .one-third {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: #A83036;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .two-thirds {
    display: inline-block;
    width: 66%;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .inner {
    padding: 30px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_landscape_story .inner {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_landscape_story .inner {
    width: 80%;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section.xmas_landscape_story .inner {
    width: 50%;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section.xmas_gift_block .third {
    display: inline-block;
  }
}

@media only screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_gift_block .third .image-block {
    margin-top: 21px;
  }
}

@media only screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_gift_block .third .image-block {
    margin-top: 30px;
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 989px) {
  .christmas-lp-container .section.xmas_gift_block .bodyHeading {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_gift_block .bodyCopy {
    margin: 20px auto;
    width: 65%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half.right-spacing {
    margin-left: 10px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .inner .bodyHeading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .inner .bodyHeading {
    font-size: 18px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .inner .bodyHeading {
    font-size: 30px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .nostoTitle {
    font-size: 20px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .nostoTitle {
    font-size: 18px;
    margin-top: 26px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .nostoTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .nosto-product-info {
    margin-top: 12px !important;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_nosto_sliders .half .nosto-product-info {
    margin-top: 27px !important;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section.xmas_service_buttons .xmas-icon {
    height: 25px;
    width: 22px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section.xmas_service_buttons .xmas-icon {
    height: 39px;
    width: 35px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section.xmas_service_buttons .xmas-icon {
    height: 60px;
    width: 67px;
  }
}

@media screen and (min-width: 767px) {
  .christmas-lp-container .section .third {
    display: inline-block;
    width: 33.33%;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section .third .inner.service .bodyHeading {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 2.53px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section .third .inner.service .bodyHeading {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.5px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section .third .inner.service .bodyHeading {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container .section .third .inner.service .bodyCopy {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.53px;
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container .section .third .inner.service .bodyCopy {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.61px;
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container .section .third .inner.service .bodyCopy {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 767px) {
  .half.xmas_portrait-story.right-spacing.top {
    margin-top: 0;
  }
}

.slider_two .nosto-product-info {
  margin-bottom: 25px;
}

.one-third .inner .bodyCopy {
  width: 100%;
}

/* Hide from mag */

.row.breadcrumbs {
  display: none !important;
}

.footer18_props {
  display: none;
}

.christmas-lp-container :not(.aw18_container) > .nosto_element .nosto-product-name {
  font-size: 0.85vw !important;
  line-height: 1.45vw !important;
  letter-spacing: 0.042vw !important;
  font-family: helvetica !important;
  font-weight: lighter !important;
}

:not(.aw18_container) > .nosto_element {
  .nosto-product-brand, .nosto-current-price, .nosto-old-price, .nosto-default span, .nosto-price-info {
    font-size: 0.85vw !important;
    line-height: 1.45vw !important;
    letter-spacing: 0.042vw !important;
    font-family: helvetica !important;
    font-weight: lighter !important;
  }
  .nosto-product-list li {
    float: unset !important;
  }
  .nosto-default {
    padding-bottom: 25px !important;
  }
}

@media screen and (max-width: 989px) {
  .christmas-lp-container :not(.aw18_container) > .nosto_element .nosto-product-name {
    font-size: 13px !important;
    line-height: 18px !important;
  }
  :not(.aw18_container) > .nosto_element {
    .nosto-product-brand, .nosto-current-price, .nosto-old-price, .nosto-default span, .nosto-price-info {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .christmas-lp-container :not(.aw18_container) > .nosto_element .nosto-product-name {
    font-size: 17px !important;
    line-height: 22px !important;
  }
  :not(.aw18_container) > .nosto_element {
    .nosto-product-brand, .nosto-current-price, .nosto-old-price, .nosto-default span, .nosto-price-info {
      font-size: 17px !important;
      line-height: 22px !important;
    }
  }
}

@media screen and (min-width: 1921px) {
  .christmas-lp-container :not(.aw18_container) > .nosto_element .nosto-product-name {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.65px;
  }
  :not(.aw18_container) > .nosto_element {
    .nosto-product-brand, .nosto-current-price, .nosto-old-price, .nosto-default span, .nosto-price-info {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.65px;
    }
  }
}

.category-top {
  display: none;
}

/* END Hide from mag */
/* SLIDERS */
@media screen and (max-width: 989px) {
  :not(.aw18_container) > .nosto_element .nosto-product-list li {
    margin-bottom: 0 !important;
  }
}

:not(.aw18_container) > .nosto_element {
  .nosto-product-list-item {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nosto-product-list li img {
    max-width: 303px;
  }
}

@media screen and (max-width: 968px) {
  :not(.aw18_container) > .nosto_element .nosto-product-list li img {
    width: 175px !important;
  }
}

@media screen and (max-width: 767px) {
  :not(.aw18_container) > .nosto_element .nosto-product-list li img {
    width: 184px !important;
  }
}

#nosto-page-christmas-festive {
  .nosto-5-products .nosto-product-list div li {
    width: 303px !important;
  }
  .nosto-default {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 510px) {
  #nosto-page-christmas-festive .nosto-5-products .nosto-product-list div li {
    display: unset !important;
  }
}

@media screen and (max-width: 968px) {
  #nosto-page-christmas-festive .nosto-5-products .nosto-product-list div li {
    width: 277px !important;
  }
}

@media screen and (max-width: 767px) {
  #nosto-page-christmas-festive .nosto-5-products .nosto-product-list div li {
    width: 184px !important;
  }
}

#nosto-page-christmas-bestsellers .nosto-5-products .nosto-product-list div li {
  width: 303px !important;
}

@media screen and (max-width: 510px) {
  #nosto-page-christmas-bestsellers .nosto-5-products .nosto-product-list div li {
    display: unset !important;
  }
}

@media screen and (max-width: 968px) {
  #nosto-page-christmas-bestsellers .nosto-5-products .nosto-product-list div li {
    width: 277px !important;
  }
}

@media screen and (max-width: 767px) {
  #nosto-page-christmas-bestsellers .nosto-5-products .nosto-product-list div li {
    width: 184px !important;
  }
}

.slider {
  width: 300px;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
  img {
    width: 100%;
    max-width: 303px;
    margin: auto;
  }
}

@media screen and (max-width: 989px) {
  .slick-slide img {
    width: 100%;
    max-width: 175px;
  }
}

@media screen and (max-width: 767px) {
  .slick-slide img {
    width: 100%;
    max-width: 184px;
  }
}

@media screen and (min-width: 1921px) {
  .slick-slide img {
    width: 100%;
    max-width: 184px;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 149;
  img {
    width: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 989px) {
  .slick-arrow img {
    width: 13px;
  }
}

.slick-prev {
  left: 9%;
  top: 35%;
}

.slick-next {
  right: 9%;
  top: 35%;
}

@media screen and (max-width: 989px) {
  .slider-holder {
    max-width: 323px;
  }
}

@media screen and (max-width: 767px) {
  .slider-holder {
    max-width: 323px;
  }
}

@media screen and (min-width: 1921px) {
  .slider-holder {
    max-width: 333px;
  }
}

/* SLIDERS */