<!--  Side bar links for all CS hub pages
      This sits in a separate block and only need to be updaed once for all pages
      CSS sits in main cs-styles file on server

 -->

<section class="links">
  <div>
        <ul>
          <li><a href="{{store direct_url='delivery-information'}}">Delivery</a></li>
          <li> <a href="{{store direct_url='returns'}}">Returns</a></li>
          <li><a href="{{store direct_url='size-guide'}}">Size guide</a></li>
                   <li><a href="{{store direct_url='faq'}}">FAQ</a></li>
          <li> <a href="{{store direct_url='gift-vouchers'}}">Gift vouchers</a></li>
          <li><a href="{{store direct_url='storelocator'}}">Store locator</a></li>
                   <li><a href="{{store direct_url='personal-shopping'}}">Personal shopping</a></li>
          <li> <a href="{{store direct_url='private-fittings'}}">Private fittings</a></li>
          <li><a href="{{store direct_url='contacts'}}">Contact us</a></li>
        </ul>
      </div>
</section>