<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><div class="legal-page-container">
    <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Customer Services</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
                <!--                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->
                <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='delivery-information'}}">Delivery</a></li>
                            <li> <a href="{{store direct_url='returns'}}">Returns</a></li>
                            <li><a href="{{store direct_url='size-guide'}}">Size guide</a></li>
                            <li><a href="{{store direct_url='faq'}}">FAQ</a></li>
                            <li> <a href="{{store direct_url='gift-vouchers'}}">Gift vouchers</a></li>
                            <li><a href="{{store direct_url='storelocator'}}">Store locator</a></li>
                            <li><a href="{{store direct_url='personal-shopping'}}">Personal shopping</a></li>
                            <li> <a href="{{store direct_url='private-fittings'}}">Private fittings</a></li>
                            <li><a href="{{store direct_url='contacts'}}">Contact us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-xs-9">
                <h1>PERSONAL SHOPPING</h1>
                <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                <div class="cs-page-anchors">
                    <ul>
                        <li><a href="#online-personal-shopping">ONLINE PERSONAL SHOPPING</a></li>
                        <li> <a href="#contact-personal-shoppers">CONTACT OUR PERSONAL SHOPPERS</a></li>
                    </ul>
                </div>
                <div class="main-blocks">
                    <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                    
                <div class="section" id="online-personal-shopping">
                    <h2>ONLINE PERSONAL SHOPPING</h2>
                      <p>Our expert online Personal Shopping Agents are here to help, and are on-hand to make your online purchases as enjoyable and effortless as possible. Based at our London HQ, we are here to offer guidance on fit, sizing recommendations and suggestions for the ideal additions to your work and play wardrobe.</p>
                      <p>Your Agent can assist in sourcing the perfect pair of stockings to match those marabou trimmed mules, or a Swarovski pair of pasties to accompany your sensually silken pyjamas. Available on the telephone and via email to guide you through our delectable collections, we look forward to finding the most delightful AP treats for you to enjoy.</p>
                   </div>
                        <div class="section" id="contact-personal-shoppers">
                    <h2>CONTACT OUR PERSONAL SHOPPERS</h2>
                    <p>
                        <span style="font-weight: bold;">UK, Europe, Australia & Rest of World Customers</span><br /><br />

                            +44 (0)844 499 5202<br />
                            +44 (0)20 3 308 9150

                    </p>
                          <p>
                        <span style="font-weight: bold;">USA Customers</span><br /><br />

                           +1-917-383-003<br /><br />
                           Lines open Monday – Friday: 9am - 8pm GMT
                    </p>
                      <p>
                        <span style="font-weight: bold;">Email</span><br /><br />

                           <a href="mailto:personalshopping@agentprovocateur.com" style="color: #000">personalshopping@agentprovocateur.com</a>
                    </p>
             </div>
                
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>