<style type="text/css">
@media only screen and (max-device-width: 480px),
    only screen and (max-width: 480px) {
	div[class='del-text-i'] {
            font-size: 12px !important;
            line-height: 18px !important;
        }
    }
</style>

<!-- Delivery Banner -->
<tr>
    <td class="m-td" style="font-size:0pt; height:0pt; text-align:left" width="60">&nbsp;</td>
    <td wwidth="620">
        <div style="display:block; font-size:0pt; height:10px; height:10px; ">&nbsp;</div>
        <div class="del-text-i" id="dc-1" style="color:#000000; font-family:Helvetica, Arial, sans-serif; font-size:11px; height:18px; text-align:center; font-style:normal; letter-spacing:1px; "><a href="https://www.agentprovocateur.com/gb_en/delivery-information" name="HD1" style="color:#000000;" target="_blank" xt="SPCLICKSTREAM">Free standard delivery on orders over &pound;100</a><sup>*</sup></div>
        <div style="display:block; font-size:0pt; height:10px; height:10px; ">&nbsp;</div>
    </td>
    <td class="m-td" style="font-size:0pt; height:0pt; text-align:left" width="60">&nbsp;</td>
</tr>
<!-- END Delivery Banner -->

<!-- TEMRNS & CONDITIONS 
<p style="color:#000000; text-align: center; font-family: Arial; font-size: 10px; height: 14px;">*Free Standard delivery. Valid on orders over &pound;100;<br />
applies automatically at the checkout; Valid until the 30/07 23.59 GMT.<br />
Applies to UK mainland orders only. Agent Provocateur reserve the right to change or amend this offer at any time;<br />
Not valid in our boutiques or concessions.</p>
-->
