<style>
/* To go inside media query */
 div[class='mobile-br-15'],
        .mobile-br-15 {
            height: 15px !important;
            display: block;
        }
</style>

<!--15px mobile only spacer -->
<div class="mobile-br-15" style="display:none; height: 15px ">&nbsp;</div>
<!--END 15px mobile only spacer -->