


<h3 style="font-family: Helvetica, Arial, sans-serif; font-size: 20px; letter-spacing: 6px; margin: 13px 0 5px; text-align:center; line-height: 40px; font-weight: 100;">In the Press</h3>

<div class="grid">
  <div class="grid-sizer"></div>

         
              <div class="grid-item">
		 	<img class="" src="assets/Landscape-CarolynMurphy.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state"><a href="{{store direct_url='mazzy-range'}}">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Estee Lauder</p>
            <h4 class="product-name">Mazzy</h4>
            <p class="product-text">Carolyn Murphy in Mazzy for Estee Lauder Bronze Goddess campaign.</p>
            <button class="cta-press">Shop Mazzy</button>
        </div>
        </div></a>
        </div>
  </div>
         <div class="grid-item">
		 	<img class="" src="assets/Portrait-wonderland.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state"><a href="{{store direct_url='seraphina-range'}}">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Wonderland</p>
            <h4 class="product-name">Seraphina</h4>
            <p class="product-text">Wonderland Magazine, Summer 2017. Singer Pixi Lott in red Seraphina body.</p>
            <button class="cta-press">Shop Seraphina</button>
        </div>
        </div></a>
        </div>
  </div>
  
         <div class="grid-item">
		 	<img class="" src="assets/Portrait-IDspring.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">i-D Magazine</p>
            <h4 class="product-name">Florelai</h4>
            <p class="product-text">i-D Magazine, Spring 2017. Model Binx Walton wearing Florelai set.</p>
            <!--<button class="cta-press">Shop Florelai</button>-->
        </div>
        </div>
        </div>
  </div>

       <div class="grid-item">
		 	<img class="" src="assets/Portrait-GQ.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state"><a href="{{store direct_url='saffi-range'}}">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">GQ Germany</p>
            <h4 class="product-name">Saffi</h4>
            <p class="product-text">GQ Germany March 2017 featuring Saffi jumpsuit.</p>
            <button class="cta-press">Shop Saffi</button>
        </div>
        </div></a>
        </div>
  </div>
  
      <div class="grid-item">
		 	<img class="" src="assets/Portrait-elleUK.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Elle UK</p>
            <h4 class="product-name">Margaritah</h4>
            <p class="product-text">Elle UK, June issue. Model Lindsey Wixson wearing Margaritah bikini top.</p>
            <!--<button class="cta-press">Shop Margaritah</button>-->
        </div>
        </div>
        </div>
  </div>
  
    <div class="grid-item">
		 	<img class="" src="assets/Portrait-cosmopolitanUSA.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Cosmopolitan US</p>
            <h4 class="product-name">Shannon</h4>
            <p class="product-text">Cosmopolitan US June 2017 featuring Shannon bikini in pink.</p>
<!--             <button class="cta-press">Shop Shannon</button>
 -->        </div>
        </div>
        </div>
  </div>
 
  <div class="grid-item">
		 	<img class="" src="assets/Landscape-Emily_Ratajkowski.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Allure</p>
            <h4 class="product-name">LULU</h4>
            <p class="product-text">Allure US, August issue. Emily Ratajkowski wearing Lulu belt.</p>
<!--             <button class="cta-press">Shop LULU</button>
 -->        </div>
        </div>
        </div>
  </div>
  
  <div class="grid-item">
		 	<img class="" src="assets/Portrait-PrestigeHK.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state"><a href="{{store direct_url='mercy-range'}}">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Prestige Magazine Hong Kong</p>
            <h4 class="product-name">Mercy</h4>
            <p class="product-text">Prestige Magazine Hong Kong May 2017 Cover with Jenna Dewan Tatum wearing Mercy corset</p>
            <button class="cta-press">Shop Mercy</button>
        </div>
        </div></a>
        </div>
  </div>
    
  <div class="grid-item">
		 	<img class="" src="assets/Landscape-prestigeHK1.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Prestige Magazine Hong Kong</p>
            <h4 class="product-name">Thea</h4>
            <p class="product-text">Jenna Dewan Tatum wears Thea bra in Prestige Magazine Hong Kong May 2017</p>
            <!--<button class="cta-press">Shop Thea</button>-->
        </div>
        </div>
        </div>
  </div>
    
  <div class="grid-item">
			<img class="press-blocks-image" src="assets/Portrait-vogueCHINA.jpg" alt=""  style="width:100%;" />
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
      		<p class="cover-title" style="font-size:12px; font-weight:bold">VOGUE UK</p>
							<h4 class="product-name">JoJo</h4>
							<p class="product-text">Vogue China May 2017 featuring JoJo swimsuit in black & white</p>
<!-- 							<button class="cta-press">Shop JoJo</button>
 -->        </div>
        </div>
        </div>
  </div>
    
  <div class="grid-item">
	  		<img class="" src="assets/Portrait-graziaUK.jpg" alt=""  style="width:100%;"/>
     <div class="hover-state"><a href="{{store direct_url='shannon-range'}}">
<div class="hover-text">
        <div class="text">
     	<p class="cover-title" style="font-size:12px; font-weight:bold">Grazia UK</p>
							<h4 class="product-name">Shannon</h4>
							<p class="product-text">Grazia UK May 2017 featuring Shannon bikini in black</p>
							<!--<button class="cta-press">Shop Shannon</button>-->
        </div>
        </div></a>
        </div>
  </div>
    
  <div class="grid-item">
		 	<img class="" src="assets/Landscape-prestigeHK2.jpg" alt=""  style="width:100%;"/> 
     <div class="hover-state"><a href="{{store direct_url='mercy-range'}}"><div class="hover-text">
        <div class="text">
     		<p class="cover-title" style="font-size:12px; font-weight:bold">Prestige Magazine Hong Kong</p>
							<h4 class="product-name">Mercy</h4>
							<p class="product-text">Jenna Dewan Tatum wears Mercy Satin corset in Prestige Magazine Hong Kong May 2017</p>
							<button class="cta-press">Shop Mercy</button>
        </div>
        </div></a>
        </div>
  </div>
    
  <div class="grid-item">
      <img class="press-blocks-image" src="assets/Portrait-fhm.jpg" alt=""  style="width:100%;" />
     <div class="hover-state"><div class="hover-text">
        <div class="text">
        	<p class="cover-title" style="font-size:12px; font-weight:bold">FHM China</p>
						<h4 class="product-name">Jasper</h4>
						<p class="product-text">FHM China, featuring Jasper jumpsuit </p>
        </div>
        </div>
        </div>
  </div>
    
  <div class="grid-item">
      <img class="" src="assets/Landscape-elleuk.jpg" alt=""  style="width:100%;"/>
     <div class="hover-state"><div class="hover-text">
        <div class="text">
      		<p class="cover-title" style="font-size:12px; font-weight:bold">Elle UK</p>
						<h4 class="product-name">Klara</h4>
						<p class="product-text">Elle UK, Victoria Beckham wearing Klara nude body </p>
        </div>
        </div>
        </div>
  </div>
    
  <div class="grid-item">
      <img class="press-blocks-image" src="assets/Portrait-vogue.jpg" alt=""  style="width:100%;" />
     <div class="hover-state"><a href="{{store direct_url='saffi-range'}}">
<div class="hover-text">
        <div class="text">
   	<p class="cover-title" style="font-size:12px; font-weight:bold">VOGUE UK</p>
							<h4 class="product-name">Saffi</h4>
							<p class="product-text">VOGUE UK, June issue.  Alexa Chung wearing Saffi body.</p>
							<button class="cta-press">Shop Saffi</button>
        </div>
        </div></a>
        </div>
  </div>
  
  <div class="grid-item">
      <img class="" src="assets/Portrait-another.jpg" alt=""  style="width:100%;"/>
     <div class="hover-state">
		<div class="hover-text">
        <div class="text">
        			<p class="cover-title" style="font-size:12px; font-weight:bold">Another</p>
							<h4 class="product-name">Sheyna</h4>
							<p class="product-text">Another Magazine Spring Summer 2017 issue featuring Sheyna playsuit </p>
							<!--<button class="cta-press">SHOP Sheyna</button>-->
        </div>
        </div>
     
        </div>
  </div>
  <div class="grid-item">
              <img class="press-blocks-image" src="assets/1.jpg" alt=""  style="width:100%;" />
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
       	<p class="cover-title" style="font-size:12px; font-weight:bold">ELLE France</p>
							<h4 class="product-name">CHERRIE</h4>
							<p class="product-text">ELLE France February 2017 featuring Cherrie crop-top</p>
							<!--<button class="cta-press">SHOP CHERRIE</button>-->
        </div>
        </div>
        </div>
    </div>
  <div class="grid-item">
              <img class="press-blocks-image" src="assets/13.jpg" alt=""  style="width:100%;" />
         <div class="hover-state"><a href="{{store direct_url='cherrie-range'}}">
<div class="hover-text">
        <div class="text">
      <p class="cover-title" style="font-size:12px; font-weight:bold">Love Magazine</p>
							<h4 class="product-name">CHERRIE</h4>
							<p class="product-text">Bella Hadid wears Cherrie set in LOVE Magazine February 2017</p>
							<!--<button class="cta-press">SHOP CHERRIE</button>-->
        </div>
        </div></a>
        </div>
  </div>
  <div class="grid-item">
              <img class="" src="assets/Portrait-gala.jpg" alt=""  style="width:100%;"/>
         <div class="hover-state"><div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Gala France</p>
            <h4 class="product-name">Silva</h4>
            <p class="product-text">Gala France featuring Silva knicker</p>
        </div>
        </div>
        </div>
  </div>
  <div class="grid-item">
			<img class="press-blocks-image" src="assets/Landscape-tatlerru.jpg" alt=""  style="width:100%;" />

     <div class="hover-state">
<div class="hover-text">
        <div class="text">
    <p class="cover-title" style="font-size:12px; font-weight:bold">Tatler Russia</p>
							<h4 class="product-name">Shannon</h4>
							<p class="product-text">Tatler Russia, featuring pink Shannon bikini in their May issue </p>
<!-- 							<button class="cta-press">SHOP Shannon</button>
 -->        </div>
        </div>
        </div>
  </div>
  <div class="grid-item">
        <img class="" src="assets/4.jpg" alt=""  style="width:100%;"/> 
         <div class="hover-state"><a href="{{store direct_url='sparkle-range'}}">
          <div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Instagram</p>
            <h4 class="product-name">SPARKLE</h4>
            <p class="product-text">Beyoncé in Sparkle bra</p>
            <button class="cta-press">SHOP SPARKLE</button>
        </div>
        </div></a>
        </div>
  </div>
  <div class="grid-item">
<img class="press-blocks-image" src="assets/2.jpg" alt=""  style="width:100%;" />
         <div class="hover-state"><!-- <a href="{{store direct_url='lisia-range'}}"> -->
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">Grazia Australia</p>
            <h4 class="product-name">Lisia</h4>
            <p class="product-text">Grazia Australia March 2017 featuring Lisia pyjama top </p>
<!--             <button class="cta-press">SHOP Lisia</button>
 -->        </div>
        </div>
        </div>
  </div>
  <div class="grid-item">
        <img class="press-blocks-image" src="assets/6.jpg" alt=""  style="width:100%;" />
     <div class="hover-state">
<div class="hover-text">
        <div class="text">
    <p class="cover-title" style="font-size:12px; font-weight:bold">Harpers Bazaar Australia</p>
							<h4 class="product-name">BETHANIE &amp; LISIA</h4>
							<p class="product-text">Harpers Bazaar Australia February 2017 featuring Bethanie bra and Lisia pyjama bottoms </p>
<!-- 							<button class="cta-press">SHOP Lisia</button>
 -->        </div>
        </div>
        </div>
          </div>
            <div class="grid-item">
      <img class="press-blocks-image" src="assets/3.jpg" alt=""  style="width:100%;" />
     <div class="hover-state"><a href="{{store direct_url='lorna-range'}}">
<div class="hover-text">
        <div class="text">
        <p class="cover-title" style="font-size:12px; font-weight:bold">Instagram</p>
							<h4 class="product-name">LORNA</h4>
							<p class="product-text">Beyoncé in Lorna bra in burgundy</p>
							<button class="cta-press">SHOP LORNA</button>
        </div>
        </div></a>
        </div>
  </div>
  <div class="grid-item">
<img class="" src="assets/7.jpg" alt=""  style="width:100%;"/>
         <div class="hover-state"><a href="{{store direct_url='lindie-range'}}">
<div class="hover-text">
        <div class="text">
       <p class="cover-title" style="font-size:12px; font-weight:bold"></p>
							<h4 class="product-name">Lindie</h4>
							<p class="product-text">Hayley Baldwin wearing Lindie bra in InPrint Magazine March 2017</p>
							<button class="cta-press">SHOP Lindie</button>
        </div>
        </div></a>
        </div>
  </div>
  <div class="grid-item">
    <img class="press-blocks-image" src="assets/12.jpg" alt=""  style="width:100%;" />
         <div class="hover-state"><div class="hover-text">
        <div class="text">
		<p class="cover-title" style="font-size:12px; font-weight:bold">InStyle Germany</p>
						<h4 class="product-name">Reno</h4>
						<p class="product-text">InStyle Germany February 2017 featuring Reno bustier bra and hot pants</p>
						<!--<button class="cta-no-press" style="cursor:default">COMING SOON</button>-->
        </div>
        </div>
        </div>
  </div>
  <div class="grid-item">
        <img class="press-blocks-image" src="assets/17.jpg" alt=""  style="width:100%;" />
     <div class="hover-state"><div class="hover-text">
        <div class="text">
  <p class="cover-title" style="font-size:12px; font-weight:bold">Vogue Turkey</p>
							<h4 class="product-name">NABINA</h4>
							<p class="product-text">Vogue Turkey January 2017 featuring Nabina bra</p>
							<!--<button class="cta-press">SHOP NABINA</button>-->

        </div>
        </div>
        </div>
          </div>
          
         <div class="grid-item">
<img class="press-blocks-image" src="assets/15.jpg" alt=""  style="width:100%;" />
<div class="hover-state">
<div class="hover-text">
        <div class="text">
            <p class="cover-title" style="font-size:12px; font-weight:bold">LOVE Magazine</p>
            <h4 class="product-name">Florelai</h4>
            <p class="product-text">Chrissy Teigen wearing Florelai yellow and nude set in LOVE Magazine Valentine's video</p>
            <!--<button class="cta-press">SHOP Florelai</button>-->
        </div>
        </div>
        </div>
          </div>
          
         
                    
          <div class="grid-item">
<img class="press-blocks-image" src="assets/18.jpg" alt=""  style="width:100%;" />
     <div class="hover-state">
      <div class="hover-text">
        <div class="text">
    	<p class="cover-title" style="font-size:12px; font-weight:bold">Instagram</p>
							<h4 class="product-name">Shannon</h4>
							<p class="product-text">Gigi Hadid in Shannon bikini in coral</p>
<!-- 							<button class="cta-press">SHOP Shannon</button>
 -->        </div>
        </div>
        </div>
          </div>
</div>

<link rel="stylesheet" href="press-styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="images-loaded.js"></script>
<script type="text/javascript" src="press-js.js"></script>


