<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />

<!--     <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick-theme.css">
 -->
 <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="styles/lookbook-styles.css">
<!--  <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/lookbook-styles.css"> -->

<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.css">
<script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
.category-top {
    display: none;
}

* {
    box-sizing: border-box;
}
.category-lingerie .vaimo-cms.row, .catalog-category-view .vaimo-cms.row:last-child {
    background-color: #fff !important;
}

.slick-slide {
    margin: 0px 1px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}




/*.thumbnail-carousel .slick-slide {
    width: 92px !important;
}*/

.lookbook-carousel {
    width: 90vw;
    max-width: 914px;
    margin: auto;
    position: relative;
    /*top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;*/
}




/*@media only screen and (max-width: 460px) {
        .lookbook-carousel {
            width: 85vw;
        }
    }*/

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 0.4;
}

.slick-current {
    opacity: 1;
}

/*.thumbnail-carousel {
    width: 90vw;
    max-width: 632px !important;
    margin: auto;
    position: relative;
}*/

/*@media only screen and (max-width: 460px) {
    .thumbnail-carousel {
        width: 100vw;
        margin: auto;
        position: relative;
    }
}*/

/*@media only screen and (max-width: 460px) {

    .thumbnail-carousel .slick-list {
        padding: 0 25px !important;
    }
}*/

/*.thumbnail-carousel img {

    padding: 5px;
}
*/



/*    .slick-slide.slick-cloned {
    display: none !important;
}*/


/*    section {
            .slideDetails {
                text-align: center;
                span {
                    padding: 10px;
                }
            }
        }*/


/*        @media only screen and (max-width: 460px) {

        iframe {
    width: 100% !important;
    max-width: 912px;
    height: auto;
}
}*/

.player .vp-controls {
    display: none !important;
}

.video-slide:hover+.player .vp-controls {
    display: flex !important;
}
</style>
</head>

<body>
<section class="aw18-lookbook-container">
    <section class="intro">
        <div class="page-title">The Power of Provocateur</div>
    </section>
    <section class="slider-container">
        <div class="lookbook-carousel">
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina1.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna</a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina2.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina3.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna</a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina4.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina5.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina6.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina7.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina8.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina9.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina10.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina11.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina12.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina13.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina14.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina15.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina16.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina17.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina18.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina19.jpg">
                <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                </div>
            </div>
            <div class="video-slide">
                <!-- <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina20.jpg"> -->
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/285259933?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
 <diV class="slide-details">
                    <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
                            </div>
        </div>
        <div>
            <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina21.jpg">
            <diV class="slide-details">
                <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
            </div>
        </div>
        <div>
            <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina22.jpg">
            <diV class="slide-details">
                <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
            </div>
        </div>
        <div class="video-slide">
            <!--<img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/slides/lookbook-retina23.jpg">-->
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe id="player" src="https://player.vimeo.com/video/285259933?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
            <diV class="slide-details">
                <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <span class="coming-soon">comimg soon</span></a></div>
            </div>
        </div>
        </div>
        <div class="thumbnail-carousel">
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina1.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina2.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina3.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina4.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina5.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina6.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina7.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina8.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina9.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina10.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina11.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina12.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina13.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina14.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina15.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina16.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina17.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina18.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina19.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina20.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina21.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina22.jpg">
            </div>
            <div>
                <img src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/assets/thumbnails/thumbnails-retina23.jpg">
            </div>
        </div>
    </section>
    <section class="secondary">
        <div class="title">Lookbook AW18</div>
        <div class="body">This season, Agent Provocateur invites you to harness The Power of Provocateur. With fearless women everywhere as inspiration, the new seasonal collection makes you feel like you can rule the world - and look amazing as you do it.</div>
        <div class="main-cta"><a href="{{store direct_url='new-in'}}">Shop now</a></div>
    </section>
</section>
<script type="text/javascript">
jQuery(document).on('ready', function() {
    jQuery('.lookbook-carousel').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        asNavFor: '.thumbnail-carousel',
    });
    //Script for the thumbnail carousel
    jQuery('.thumbnail-carousel').slick({
        slidesToShow: 10,
        slidesToScroll: 1,
        asNavFor: '.lookbook-carousel',
        dots: false,
        centerMode: true,
        focusOnSelect: true,
        arrows: true,
        draggable: false,
        centerPadding: '0',
        variableWidth: true,
        responsive: [{
            breakpoint: 460,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                draggable: false,
                swipe: true,
                centerMode: false,
                infinite: false,
            }
        }, ]
    });

});

</script>
</body>

</html>