<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="date=no" />
    <!--     <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick-theme.css">
 -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="styles/lookbook-styles.css">
    <!--  <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/lookbook-styles.css"> -->
    <link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.css">
    <script src="https://www.agentprovocateur.com/media/custom_media/cache/AW18-Lookbook/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
    .category-top {
        display: none;
    }

    * {
        box-sizing: border-box;
    }

    .category-lingerie .vaimo-cms.row,
    .catalog-category-view .vaimo-cms.row:last-child {
        background-color: #fff !important;
    }

    .slick-slide {
        margin: 0px 1px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    /*.thumbnail-carousel .slick-slide {
    width: 92px !important;
}*/

    .lookbook-carousel {
        width: 90vw;
        max-width: 914px;
        margin: auto;
        position: relative;
        /*top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;*/
    }
    /*@media only screen and (max-width: 460px) {
        .lookbook-carousel {
            width: 85vw;
        }
    }*/

    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }

    .slick-active {
        opacity: 0.4;
    }

    .slick-current {
        opacity: 1;
    }
    /*.thumbnail-carousel {
    width: 90vw;
    max-width: 632px !important;
    margin: auto;
    position: relative;
}*/
    /*@media only screen and (max-width: 460px) {
    .thumbnail-carousel {
        width: 100vw;
        margin: auto;
        position: relative;
    }
}*/
    /*@media only screen and (max-width: 460px) {

    .thumbnail-carousel .slick-list {
        padding: 0 25px !important;
    }
}*/
    /*.thumbnail-carousel img {

    padding: 5px;
}
*/
    /*    .slick-slide.slick-cloned {
    display: none !important;
}*/
    /*    section {
            .slideDetails {
                text-align: center;
                span {
                    padding: 10px;
                }
            }
        }*/
    /*        @media only screen and (max-width: 460px) {

        iframe {
    width: 100% !important;
    max-width: 912px;
    height: auto;
}
}*/

    .player .vp-controls {
        display: none !important;
    }

    .video-slide:hover+.player .vp-controls {
        display: flex !important;
    }
    </style>
</head>

<body>
    <section class="aw18-lookbook-container">
        <section class="intro">
            <div class="page-title">The Power of Provocateur</div>
        </section>
        <section class="slider-container">
            <div class="lookbook-carousel">
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Roanne </a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Soni.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Soni <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Rubi.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Rubi </a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Riho.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Riho <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pollie_Sheila.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Sheila <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Pascale_Cephora.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Cephora <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Palmina_Oriah.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Oriah <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Ozella.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Ozella <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Netania.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Netania <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Marjorie.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Marjorie <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Lotie.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Lotie <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Lorna_Blue.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Lorna <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Kimiko.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Kimiko <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Ismay.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Ismay <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Genevieve.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Genevieve <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Dorotia.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Dorotia <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Demi.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Demi <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Dalliyah.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Dalliyah <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Carmella_Aneliya.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Aneliya <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Blyth.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Blyth <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Anna_Yellow_Black.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Novac <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Anna_Yellow_Black.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Anna<!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/slides/AW_18_Lookbook_RGB_Amiyah_Netania_Flint.jpg">
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">Netania <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <!-- Video Slides -->
                <div class="video-slide">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/285259933?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">NAME <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/285259945?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">NAME <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/285259952?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">NAME <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <div class="video-slide">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/285260010?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">NAME <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                v
                <div class="video-slide">
                    <video id="myVideo" muted playsinline autoplay controls src="https://player.vimeo.com/external/279414702.hd.mp4?s=3ac5abeed3513f42b561cb6fd31d638858e808dc&profile_id=175&autoplay=1&loop=0" style="max-width:912px; width: 100%;">
                    </video>
                    <diV class="slide-details">
                        <div class="range-name"><a href="{{store direct_url='new-in'}}">NAME <!--<span class="coming-soon">comimg soon</span>--></a></div>
                    </div>
                </div>
                <!-- END Video Slides -->
            </div>
            <div class="thumbnail-carousel">
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Tabbie_Roanne.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Soni.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Rubi.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Riho.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Pollie_Sheila.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Pascale_Cephora.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Palmina_Oriah.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Ozella.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Netania.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Marjorie.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Lotie.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Lorna_Blue.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Kimiko.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Ismay.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Genevieve.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Dorotia.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Demi.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Dalliyah.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Carmella_Aneliya.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Blyth.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Bessie_Novak.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Anna_Yellow_Black.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/thumbnails/AW_18_Lookbook_RGB_Amiyah_Netania_Flint.jpg">
                </div>
                <!-- Video Thumbnails -->
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos1.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos2.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos3.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos4.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos5.jpg">
                </div>
                <div>
                    <img src="https://www.agentprovocateur.com/media/custom_media/img/aw18/lookbook/AW18_lookbook_thumbnail_videos6.jpg">
                </div>
                <!-- END Video Thumbnails -->
            </div>
        </section>
        <section class="secondary">
            <div class="title">Lookbook AW18</div>
            <div class="body">This season, Agent Provocateur invites you to harness The Power of Provocateur. With fearless women everywhere as inspiration, the new seasonal collection makes you feel like you can rule the world - and look amazing as you do it.</div>
            <div class="main-cta"><a href="{{store direct_url='new-in'}}">Shop now</a></div>
        </section>
    </section>
    <script type="text/javascript">
    jQuery(document).on('ready', function() {
        jQuery('.lookbook-carousel').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.thumbnail-carousel',

        });
        //Script for the thumbnail carousel
        jQuery('.thumbnail-carousel').slick({
            slidesToShow: 10,
            slidesToScroll: 1,
            asNavFor: '.lookbook-carousel',
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            arrows: true,
            draggable: false,
            centerPadding: '0',
            variableWidth: true,
            responsive: [{
                breakpoint: 460,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    draggable: false,
                    swipe: true,
                    centerMode: false,
                    infinite: false,
                }
            }, ]
        });

        // if ($('.slick-slide').children('video-slide')) {
        //     $('.lookbook-carousel').on('afterChange', function(event, slick, currentSlide, nextSlide) {
        //         $('.lookbook-carousel .slick-slide').find('video').get(0).pause();
        //         var video = $('.lookbook-carousel .slick-active').find('video').get(0).play();
        //     });
        // } 
        // else {
        //     event.preventDefault();
        // };


        $('.lookbook-carousel').on('afterChange', function(event, slick, currentSlide) {
            var video = $(slick.$slides[currentSlide]).find('video');
            if (video.length > 0)
                $(video).get(0).play();
            else window.mute();
        });
    });
    </script>
</body>

</html>