<!-- CTA with border -->
<table align="center" border="1" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" class="mobilecta">
                    <tbody>
                        <tr>
                            <td align="center">
<!--                                 <div style="display:block; font-size:0pt; line-height:10px; height:10px; color:#FFFFFF"><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block;" width="1" /></div>
 -->                                <div style="margin: 10px;"><a class="cta-main" href="https://www.agentprovocateur.com/gb_en/accessories/eyemasks" name="WS2" style="font-size: 11px; text-decoration: none; letter-spacing: 1px; font-weight:bold; font-family: Helvetica, Arial, sans-serif; color:#000000; line-height: 18px" target="_blank" xt="SPCLICKSTREAM">SHOP EYEMASKS</a></div>
<!--                                 <div style="display:block; font-size:0pt; line-height:10px; height:10px; color:transparent"><img alt="" name="Cont_0" src="https://www.agentprovocateur.com/media/custom_media/email/spacer.gif" style="display: block;" width="1" /></div>
 -->                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- END CTA with border -->

<!-- CTA plain with underline -->
<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" class="mobilecta" width="220">
                    <tbody>
                        <tr>
                            <td align="center">
                                <div style="margin: 10px;"><a class="cta-main" href="https://www.agentprovocateur.com/gb_en/accessories/eyemasks" name="WS2" style="font-size: 11px; text-decoration: underline; letter-spacing: 1px; font-weight:bold; font-family: Helvetica, Arial, sans-serif; color:#000000; line-height: 18px" target="_blank" xt="SPCLICKSTREAM">SHOP EYEMASKS</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- END CTA plain with underline -->