<!-- Without table -->
<div class="h3" style="color:#000000;font-family:Helvetica, Arial, sans-serif;font-size: 30px;line-height: 36px;text-align:center;text-transform:uppercase;letter-spacing: 4.93px;">Hero Header</div>
                        <div style="display:block; font-size:0pt; line-height:20px; height:20px; opacity:0;">&nbsp;</div>
                        <div class="text-i" style="color:#000000;font-family:Helvetica, Arial, sans-serif;font-size: 15px;line-height: 22.5px;text-align:center;letter-spacing:0.59px;width: 100%; margin: 0 auto;">Trailing black botanicals dance darkly across your body in Rosanna, with statement silhouettes and sexy strap detailing</div>If you can&rsquo;t imagine summer without your favourite AP pieces, join the club. We love these sun-soaked shots of our bestselling Mazzy swimsuit in classic pink and black - and we can&rsquo;t wait to see yours! Tag your shots on social with #APaddict for a chance to be featured on our channels</div>
<div style="display:block; font-size:0pt; line-height:30px; height:30px; opacity:0;">&nbsp;</div>

<!-- END without table -->
<!-- CTA -->
<table align="center" bgcolor="#FFEBE7" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" class="mobilecta" width="220">
                    <tbody>
                        <tr>
                            <td align="center">
                                <div style="margin: 10px;"><a class="cta-main" href="https://www.agentprovocateur.com/gb_en/accessories/eyemasks" name="HR2" style="font-size: 11px; text-decoration: none; letter-spacing: 1px; font-weight:bold; font-family: Helvetica, Arial, sans-serif; color:#000000; line-height: 18px" target="_blank" xt="SPCLICKSTREAM">SHOP EYEMASKS</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- END CTA -->