<style>
/* To go inside media query */
 div[class='mobile-br-15'],
        .mobile-br-15 {
            height: 15px !important;
        }
</style>

<!--15px mobile only spacer -->
<div class="mobile-br-15" style="display:block; font-size:0pt; line-height:0pt;"><span style="font-size: 11px;"></span></div>
<!--END 15px mobile only spacer -->