<style>
@media only screen and (max-device-width: 480px),
only screen and (max-width: 480px) {
    td[class='w25'] {
        max-width: 100% !important;
        width: 25px !important;
    }
}
</style>
<!-- 1 Full width Text Block -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" class="w25" width="40">&nbsp;</td>
        <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center">
                        <div class="h2" style="color:#000000;font-family:Helvetica, Arial, sans-serif;font-size: 25px;line-height: 32px;text-align:center;text-transform:uppercase;letter-spacing: 2px;">Hero Header</div>
                        <div style="display:block; font-size:0pt; line-height:20px; height:20px; opacity:0;">&nbsp;</div>
                        <div class="text-i" style="color:#000000; font-family:Arial, Helvetica, sans-serif; font-size: 15px;line-height: 22.5px; margin: 0 auto; text-align:center; font-style:normal; letter-spacing:1px;">Trailing black botanicals dance darkly across your body in Rosanna, with statement silhouettes and sexy strap detailing</div>
                        <div style="display:block; font-size:0pt; line-height:30px; height:30px; ">&nbsp;</div>
                        <!-- CTA -->
                        <table align="center" bgcolor="#FFEBE7" border="0" cellpadding="0" cellspacing="0" width="220">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <div style="margin: 10px;"><a class="cta-main" href="https://www.agentprovocateur.com/gb_en/accessories/eyemasks" name="HR2" style="font-size: 11px; text-decoration: none; letter-spacing: 1px; font-weight:bold; font-family: Helvetica, Arial, sans-serif; color:#000000; line-height: 18px" target="_blank" xt="SPCLICKSTREAM">SHOP EYEMASKS</a></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END CTA -->
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" class="w25" width="40">&nbsp;</td>
    </tr>
</table>
<!-- END 1 Full width Text Block -->