<!-- 30px SPACER -->
<div style="height: 30px; background-color: transparent;">&nbsp;</div>
<!-- END 30px SPACER -->

<!-- 15px SPACER -->
<div style="height: 15px; background-color: transparent; line-height: 15px;">&nbsp;</div>
<!-- END 15px SPACER -->