//Staging
$fontPath: "https://stg-ap.vaimo.com/media/custom_media/fonts/";
//Staging

//Live
//$fontPath: "https://www.agentprovocateur.com/media/custom_media/cache/ss19_teaser/fonts/";
//$fontPath: "https://www.agentprovocateur.com/media/custom_media/cache/ss19_landing/";
//Live


@font-face {
    font-family: 'HelveticaLTStd-BlkObl';
    src: url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.otf') format('opentype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.woff') format('woff'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.ttf') format('truetype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.svg#HelveticaLTStd-BlkObl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CompactaBT';
    src: url('#{$fontPath}compacta/CompactaBT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bgPink: #FFFAFA !default;
$campaignLightPink: #FFBBBA;
$campaignPink: #fd6864 !default;
$campaignGreen: #27ad88 !default;
$campaignTextPink: #fd6864 !default;

body {
    margin: 0;
    background-color: $bgPink;
}

.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.category-title {
    display: none !important;
}

.ss19-landing-container {
    background-color: $bgPink;
    font-family: Helvetica, Arial, sans serif;
}

// .slick-arrow {
//     display: none !important;
// }

.intro {
    background-color: $campaignLightPink;

    margin: 0 !important;

    @media only screen and (max-width: 767px) {

        // padding-top: 3vw;
    }

    .title-image {
        width: 100%;
        max-width: 442px;
        padding: 43px 0;
        margin: auto;
        text-align: center;

        @media only screen and (max-width: 986px) {
            padding: 36px 0;
            max-width: 320px;
        }

        @media only screen and (max-width: 767px) {
            padding: 24px 0;

            max-width: 211px;
        }
    }

    video {
        width: 100%
    }

    .ss19-copy {
        padding: 83px 0 !important;
        margin: 0 auto !important;

        @media only screen and (max-width: 1024px) {
            padding: 31px 0 !important;
            max-width: 530px;

        }

        @media only screen and (max-width: 767px) {
            padding: 31px 0 !important;
            max-width: 330px;

        }
    }

}

.nudge_one {
    @media only screen and (max-width: 767px) {
        margin-top: 80px !important;
    }
}

.nudge_two {
    @media only screen and (max-width: 767px) {
        margin-top: 40px !important;
        margin-bottom: 60px !important;
    }
}

.flex-box {
    @media only screen and (max-width: 767px) {

        //margin: -21px 20px !important;
    }
}

/*  Test styling */
.ss19-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3vw;
    line-height: 1.9vw;
    letter-spacing: 0.21vw;
    margin-top: 4vw;
    margin-bottom: 1.2vw;
    font-family: HelveticaLTStd-BlkObl;

    @media only screen and (max-width: 989px) {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 0.14px;
        margin-top: 50px;
        margin-bottom: 18px;
    }

    @media screen and (min-width: 990px) and (max-width: 1920px) {
        font-size: 2.3vw;
        line-height: 1.8vw;
        letter-spacing: 0.18px;
    }

    @media screen and (min-width: 1921px) {
        font-size: 45px;
        line-height: 48px;
        letter-spacing: 0.18px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

.ss19-copy {
    text-align: center;
    font-weight: 100;
    font-size: 1.05vw;
    line-height: 1.45vw;
    letter-spacing: 0.042vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
    font-weight: lighter;

    @media screen and (max-width: 440px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        max-width: 816px;
        width: 90%;
        margin: 1.5vw auto;
    }

    @media screen and (min-width: 1440px) {
        width: 70%;
    }

    @media only screen and (max-width: 989px) {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.81px;
        max-width: 530px;

    }

    @media only screen and (max-width: 767px) {
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.81px;
        // padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;

        padding-bottom: 20px;
        max-width: 330px;
        margin: 0 auto !important;
    }

    @media screen and (min-width: 1921px) {
        font-size: 20px;
        line-height: 28px;
        margin-top: 27px;
        margin-bottom: 20px;
    }
}

.ss19-cta {
    font-style: italic;
    font-size: 1.05vw;
    line-height: 1.05vw;
    letter-spacing: 0.085vw;
    text-align: center;
    display: inline-block;
    margin-bottom: 1.8vw;
    ;

    a {

        text-decoration: none;
        color: #000000;
        font-weight: lighter;
        text-transform: capitalize;


        &.pink {

            color: $campaignPink;

            &:after {
                background: $campaignPink;

            }
        }

        &.green {
            color: $campaignGreen;

            &:after {
                background: $campaignGreen;
            }
        }

        @media only screen and (min-width: 986px) {


            &:after {
                content: '';
                width: 0px;
                height: 1px;
                display: block;
                margin: auto;
                background: black;
                transition: 250ms;
            }

            &:hover:after {
                width: 100%;
            }
        }

    }

    @media only screen and (max-width: 989px) {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 1.5px;
        text-decoration: underline;
        margin-bottom: 22px;

    }

    @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        margin-bottom: 22px;

    }

    @media only screen and (min-width: 1921px) {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 20px;

    }
}

.range-name {
    text-align: right;
    color: $campaignTextPink;
    font-size: 16px;
    letter-spacing: 0.65px;
    line-height: 28px;
    font-weight: lighter;

    // padding-top: 6px;
    @media screen and (max-width: 986px) {
        font-size: 13px;
        line-height: 15px;
        // padding-top: 3px;

    }

    @media screen and (max-width: 767px) {
        font-size: 11px;
        letter-spacing: 0.75px;
        line-height: 15px;
        // padding-top: 3px;

    }

    a {
        color: $campaignTextPink;
        text-decoration: none;
    }
}

.pink {
    color: $campaignPink;

}

.green {
    color: $campaignGreen;

}

/* END Text Styling */

.ss19-section {
    padding-left: 150px;
    box-sizing: initial;
    padding-right: 150px;
    text-align: center;
    margin: 85px auto;

    &.full {
        padding: 0;

        &.bts {
            background-color: $campaignPink;
            padding: 50px 0;

            .ss19-header {
                padding: 0;
                margin-bottom: 6vw;
                // margin-top: 0;
                color: white;
                font-size: 96px;

                @media only screen and (max-width: 968px) {
                    font-size: 50px;

                }

                @media only screen and (max-width: 767px) {
                    font-size: 35px;
                    margin-top: 2vw;
                }
            }
        }
    }

    @media only screen and (max-width: 986px) {
        margin: 45px auto;

        padding-left: 63px;
        padding-right: 63px;
    }

    @media only screen and (max-width: 767px) {
        margin: 45px auto;

        padding-left: 20px;
        padding-right: 20px;
    }

    .ss19-large-image {
        max-width: 983px;
        width: 100%;
        margin: auto;
    }

    &.small-video {
        max-width: 653px;

        @media only screen and (max-width: 986px) {
            max-width: 356px;





        }


        &.video-left {
            @media only screen and (min-width: 768px) {
                min-width: 356px;

                position: relative;
                /* left: 0; */
                width: 100%;
                margin-right: 0;



            }
        }
    }
}



#readBtn {
    display: none;

    @media only screen and (max-width: 767px) {
        font-weight: normal;

        display: inline-block;
    }
}

#more {
    @media only screen and (max-width: 767px) {

        display: none;
    }
}

/* CAROUSELS */
.triplet-carousel {
    max-width: 1220px;
    margin: auto;
    height: fit-content;

    @media only screen and (max-width: 989px) {
        width: 90%;
    }

    // @media screen and (min-width: 768px) and (max-width: 1369px) {
    //     width: 90%;

    // }

    @media screen and (min-width: 1921px) {
        width: 100%;

    }

    img {
        width: 100%;
        max-width: 391px;
    }

    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        width: 100%;
        max-width: 391px;
        margin: 0 15px;

        @media only screen and (max-width: 1040px) {
            margin: 0 10px;
        }

        @media only screen and (max-width: 767px) {
            margin: 0 6px;
        }

    }

    div.slick-arrow {
        position: absolute;
        top: 40%;
        z-index: 99;

        cursor: pointer;

        @media screen and (max-width: 460px) {
            top: 40%;

        }

        img {
            max-width: 30px;

        }

        /* left: 0; */
    }

    div.slick-prev {
        right: 102%;
        width: 4vw;
        height: 4vw;
        background: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/LEFT-ARROW-RED.svg);
        background-repeat: no-repeat;
        background-size: 40%;
        border: 1px solid $campaignPink;
        background-position: 40%;

        @media screen and (max-width: 968px) {
            border: 0;
            width: 40px;
            height: 40px;
            right: 99%;


        }
    }

    div.slick-next {
        left: 102%;
        width: 4vw;
        height: 4vw;
        background: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/RIGHT-ARROW-RED.svg);
        background-repeat: no-repeat;
        background-size: 40%;
        border: 1px solid $campaignPink;
        background-position: 60%;

        @media screen and (max-width: 968px) {
            border: 0;
            left: 100%;
            width: 40px;
            height: 40px;
        }
    }
}

.compact {
    // font-family: CompactaBT;
    font-family: CompactaBt;

}

.btsBlock {
    padding: 30px 0 !important;
    background-color: $campaignPink;

    .ss19-header {
        color: white;
        margin: 4vw 0;
        font-size: 6vw;
        line-height: 6vw;
        letter-spacing: 0.1vw;

        @media only screen and (max-width: 989px) {
            font-size: 75px;
            line-height: 56px;
            letter-spacing: 1.5px;
            margin-top: 20px;
            margin-bottom: 58px;
        }

        @media screen and (max-width: 767px) {
            font-size: 50px;
            padding-bottom: 40px;
            padding-top: 10px;

            margin: unset;
            line-height: 34px;
        }

        @media only screen and (min-width: 1921px) {
            font-size: 96px;
            line-height: 100px;
            letter-spacing: 1.5px;
            margin-bottom: 20px;

        }



    }

    .ss19-copy {
        margin: 4vw auto;

        @media screen and (max-width: 986px) {
            margin-top: 40px !important;
            padding-bottom: 0;
            padding-top: 0;
        }

        @media screen and (max-width: 767px) {
            margin-top: 30px;
            padding-bottom: 0;
            padding-top: 0;
            margin-bottom: 10px;
        }
    }
}

.bts-carousel {
    &.slick-slider {

        cursor: grab;
            margin-bottom: 10vw;
            @media screen and (max-width: 986px) {
                      margin-bottom: 100px;

        }

        @media screen and (max-width: 767px) {
    margin-bottom: 70px;
        }

        img.wider {
            max-width: 530px;
        }
    }

    .slick-slide {
        height: 100%;
        margin: 0 6px;
        max-width: 450px;
        width: 100% !important;

        .wider {

            max-width: 548px !important;
        }

        @media screen and (max-width:986px) {
            margin: 0 3px;
            max-width: 186px;

        }

        @media screen and (max-width: 767px) {
            margin: 0 3px;
            max-width: 166px;

        }

        img {
            display: block;
            width: 100%;
            // margin: 4px;

            @media screen and (max-width: 767px) {}
        }
    }

}


.single-carousel {
    max-width: 983px;
    width: 100%;
    height: 100%;
    margin: auto;

    @media only screen and (max-width: 968px) {
        max-height: 420px;
        // padding: 0 40px;
        width: 85%;

    }

    @media only screen and (max-width: 767px) {
        max-height: 420px;
        // padding: 0 40px;
        width: 75%;

    }

    @media only screen and (max-width: 479px) {
        max-height: 280px;

    }

    .slick-slide {
        img {
            display: block;
            width: 100%;
            max-width: 983px;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 45%;
        cursor: pointer;


        &.slick-prev {
            right: 103%;
            /* padding: 14px 15px; */
            /* border: 1px solid; */
            /* padding-right: 24px; */
            width: 4vw;
            height: 4vw;
            background: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/LEFT-ARROW-GREEN.svg);
            background-repeat: no-repeat;
            background-size: 40%;
            border: 1px solid $campaignGreen;
            background-position: 40%;

            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
                border: 0;
                right: 101%;
            }

        }

        &.slick-next {
            left: 103%;
            /* padding: 14px 15px; */
            /* border: 1px solid; */
            /* padding-right: 24px; */
            width: 4vw;
            height: 4vw;
            background: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/RIGHT-ARROW-GREEN.svg);
            background-repeat: no-repeat;
            background-size: 40%;
            border: 1px solid $campaignGreen;
            background-position: 60%;

            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
                border: 0;
                left: 103%;
            }
        }

    }

}

.slick-slider .range-name {
    padding-top: 4px;
}

.ss19-video {
    width: 100%;
        max-width: 1900px;
    margin: auto;
    cursor: pointer;

    &.small_embed {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 100%;
        max-width: 653px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.carousel-cell {
    width: 27%;
    border-right: 10px solid $campaignPink;
    background-color: $campaignPink;

}

@media only screen and (max-width: 767px) {
    .carousel-cell {
        width: 43%;
    }
}

.carousel-cell img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

}

.flickity-page-dots .dot,
.flickity-button {
    display: none;
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}

.carousel.flickity-enabled.is-draggable {
    height: 750px;
    overflow: hidden;

    @media only screen and (max-width: 1366px) {

        height: 555px;
    }

    @media only screen and (max-width:1024px) {
        height: 405px;
    }

    @media only screen and (max-width:968px) {
        height: 305px;
    }

    @media only screen and (max-width: 767px) {
        height: 50vh;
    }

    @media only screen and (max-width: 420px) {
        height: 242px;
    }

    @media only screen and (min-width: 1921px) {
        height: 657px;

    }
}

.floating-boxes {
    // padding-top: 5vw;
    // padding-bottom: 7vw;
    display: flex;
    align-items: center;
    max-width: 1204px;
    margin: 85px auto;

    &.inverted {
        direction: rtl;
    }

    @media only screen and (max-width: 767px) {
        // padding-bottom: 52px;
        //         padding-top: 64px;
        // padding-bottom: 0;
        margin: 35px auto;

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        margin: 100px auto;
    }

    @media only screen and (min-width: 1921px) {

        padding-top: 144px;
        padding-bottom: 145px;
    }

    .para-box {
        width: 50%;

        @media only screen and (min-width: 989px) {
            // display: inline-block;
            // width: 50%;
            // float: left;
        }


        &.large {
            // max-width: 618px;

            // border-left: 28px solid white;\
            width: 52%;



            @media only screen and (max-width: 1440px) {
                margin-left: 40px;
            }

            @media only screen and (max-width: 767px) {
                margin-left: 20px;
            }



            img {
                width: 100%;
                max-width: 618px;

                @media only screen and (max-width: 420px) {
                    width: 175px;
                }
            }

            &.inverted {
                // border-right: 28px solid $bgPink;
                // padding-right: 28px;
                border-left: 0;

                @media only screen and (max-width: 1440px) {
                    margin-left: unset;
                    width: unset;
                    margin-right: 20px;
                    //                     margin-right: 20px;
                }

            }
        }

        &.small {
            // max-width: 442px;
            // border-left: 28px solid white;
            border: 28px solid $bgPink;
            // width: 40%;


            @media only screen and (max-width: 767px) {
                // width: 40%;
            }


            @media only screen and (min-width: 1240px) {
                border-left: 120px solid $bgPink;
            }

            &.inverted {
                // border-right: 28px solid $bgPink;
                // top: 10vw; 
                position: relative;
                top: 170px;

                @media only screen and (max-width: 1040px) {
                    top: 70px;

                }

                @media only screen and (max-width: 767px) {
                    // width: 40%;
                    // margin-right: 20px;
                    margin-left: 0;

                }


                @media only screen and (min-width: 1240px) {
                    border-right: 120px solid $bgPink;
                    border-left: 0;
                }

            }

            // margin: 12% 30px;
            img {
                width: 100%;

                max-width: 442px;

                @media only screen and (max-width: 420px) {
                    width: 125px;
                }

            }

        }


    }

}

.fullBlock {
   

    &.gifing {
        background-color: $campaignGreen;
        padding: 100px 0;
@media screen and (max-width: 986px) {
            padding: 53px 0;

        }
        @media screen and (max-width: 767px) {
            padding: 28px 0;

        }

        img {
            max-width: 496px;
            width: 100%;
            border-radius: 100%;
            /* border: 10px solid white; */
            background: white;


            @media screen and (max-width: 767px) {
                max-width: 247px;

            }
        }
    }

    .inner {
        display: flex;
        align-items: center;
        padding: 0 250px;

        &.padded {
            padding: 0 15vw;

            @media screen and (max-width: 968px) {
                padding: 0 6vw;
            }
        }

        @media screen and (max-width: 968px) {
            // display: block;
        }

        @media screen and (max-width: 767px) {
            display: block;
        }

        @media screen and (max-width: 440px) {
            padding: 0;
        }

        .half {

            width: 50%;

            @media screen and (max-width: 767px) {
                width: 100%;

            }
        }

        .ss19-header {

            color: white;
            font-size: 10vw;
            line-height:170px;
            letter-spacing: 0;

            @media screen and (max-width: 968px) {
                font-size: 75px;
                line-height: 75px;
                letter-spacing: 1.58;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 767px) {
                font-size: 50px;
                line-height: 61px;
                letter-spacing: 0;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 440px) {
                padding: 0;
            }

                @media only screen and (min-width: 1921px) {
                                font-size: 160px;

}
        }

        .ss19-copy {
            // font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.81px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-bottom: 20px;
    /* max-width: 330px; */
    margin: 0 auto !important;

            @media screen and (max-width: 968px) {
                // display: block;
            }


        }
    }
}

.ss19-section.full.para {
    margin-bottom: 0;

    @media screen and (max-width: 767px) {

        margin-bottom: 0;
        background-image: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-LAYOUT_SINGLE-SPS-4.jpg);
        height: 485px;
        background-size: contain;
        background-position: top;
    }

    img {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

}

.parallax2 {
    background-image: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-LAYOUT_desktop1.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 320px; */
    position: relative;
    // background-position: center;
    background-position: 0 160px;
    margin-top: 0;

    @media only screen and (max-width: 1336px) {
        display: none;

    }
}

.parallax {
    background-image: url(https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/assets/AP-BTS-SELECTS_ENDTILE-DESKTOP.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 320px; */
    position: relative;
    background-position: bottom;
    cursor: pointer;

    @media only screen and (max-width: 1336px) {
        display: none;

    }
}

.visi {
    // display: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.outro {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 96px;
    display: block;
    line-height: 100px;
    display: block;
    width: 100%;

    @media only screen and (min-width: 1921px) {
        font-size: 96px;
        // position: fixed;

    }

    @media only screen and (max-width: 767px) {
        bottom: 20%;
        font-size: 65px;
        line-height: 70px;
        top: 0;
    }

    a {
        color: white;

        &.visible {
            height: 150px;
            width: 1px;
            opacity: 0;
            transition: all .75s ease;

        }

        @keyframes example {
            from {
                background-color: red;
            }

            to {
                background-color: yellow;
            }
        }

    }


}

.row.breadcrumbs {
    display: none !important;
}


.video-1 {
    @media only screen and (min-width: 1920px) {
        margin-right: 116px;

    }
}

.nudge {
    padding-top: 170px;

    @media screen and (max-width: 968px) {
        // display: block;
    }

    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (max-width: 440px) {}

    @media only screen and (min-width: 1920px) {
        padding-top: 20vw;

    }
}


.rm_parallax {
    display: none;
    position: relative;
    cursor: grab;

    .mobile {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;

        }
    }

    .desktop {
        display: block;

        @media screen and (max-width: 767px) {
            display: none;

        }
    }

    .inner-block {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        text-align: center;

        .link {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
text-transform: uppercase;
            font-size: 96px;
            color: white;
            width: 100%;
            line-height: 100px;
             @media screen and (max-width: 986px) {
                        font-size: 75px;
                            line-height: 80px;

        }
        @media screen and (max-width: 767px) {
                        font-size: 65px;
                            line-height: 70px;

        }
        @media screen and (max-width: 420px) {
                        font-size: 44px;
                            line-height: 50px;

        }

        }
    }

    @media screen and (max-width: 1366px) {
        display: block;

    }

    .ss19-cta {
        a {
            color: white !important;
            text-decoration: none;
        }

        font-size: 50px;
        text-decoration: underline;
        font-style: normal;
        margin: auto;
    }
}

       .half {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
    }

    .flex-box {
        max-width: 1204px;
        display: flex;
        align-items: center;
        margin: auto;

    }

    .half.large {
        max-width: 618px;
        width: 100%;
    }

    .half.small {
        max-width: 418px;
        margin-left: 144px;
        width: 100%;
    }

    @media screen and (max-width: 986px) {
        .half.small {
            max-width: 240px;
            margin-left: 80px;
        }

        .half.large {
            max-width: 337px;
        }
          .flex-box {
/*            margin: auto 20px;
*/            max-width: 667px;
        }
    }

    @media screen and (max-width: 580px) {
        .half.small {
            min-width: 125px;
            margin-left: 40px;
        }

        .half.large {
            min-width: 175px;
        }

        .flex-box {
/*            margin: auto 20px;
*/                        max-width: 333px;

        }

    }

      .half2 {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
    }

    .flex-box2 {
        max-width: 1204px;
        display: flex;
        align-items: center;
        margin: auto;

    }

    .half2.large2 {
        max-width: 618px;
        width: 100%;
    }

    .half2.small2 {
        max-width: 418px;
        margin-right: 144px;
        width: 100%;
            margin-top: 364px;
    }

    @media screen and (max-width: 986px) {
        .half2.small2 {
            max-width: 240px;
            margin-right: 80px;
    margin-top: 245px;        }

        .half2.large2 {
            max-width: 337px;
        }
          .flex-box2 {
/*            margin: auto 20px;
*/            max-width: 667px;
        }
    }

    @media screen and (max-width: 580px) {
        .half2.small2 {
            min-width: 125px;
            margin-right: 40px;
                margin-top: 164px;
        }

        .half2.large2 {
            min-width: 175px;
        }

        .flex-box2 {
/*            margin: auto 20px;
*/                        max-width: 333px;

        }

    }

    .triplet-carousel, .single-carousel, .bts-carousel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.triplet-carousel.slick-initialized, .single-carousel.slick-initialized, .bts-carousel.slick-initialized {
    visibility: visible;
    opacity: 1;    
}

.small-video .range-name {
    padding-top: 5px;
}

.ss19-video.large {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 1900px;
}

.ss19-video.large iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}