@import 'partials/tables.scss';
@import 'partials/landing-page.scss';
@import 'partials/calculator.scss';
@import 'partials/bra-shapes.scss';


// $error-red: red;

// input {
//     border: 1px solid;
//     color: #000;
// }

// .inch {
//     display: none;
// }

// .error {color: $error-red;}

// .tip {
//     font-weight: lighter;
//     font-size: 11px;
//     // text-align: center;
// }

// .bra-calculator-container {
//     margin: 40px 0;
//     .question{
//     	margin: 20px 0;
//     }
//     div#calculate, div#calculate2 {
//     display: inline-block;
//     width: 100px;
//     padding: 10px 30px;
//     text-align: center;
//     background-color: black;
//     color: white;
//     margin: 20px 0;
// }

// .units {
//     width: 100%;
//     max-width: 150px;
//     border: 1px solid;
//     border-radius: 50px;
//     display: flex;
//     margin: 40px 0;

//     .tab {
//         padding: 10px;
//         border-radius: 50px;
//         width: 50%;
//         text-align: center;

//         &.selected {
//             background-color: #000;
//             color: #fff;
//                 width: 75%;

//         }
//     }
// }
// }

// .tables{
// 	table{
// 		width: 100%;
// 		max-width: 500px;
//         display: block;
//         margin: 30px 0;
// 	}
// 	table, th, td {
//     border: 0.2px solid black;
//     border-collapse: collapse;
//     text-align: center;
// 	}
// 	td {
//     width: 100px;
//     max-width: 100%;
//     &.hover {
//     background:pink;
// }	}
// }

// .switch {
//     width: 100%;
//     max-width: 150px;
//     border: 1px solid;
//     border-radius: 50px;
//     display: flex;
//     margin: 40px 0;

//     .tab {
//         padding: 10px;
//         border-radius: 50px;
//         width: 50%;
//         text-align: center;

//         &.selected {
//                 background-color: #000;
//     color: #fff;
//     width: 75%;
//         }
//     }
// }

