* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.ss19_teaser_container {
    width: 100%;
    max-width: 1244px;
    text-align: center;
    margin: 0 auto;
}

.page-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.55vw;
    line-height: 1.9vw;
    letter-spacing: 0.21vw;
    margin: 20px 0;
    letter-spacing: 2;

     @media only screen and (max-width: 989px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4px;

    }

    @media only screen and (max-width: 767px){
        max-width: 767px;
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 4px;
    }

     @media only screen and (min-width: 1921px){
        font-size: 30px;
        line-height: 36.5px;
        letter-spacing: 4px;
    }
}

.page-copy {
	max-width: 512px;
	width: 100%;
	letter-spacing: 1px;
	margin: 0 auto;
}

.video {
    max-width: 912px;
    margin: 20px auto;

}

.controller-bar {
    display: flex;
    position: relative;
    bottom: 42px;
    z-index: 99;

    .playBtn,
    .muteBtn {
        // width: 50%;
        display: inline-flex;
        font-size: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .playBtn {
        position: absolute;
        right: 20px;
    }
}

.countdown {
    background-color: #ffffff;
    width: 100px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 6px 7px 6px -5px;

}

#counter {
	font-size: 40px;
}