//colors
$color_pippin_approx: #ffe7de;
$black: #000;
$white: #ffffff;

//fonts
$font_0: helvetica;
$font_1: arial sans serif;
$font_2: arial;

//urls
$url_0: url(https://www.agentprovocateur.com/media/custom_media/cache/customer_service/Header_Desktop_Legal_1920.jpg);

.container {
	max-width: none;
	margin: auto;
	padding: 0;
	.main-container {
		margin-top: 0;
	}
}
.legal-page-container {
	all: inherit;
	font-family: $font_0, $font_1;
	font-weight: 100;
	// background-color: $color_pippin_approx;
	letter-spacing: 1px;
	.header-block {
		height: 250px;
		background-image: $url_0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: table;
		width: 100%;
		margin: 0;
		.page-title {
			width: 100%;
			text-align: center;
			color: $color_pippin_approx;
			font-size: 58px;
			text-transform: uppercase;
			letter-spacing: 6px;
			line-height: 48px;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.legal-main-content {
		width: 100%;
		max-width: 1200px;
		margin: auto;
		.row {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.col-xs-9 {
			flex: 0 0 75%;
			width: 777777777775%;
			.main-blocks {
				margin-top: 40px;
				#back-to-top-btn {
				display: none; 
				position: fixed;
				bottom: 15px;
				right: 15px;
				z-index: 99;
				border: none;
				outline: none;
				background-color: #000;
				color: white;
				cursor: pointer;
				padding: 8px;
				font-size: 12px;
				letter-spacing: 1px;
				}
				h1 {
					font-size: 27px;
					margin-bottom: 40px;
					border-bottom: none;
				}
				p {
					font-size: 14px;
					letter-spacing: 0.25px;
					font-family: $font_0, $font_2;
					line-height: 20px;
					&.title {
						font-size: 15px;
						text-transform: uppercase;
						font-weight: 500;
					}
					&.sub-title {
						font-weight: 500;
					}
				}
				.section {
					padding-top: 130px;
					margin-top: -130px;
					ol {
						list-style: decimal;
						margin-left: 15px;
						li {
							font-size: 14px;
							letter-spacing: 0.5px;
							text-transform: lowercase;
							margin-bottom: 10px;
						}
					}
					ul {
						list-style: disc;
						margin-left: 15px;
						li {
							font-size: 14px;
							letter-spacing: 0.5px;
							text-transform: lowercase;
							margin-bottom: 10px;
						}
					}
					&.fitting-image {
						margin-bottom: 20px;
					}
				}
			}
			h1 {
				text-transform: uppercase;
				padding: 0 0 30px 0;
				font-size: 27px;
			}
			h2 {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 500;
			}
			h3 {
				font-size: 14px;
				padding: 10px 0;
				font-weight: bold;
				text-transform: initial;
			}
			.del-table {
				overflow: hidden;
				margin-bottom: 25px;
				table {
					border-collapse: collapse;
					border-color: $black;
					&.first {
						max-width: 600px;
						width: 100%;
					}
					&.third {
						max-width: 600px;
						width: 100%;
					}
					&.second {
						max-width: 600px;
						width: 100%;
					}
					th {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
					td {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
				}
			}
			.cs-page-anchors ul {
				all: inherit;
				margin: 35px 0;
				#extra-items {
					margin-top: 20px;
					display: none;
				}
				li {
					list-style: none;
					text-transform: uppercase;
					margin-bottom: 15px;
					color: $black;
					letter-spacing: 1px;
					font-size: 15px;
					&#see-more-btn {
						text-transform: unset !important;
						&:hover {
							text-decoration: underline !important;
						}
					}
					a {
						text-decoration: none;
						color: $black;
						&:hover {
							text-decoration: underline !important;
						}
					}
				}
			}
		}
		.col-xs-3 {
			padding-left: 50px;
			h1 {
				text-transform: uppercase;
				padding: 0 0 30px 0;
				font-size: 27px;
			}
			h2 {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 500;
			}
			h3 {
				font-size: 14px;
				padding: 10px 0;
				font-weight: bold;
			}
			.del-table {
				overflow: hidden;
				margin-bottom: 25px;
				table {
					border-collapse: collapse;
					border-color: $black;
					&.first {
						max-width: 600px;
						width: 100%;
					}
					&.third {
						max-width: 600px;
						width: 100%;
					}
					&.second {
						max-width: 600px;
						width: 100%;
					}
					th {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
					td {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
				}
			}
			&.hub-links ul li {
				font-size: 15px;
				letter-spacing: 0.5px;
				line-height: 18px;
				margin-bottom: 10px;
				a {
					text-decoration: none;
					color: $black;
					letter-spacing: 1px;
					font-size: 15px;
					&:hover {
						text-decoration: underline !important;
					}
				}
			}
			.cs-page-anchors ul {
				all: inherit;
				margin: 35px 0;
				#extra-items {
					margin-top: 20px;
					display: none;
				}
				li {
					list-style: none;
					text-transform: uppercase;
					margin-bottom: 15px;
					color: $black;
					letter-spacing: 1px;
					font-size: 15px;
					&#see-more-btn {
						text-transform: unset !important;
						&:hover {
							text-decoration: underline !important;
						}
					}
					a {
						text-decoration: none;
						color: $black;
						&:hover {
							text-decoration: underline !important;
						}
					}
				}
			}
		}
		.col-xs-12 {
			h1 {
				text-transform: uppercase;
				padding: 0 0 30px 0;
				font-size: 27px;
			}
			h2 {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 500;
			}
			h3 {
				font-size: 14px;
				padding: 10px 0;
				font-weight: bold;
			}
			.del-table {
				overflow: hidden;
				margin-bottom: 25px;
				table {
					border-collapse: collapse;
					border-color: $black;
					&.first {
						max-width: 600px;
						width: 100%;
					}
					&.third {
						max-width: 600px;
						width: 100%;
					}
					&.second {
						max-width: 600px;
						width: 100%;
					}
					th {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
					td {
						padding: 12px;
						font-weight: normal;
						font-size: 12px;
						text-align: left;
						&.bg-white {
							background-color: $white;
						}
					}
				}
			}
			.cs-page-anchors ul {
				all: inherit;
				margin: 35px 0;
				#extra-items {
					margin-top: 20px;
					display: none;
				}
				li {
					list-style: none;
					text-transform: uppercase;
					margin-bottom: 15px;
					color: $black;
					letter-spacing: 1px;
					font-size: 15px;
					&#see-more-btn {
						text-transform: unset !important;
						&:hover {
							text-decoration: underline !important;
						}
					}
					a {
						text-decoration: none;
						color: $black;
						&:hover {
							text-decoration: underline !important;
						}
					}
				}
			}
		}
	}
}
@media only screen and(max-width: 768px) {
	.legal-page-container {
		.header-block .page-title {
			top: 14%;
		}
		.legal-main-content .row {
			margin-top: 0;
		}
	}
}
@media only screen and(max-width: 940px) {
	.legal-page-container .legal-main-content {
		padding: 20px;
		.col-xs-3 {
			display: none;
			width: 100% !important;
			flex: 100%;
			.del-table table {
				width: 100%;
			}
		}
		.col-xs-9 {
			width: 100% !important;
			flex: 100%;
			.del-table table {
				width: 100%;
			}
		}
		.col-xs-12 {
			width: 100% !important;
			flex: 100%;
			.del-table table {
				width: 100%;
			}
		}
	}
}
@media only screen and(max-width: 575.99px) {
	.legal-page-container .legal-main-content {
		.col-xs-9 {
			max-width: 100% !important;
			flex: 100%;
		}
		.col-xs-3 {
			width: 100% !important;
			flex: 100%;
		}
	}
}