.col-main > .widget {
  display: block;
  margin: 35px 0 0;
}

.vp-controls {
  display: none !important;
}

body, html {
  background-color: #FFFFFF;
}

.container {
  max-width: none;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .container .main-container .col-main {
    overflow: hidden !important;
  }
}

#swim-lp-wrapper {
  background-color: #FFFFFF;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
  /*overflow-x: hidden;*/
}

@media only screen and (max-width: 989px) {
  #swim-lp-wrapper {
    margin-top: 20px;
  }
}

#swim-lp-inner {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

p.swim-launch__small-text {
  width: 99%;
  text-align: right;
  font-size: 11px !important;
  margin-top: 7px;
  text-decoration: none;
  font-style: normal !important;
  letter-spacing: 0.5px;
  /*&.coming-soon em {
		color:#767676;
	}*/
}

@media only screen and (max-width: 989px) {
  p.swim-launch__small-text p.swim-launch__small-text {
    padding-left: 5px;
    padding-right: 5px;
  }
}

p.swim-launch__small-text a {
  display: inline;
  text-decoration: none;
}

p.swim-launch__small-text a:hover {
  text-decoration: underline;
}

p.swim-launch__small-text.full-width {
  margin-left: -8px;
}

/**
 * GENERAL STYLES
 */
section {
  /*padding-top: 30px;*/
  padding-bottom: 50px;
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 989px) {
  section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

section div#section-copy {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  color: #DE049D;
  /*margin: auto;*/
}

@media only screen and (max-width: 989px) {
  section div#section-copy {
    width: 80%;
    margin: auto;
  }
}

section div#section-copy h1 {
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: unset;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 989px) {
  section div#section-copy h1 {
    /*margin: 11px 0;*/
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px;
    /*margin-top: 11px;*/
  }
}

@media only screen and (min-width: 990px) {
  section div#section-copy h1 {
    margin-top: 46px;
  }
}

section div#section-copy p {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 19px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-top: 5px;
  margin-right: auto;
  max-width: 700px;
}

@media only screen and (max-width: 989px) {
  section div#section-copy p {
    font-size: 13px;
  }
}

section div#section-copy button.cta {
  font-size: 15px !important;
  color: #FFF;
  padding: 10px;
  background-color: #DE049D;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border: none;
  display: block;
  font-weight: bold;
  margin: 20px auto 46px auto;
  height: 44px;
  text-transform: uppercase;
}

section div#section-copy button.cta a {
  color: #FFF !important;
  text-decoration: none;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 989px) {
  section div#section-copy button.cta {
    height: 36px;
    max-width: 279px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  section div#section-copy button.cta {
    margin: 20px auto 25px auto;
  }
}

.swim-launch__img-box {
  display: block;
  padding: 0;
  margin: 0;
}

.swim-launch__img-box img, .swim-launch__img-box a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-style: normal;
}

.swim-launch__img-box--small {
  width: 49%;
  margin: auto;
  max-width: 904px;
}

@media only screen and (max-width: 989px) {
  .swim-launch__img-box--small {
    width: 75%;
  }
}

.swim-launch__img-box--large {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 989px) {
  .swim-launch__img-box--large {
    width: 100%;
  }
}

.swim-launch__video-box {
  padding: 0;
  margin: 0;
}

.swim-launch__video-box a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-style: normal;
}

.swim-launch__video-box video {
  display: block;
  width: 100%;
}

.swim-launch__two-part-section {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 989px) {
  .swim-launch__two-part-section {
    display: block;
  }
}

.swim-launch__two-part-section .swim-launch__section-left, .swim-launch__two-part-section .swim-launch__section-right {
  flex-grow: 0;
  flex-basis: 50%;
  width: 50%;
}

@media only screen and (max-width: 989px) {
  .swim-launch__two-part-section .swim-launch__section-left, .swim-launch__two-part-section .swim-launch__section-right {
    width: 100%;
    flex-basis: 100%;
  }
}

.swim-launch__marquee {
  width: 100%;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.swim-launch__marquee span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 989px) {
  .swim-launch__marquee {
    font-size: 21px;
    letter-spacing: 3px;
  }
}

.fadable {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1.1s ease-in-out, transform 0.8s ease-in-out;
}

.fadable.faded-delay-one {
  transition: opacity 1.1s ease-in-out 0.5s, transform 0.8s ease-in-out 0.5s;
}

.fadable.faded-in {
  opacity: 1;
  transform: translateY(0);
}

/**
 * SPECIFIC SECTIONS
 */
.swim-launch__one, .swim-launch__three, .swim-launch__five {
  padding-top: 10px;
  padding-top: 0px;
  max-width: 100%;
  width: 1920px;
  margin: auto;
}

.swim-launch__one .inner, .swim-launch__three .inner, .swim-launch__five .inner {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 34px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 989px) {
  .swim-launch__one .inner, .swim-launch__three .inner, .swim-launch__five .inner {
    width: 75%;
  }
}

.swim-launch__one .inner h4, .swim-launch__three .inner h4, .swim-launch__five .inner h4 {
  text-align: center;
  text-transform: none;
  line-height: 36px;
  font-size: 26px !important;
}

@media only screen and (max-width: 989px) {
  .swim-launch__one .inner h4, .swim-launch__three .inner h4, .swim-launch__five .inner h4 {
    letter-spacing: 0.053em !important;
    font-size: 20px !important;
    line-height: 23px !important;
    margin: 13px 0 12px !important;
  }
}

.swim-launch__one p:hover, .swim-launch__three p:hover, .swim-launch__five p:hover {
  text-decoration: none;
}

.swim-launch__one p a:hover, .swim-launch__three p a:hover, .swim-launch__five p a:hover {
  text-decoration: underline;
}

.swim-launch__one .swim-launch__img-box, .swim-launch__three .swim-launch__img-box, .swim-launch__five .swim-launch__img-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

@media only screen and (max-width: 989px) {
  .swim-launch__one .swim-launch__img-box, .swim-launch__three .swim-launch__img-box, .swim-launch__five .swim-launch__img-box {
    width: 100%;
  }
}

@media only screen and (max-width: 989px) {
  .swim-launch__one, .swim-launch__three, .swim-launch__five {
    padding-bottom: 10px;
    padding-top: 0 !important;
  }
}

.swim-launch__img-box.swim-launch__img-box--small.left-aligned {
  float: left;
  /*margin-right: 15px;*/
}

.swim-launch__img-box.swim-launch__img-box--small.right-aligned {
  float: right;
  /*margin-left: 15px;*/
}

@media only screen and (max-width: 989px) {
  .swim-launch__img-box.swim-launch__img-box--small.left-aligned {
    float: left;
  }
  .swim-launch__img-box.swim-launch__img-box--small.right-aligned {
    float: right;
  }
}

.swim-launch__two, .swim-launch__four, .swim-launch__six, .swim-launch__eight {
  text-align: center;
  /*padding-bottom: 100px;*/
  max-width: 1920px;
  margin: auto;
  /*padding: 0 15px;*/
  padding: 0 15px 45px 15px;
  /*> div {
		display: inline-block;
		margin-left: 15px;
		margin-right: 15px;
		@media only screen and (max-width: 989px) {
			margin-left: 0;
			margin-right: 0;
			width: 70%;
		}
	}
*/
}

.swim-launch__two:before, .swim-launch__four:before, .swim-launch__six:before, .swim-launch__eight:before, .swim-launch__two:after, .swim-launch__four:after, .swim-launch__six:after, .swim-launch__eight:after {
  content: '';
  display: table;
}

.swim-launch__two:after, .swim-launch__four:after, .swim-launch__six:after, .swim-launch__eight:after {
  clear: both;
}

.swim-launch__two .swim-launch__img-box, .swim-launch__four .swim-launch__img-box, .swim-launch__six .swim-launch__img-box, .swim-launch__eight .swim-launch__img-box {
  position: relative;
  margin-bottom: 10px;
}

@media only screen and (max-width: 989px) {
  .swim-launch__two .swim-launch__img-box, .swim-launch__four .swim-launch__img-box, .swim-launch__six .swim-launch__img-box, .swim-launch__eight .swim-launch__img-box {
    float: right;
  }
}

.swim-launch__two .swim-launch__img-box.padding-top, .swim-launch__four .swim-launch__img-box.padding-top, .swim-launch__six .swim-launch__img-box.padding-top, .swim-launch__eight .swim-launch__img-box.padding-top {
  top: 60px;
}

@media only screen and (max-width: 989px) {
  .swim-launch__two .swim-launch__img-box.padding-top, .swim-launch__four .swim-launch__img-box.padding-top, .swim-launch__six .swim-launch__img-box.padding-top, .swim-launch__eight .swim-launch__img-box.padding-top {
    top: 0;
  }
}

@media only screen and (max-width: 989px) {
  .swim-launch__two, .swim-launch__four, .swim-launch__six, .swim-launch__eight {
    padding-bottom: 0px;
  }
}

.swim-launch__three {
  /*		p.swim-launch__small-text.video {
    right: 17%;
    position: relative;
    @media only screen and (max-width: 989px) {
    	right: 0;
    }
}*/
}

.swim-launch__three p.swim-launch__small-text.coming-soon.ss18-launch__open-form {
  margin-top: -5px;
}

@media only screen and (min-width: 890px) {
  .swim-launch__three {
    padding-top: 30px;
  }
}

.swim-launch__three video {
  width: 100%;
  max-width: 1920px;
}

@media only screen and (min-width: 890px) {
  .swim-launch__four {
    padding-top: 0px;
  }
}

.swim-launch__five {
  padding-top: 20px;
}

@media only screen and (min-width: 890px) {
  .swim-launch__six {
    padding-top: 0px;
    padding-bottom: 75px;
  }
}

@media only screen and (min-width: 890px) {
  .swim-launch__eight {
    /*padding-top: 20px;*/
    padding-bottom: 80px;
  }
}

/**
 * Animations
 */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.swim-launch__iframe-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 57%;
  position: relative;
}

.swim-launch__iframe-wrapper iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ss18-launch__form {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form {
    top: 49px;
    z-index: 1000;
    padding-top: 0;
    bottom: 0;
  }
}

.ss18-launch__form-wrapper {
  position: absolute;
  background-color: #FFF;
  padding: 30px 60px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 110;
  text-align: center;
  max-width: 668px;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper {
    left: 50%;
    top: calc(50% - 25px);
    transform: translateX(-50%) translateY(-50%);
    padding: 30px 0 0;
    width: 100%;
  }
}

.ss18-launch__form-wrapper form {
  font-size: 15px;
}

.ss18-launch__form-wrapper h4 {
  font-size: 22px !important;
  line-height: 26px;
  letter-spacing: 1px !important;
  margin-bottom: 10px !important;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper h4 {
    font-size: 20px !important;
    padding: 0 30px;
  }
}

.ss18-launch__form-wrapper p {
  /*width: 66.66667%;*/
  margin: auto;
  min-width: 30px;
  font-style: normal !important;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper p {
    width: 100%;
    padding: 0 30px;
  }
}

.ss18-launch__form-wrapper p.privacy-policy {
  font-size: 10px;
  color: #888;
  margin: 20px auto;
}

.ss18-launch__form-wrapper label {
  color: #000;
  width: unset;
}

.ss18-launch__form-wrapper label[for="control_EMAIL"], .ss18-launch__form-wrapper label[for="Shopping For"] {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding-right: 20px;
  width: 33.33333%;
  text-align: right;
  line-height: 40px;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper label[for="control_EMAIL"], .ss18-launch__form-wrapper label[for="Shopping For"] {
    font-size: 10px;
    width: 40%;
  }
}

.ss18-launch__form-wrapper input[name="Email"] {
  display: inline-block;
  height: 40px;
  width: 50%;
  border: 1px solid #000;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}

.ss18-launch__form-wrapper input[type="radio"] {
  height: 15px;
  width: 15px;
  position: relative;
  top: -2px;
  margin-left: 25px;
}

.ss18-launch__form-wrapper .fieldset__right {
  width: 66.66667%;
  float: right;
  text-align: left;
  height: 40px;
  line-height: 40px;
}

.ss18-launch__form-wrapper .product-checkbox {
  display: none;
}

.ss18-launch__form-wrapper fieldset {
  margin-top: 10px;
}

.ss18-launch__form-wrapper fieldset:before, .ss18-launch__form-wrapper fieldset:after {
  content: '';
  display: table;
}

.ss18-launch__form-wrapper fieldset:after {
  clear: both;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper fieldset {
    margin-top: 30px;
  }
}

.ss18-launch__form-wrapper fieldset[name="Shopping For"] {
  /*label[for="someone-else"] {
		    width: 30%;
		}*/
}

.ss18-launch__form-wrapper fieldset[name="Shopping For"] input[type="radio"] {
  position: relative;
  top: 1px;
  height: 13px;
  width: 13px;
  margin-right: 2px;
}

.ss18-launch__form-wrapper fieldset[name="Shopping For"] label[for="myself"], .ss18-launch__form-wrapper fieldset[name="Shopping For"] label[for="someone-else"] {
  margin-right: 10px;
  /*@media only screen and (max-width: 989px) {
				width: 25%;
				font-size: 8px;
			}*/
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper fieldset[name="Shopping For"] .fieldset__right {
    width: 60%;
  }
}

.ss18-launch__form-wrapper .fieldset__opt-in {
  padding-left: 33.3333%;
  padding-right: 20%;
  width: 100%;
  margin-top: 0;
}

.ss18-launch__form-wrapper .fieldset__opt-in:before, .ss18-launch__form-wrapper .fieldset__opt-in:after {
  content: '';
  display: table;
}

.ss18-launch__form-wrapper .fieldset__opt-in:after {
  clear: both;
}

.ss18-launch__form-wrapper .fieldset__opt-in input {
  display: block;
  float: left;
  width: 5%;
  position: static;
  left: 0;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper .fieldset__opt-in input {
    width: 10px;
  }
}

.ss18-launch__form-wrapper .fieldset__opt-in label {
  float: right;
  width: 95%;
  position: relative;
  top: 3px;
  text-align: left;
  padding-left: 10px;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper .fieldset__opt-in label {
    width: calc(100% - 10px);
    font-size: 10px;
    padding-left: 10px;
    line-height: 14px;
  }
}

.ss18-launch__form-wrapper .fieldset__opt-in label::before {
  display: none;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper .fieldset__opt-in {
    padding-left: 40%;
    padding-right: 10%;
  }
}

.ss18-launch__form-wrapper input[type="submit"] {
  width: 250px;
  border-radius: 0;
  background-color: #000;
  border: 1px solid #000;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 20px auto 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  color: #FFF;
}

.ss18-launch__form-wrapper input[type="submit"]:hover {
  color: #000;
  background-color: #FFF;
}

.ss18-launch__form-wrapper .small-print {
  font-size: 10px;
}

.ss18-launch__form-wrapper #close-x {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.ss18-launch__form-wrapper #close-x:hover {
  cursor: pointer;
}

.ss18-launch__form-wrapper .error-message {
  color: pink;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ss18-launch__form-wrapper.errored input[name="Email"] {
  border: 1px solid #dc153d;
}

.ss18-launch__form-wrapper.errored .error-message {
  display: block;
  opacity: 1;
  color: #dc153d;
  width: 33.3333%;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 989px) {
  .ss18-launch__form-wrapper.errored .error-message {
    width: 100%;
    padding-left: 40%;
    text-align: center;
    font-size: 10px;
  }
}

.ss18-launch__open-form {
  cursor: pointer;
}

.ss18-launch__open-form:hover {
  text-decoration: underline;
}
