$textBackground: #FAC6B0;
$compacta: font;

$fontPath: "../fonts/";


// $fontPath: "https://www.agentprovocateur.com/media/custom_media/cache/ss19-landing/";

@font-face {
    font-family: 'HelveticaLTStd-BlkObl';
    src: url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.otf') format('opentype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.woff') format('woff'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.ttf') format('truetype'),
    url('#{$fontPath}hlvblkobl/HelveticaLTStd-BlkObl.svg#HelveticaLTStd-BlkObl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CompactaBT';
    src: url('#{$fontPath}CompactaBT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

    margin: 0;
}

.container {
    max-width: 100%;
    padding: 0;
}

.container .main-container {
    margin-top: 0;
}

.bts_container {
    font-family: Hevetica, Arial, San-serif;
    text-align: center;
    box-sizing: border-box;
}

.intro-image {
    position: relative;

    img {
        width: 100%;
        display: block;
    }



}

.campaignText {
    position: absolute;
    bottom: -2vw;
    right: 7vw;

    @media only screen and (max-width: 989px) {
        bottom: -3vw;

    }

    @media only screen and (max-width: 767px) {
        max-width: 258px;

    }

    img {
        width: 100%;
        max-width: 600px;

        @media only screen and (max-width: 989px) {
            max-width: 296px;
        }

        @media only screen and (max-width: 767px) {
            max-width: 224px;
        }
    }
}

.compact {
    font-family: CompactaBT;
}

.helv {
    font-family: HelveticaLTStd-BlkObl;

}

.bts_section:not(.mainVid) {
    background-color: $textBackground;
    padding-top: 6vw;
    padding-bottom: 4vw;
    text-align: center;

    @media only screen and (max-width: 767px) {
        padding-top: 45px;
        padding-bottom: 25px;
    }

    @media only screen and (min-width: 1921px) {

        padding-top: 92px;
        padding-bottom: 50px;
    }

    &.moves {
        margin-bottom: -15px;
    }

    .hCopy {
        // font-size: 3vw;
        // line-height: 4vw;

        font-size: 6.6vw;
        text-transform: uppercase;
        line-height: 6.6vw;
        margin-bottom: 21px;
        font-family: CompactaBT;
        letter-spacing: 0;

        @media only screen and (max-width: 989px) {
            margin-bottom: 17px;
            font-size: 66px;
            line-height: 61px;
            // padding-bottom: 21px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 60px;
            line-height: 60px;
            // padding-bottom: 21px;
        }

        @media only screen and (min-width: 1921px) {
            font-size: 90px;
            line-height: 90px;
        }
    }

    .bCopy {
        text-align: center;
        font-weight: 100;
        font-size: 1.05vw;
        line-height: 1.45vw;
        letter-spacing: 0.042vw;
        margin-bottom: 1vw;
        margin-top: 3vw;
        font-weight: lighter;
        max-width: 525px;
        width: 100%;

        @media screen and (max-width: 440px) {
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            // max-width: 816px;
            width: 90%;
            margin: 1.5vw auto;
        }

        @media screen and (min-width: 1440px) {
            width: 70%;
        }

        @media only screen and (max-width: 989px) {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.81px;
            max-width: 530px;
            margin-bottom: 17px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.81px;
            // padding-top: 25px;
            padding-left: 22px;
            padding-right: 22px;

            padding-bottom: 20px;
            // max-width: 330px;
            margin: 0 auto !important;
        }

        @media screen and (min-width: 1921px) {
            font-size: 20px;
            line-height: 28px;
            margin-top: 27px;
            margin-bottom: 20px;
        }
    }



    .ctaCopy {
        font-style: italic;
        font-size: 1.05vw;
        line-height: 1.05vw;
        letter-spacing: 0.085vw;
        text-align: center;
        display: inline-block;
        // margin-bottom: 1.8vw;
        ;

        a {

            text-decoration: none;
            color: #000000;
            font-weight: lighter;
            text-transform: capitalize;

            @media only screen and (min-width: 986px) {


                &:after {
                    content: '';
                    width: 0px;
                    height: 1px;
                    display: block;
                    margin: auto;
                    background: black;
                    transition: 250ms;
                }

                &:hover:after {
                    width: 100%;
                }
            }

        }

        @media only screen and (max-width: 989px) {
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 1.5px;
            text-decoration: underline;
            // margin-bottom: 22px;

        }

        @media only screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1px;
            // margin-bottom: 22px;

        }

        @media only screen and (min-width: 1921px) {
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 1.5px;
            // margin-bottom: 20px;

        }
    }

    &.socials {
        padding-top: 61px;

        @media only screen and (max-width: 989px) {
            padding-bottom: 35px;
            padding-top: 36px;
        }

        .hCopy {
            // font-size: 3vw;
            // line-height: 4vw;
            font-size: 30px;
            line-height: 30px;
            padding-bottom: 0;
            font-style: oblique;
            letter-spacing: 0.12px;
            font-family: HelveticaLTStd-BlkObl;
            margin-bottom: 0;

            @media only screen and (max-width: 989px) {
                font-size: 17px;
            }

            @media only screen and (max-width: 767px) {
                font-size: 20px;

            }
        }

        .bCopy {
            // font-size: 3vw;
            // line-height: 4vw;
            padding-top: 22px;
            margin: 0 auto;


            @media only screen and (max-width: 989px) {
                // font-size: 20px;
                padding-top: 10px;
            }

            @media only screen and (max-width: 767px) {
                // font-size: 20px;
                padding-top: 10px;
            }
        }

        .icons {
            padding-top: 20px;

            a {
                display: inline-block;
    margin: 0 10px;

                  img {
                // margin: 0 10px;
                // width: 100%;
                // max-width: 2vw;
                    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 22px;
    box-sizing: content-box;

                @media only screen and (max-width: 989px) {
                    max-width: 15px;
                    margin: 0 7px;

                }

                @media only screen and (max-width: 767px) {
                    max-width: 18px;
                    // padding: 0 10px;
                }

                @media only screen and (min-width: 1921px) {
                    max-width: 35px;
                }

                &.larger {
                    max-width: 3vw;

                    @media only screen and (max-width: 989px) {
                        max-width: 21px;

                    }

                    @media only screen and (max-width: 767px) {
                        max-width: 25px;

                    }

                    @media only screen and (min-width: 1921px) {
                        max-width: 49px;
                    }
                }
            }
            }

          
        }


    }
}

.parallax {
    background-image: url(https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-desktop.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 320px; */
    position: relative;
    background-position: bottom;
    cursor: pointer;

    @media only screen and (max-width: 1336px) {
        display: none;
        // height: 300px;
    }

    // @media only screen and (max-width: 767px) {

    //     height: 60vh;
    //     background-image: url(https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/new-in-endtile-BTS-mobile.jpg);
    //     background-position: bottom;
    //     background-color: white;
    //     background-size: contain;
    // }

    a.visi {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.outro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 144px;
    display: block;
    line-height: 150px;
    display: block;
    width: 100%;
    text-transform: uppercase;

    @media only screen and (min-width: 1921px) {
        font-size: 96px;
        // position: fixed;

    }

    @media only screen and (max-width: 767px) {
        bottom: 20%;
        font-size: 65px;
        line-height: 70px;
        top: 0;
    }

    a {
        color: white;
    }


}

.rm_parallax {
    display: none;
    position: relative;
    cursor: grab;

    .mobile {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;

        }
    }

    .desktop {
        display: block;

        @media screen and (max-width: 767px) {
            display: none;

        }
    }

    .inner-block {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        text-align: center;

        .link {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 96px;
            color: white;
            width: 100%;
            line-height: 100px;

            @media screen and (max-width: 986px) {
                font-size: 75px;
                line-height: 80px;

            }

            @media screen and (max-width: 767px) {
                font-size: 65px;
                line-height: 70px;

            }

            @media screen and (max-width: 420px) {
                font-size: 44px;
                line-height: 50px;

            }

        }
    }

    @media screen and (max-width: 1366px) {
        display: block;

    }

    // .ss19-cta {
    //     a {
    //         color: white !important;
    //         text-decoration: none;
    //     }

    //     font-size: 50px;
    //     text-decoration: underline;
    //     font-style: normal;
    //     margin: auto;
    // }
}

.main-vid-container{
    width: 100%;
    margin: auto;
    // padding: 7vw;
    padding: 9vw 0;
    box-sizing: border-box;
    max-width: 1470px;
}

.mainVid {
    background-image: url('https://www.agentprovocateur.com/media/custom_media/img/ss19/bts/blk-wht-dance-image.jpg');
       background-size: cover;
    text-align: center;
    /* background-position: 46%; */
    background-repeat: no-repeat;

    video.main-vid {
        width: 100%;
        // margin: auto;
        // padding: 7vw;
        // box-sizing: border-box;
        max-width: 60vw;

        @media only screen and (max-width: 989px) {
            max-width: 540px;
        }

        @media only screen and (max-width: 767px) {
            max-width: 330px;
        }

         @media only screen and (min-width: 1920px) {
            max-width: 1202px;
        }
    }
}

.half {
    width: 49%;
    /* height: auto; */
    position: relative;
    /* padding-bottom: 56.25%; */
    /* height: 0; */
    overflow: hidden;
    max-width: 50%;
    /* height: 304px; */
    float: left;
    display: inline-block;
    clear: right;
}

.half img {
    width: 100%;
    max-height: 516px;
}

.half iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 397px;
    border: none;
}

.moves_container {

    /*        height: 0;
*/
    overflow: hidden;
    /*        max-width: 980px;
*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: stretch;
}

.header {
    font-size: 3vw;
    text-align: center;
    line-height: 3.5vw;
    font-weight: bold;

}

.header-desc {
    font-size: 24px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
}

.vid-container {
    padding-top: 2vw !important;
    padding-bottom: 0 !important;
}


.vidBlock-one {
    max-width: 100%;
    width: 100% !important;
    height: 100%;
    display: inline-block;
    /* box-sizing: content-box; */
}

.vidBlock-two {
    max-width: 100%;
    width: 50% !important;
    /*        height: 100%;
*/
    display: inline-block;
    /* box-sizing: content-box; */
    float: left;

    @media only screen and (max-width: 767px) {
        width: 100% !important;

    }
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}


.row.breadcrumbs {
    display: none !important;
}

.only-mobile {
    display: none;

    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.category-top {
    display: none;
}