<link rel="stylesheet" type="text/css" href="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-styles-v1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="legal-page-container">
    <div class="row header-block">
        <div class="page-title" style="color: #FFE7DE;">Legal</div>
    </div>
    <div class="legal-main-content">
        <div class="row">
            <div class="col-xs-3 hub-links">
<!--                {{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="12403"}}
 -->               <section class="links">
                    <div>
                        <ul>
                            <li><a href="{{store direct_url='terms-and-conditions'}}">Terms and Conditions</a></li>
                            <li> <a href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></li>
                            <li><a href="{{store direct_url='cookie-policy'}}">Cookie Policy</a></li>
                        </ul>
                    </div>
                </section> 
            </div>
            <div class="col-xs-9">
                <h1>Cookies</h1>
                <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                <div class="cs-page-anchors">
                    <ul>
                        <li><a href="#cookies-explained">Cookies explained</a></li>
                        <li><a href="#guide-to-cookies">A full guide to our cookies and their purposes</a></li>
                        <li> <a href="#how-to-manage">How to manage your cookies</a></li>
                    </ul>
                </div>
                <div style="background-color: #000000; height: 1px; width: 100%;"></div>
                <div class="main-blocks">
                    <div class="section" id="cookies-explained">
                        <p class="title">Cookies explained</p>
                        <p> A cookie is simply a very small file of letters or numbers, stored on your computer, mobile or other device. They help track use of the website, and personalise your shopping experience. When you return to a site, the settings and information from your last visit are ‘remembered’ – like items in your shopping bag, or automatic account log-in.</p>
                        <p>Cookies are safe to store on your computer. Most web browsers have cookie storage enabled as a default setting, but all browsers offer you the option to disable this if you prefer. If you choose to disable some or all cookies, you might not be able to make full use of our website. For example, you may not be able to add items to your shopping basket, proceed to checkout, or use any of our products and services that require you to sign in.</p>
                        <p>As our valued customer, it’s important to us as your trusted retailer that you’re fully aware of the use of cookies on the website. In adherence to European Union legislations, we’re clear about how we use cookies to enhance your shopping experience.</p>
                        <p>We carefully select third party suppliers to make your use of the site, and shopping experience, the best it can be. Both Agent Provocateur and our chosen partners place cookies onto your computer for use on our website. The data these cookies collect is mostly aggregated information which remains anonymous. We never use cookies to collect or record information such as your name, address or payment details. </p>
                    </div>
                    <div class="section" id="guide-to-cookies">
                        <p class="title">A full guide to our cookies and their purposes</p>
                        <p class="sub-title">Site functionality cookies
                        </p>
                        <p>These cookies are essential to the proper functioning of our website and enable you to use its features, such as access to secure areas of the site. Without these cookies, you won’t be able to purchase the products you are looking at. These are temporary cookie files, which are erased when you close your browser. When you restart your browser and return to the AP site, the site will not recognise you. You’ll need to log back in to your AP account or choose products again. A new session cookie will be generated, which will store your browsing information and will be active until you leave the site and close your browser.</p>
                        <p>New Relic
                            <br /> New Relic is a dashboard used to keep an eye on application health and availability while monitoring real user experience.</p>
                        <p>Ve Interactive
                            <br /> Ve Interactive is a data-driven solutions provider for shopping cart merchants.</p>
                        <p>Qubit Deliver
                            <br /> Qubit Deliver lets you A/B test and deliver personalized content to specific groups of visitors to improve the online experience and drive conversions.
                        </p>
                        <p>Pingdom RUM
                            <br /> Real User Monitoring gives insight into performance for actual users visiting the website.</p>
                        <p class="sub-title">Site analytics cookies</p>
                        <p>These cookies allow us to measure and analyse how our customers use the site, to improve both its functionality and your shopping experience. The data stored by these cookies never shows personal details from which your individual identity can be established.</p>
                        <p>Google Analytics
                            <br /> Google Universal Analytics Google Analytics Enhanced Ecommerce Google Analytics offers a host of compelling features and benefits for everyone from senior executives and advertising and marketing professionals to site owners and content developers.</p>
                        <p>Omniture SiteCatalyst
                            <br /> Omniture SiteCatalyst⌐ provides your website with actionable, real-time intelligence regarding online strategies and marketing initiatives.
                        </p>
                        <p>Adobe Marketing Cloud Site analytics
                            <br /> A complete set of marketing solutions from Adobe.</p>
                        <p>Adobe Dynamic Tag Management
                            <br /> Satellite puts an end to tag and technology management, letting marketers and analysts manage their tools. Previously known as Search Discovery Satellite now Adobe DTM.
                        </p>
                        <p>Satellite
                            <br /> Satellite is a tag management system to manage and track your websites.
                        </p>
                        <p>Hotjar
                            <br /> A heatmap, survey, feedback and funnel application.
                        </p>
                        <p class="sub-title">Customer preference cookies</p>
                        <p>These cookies are used to remember your passwords and login information, so you don’t need to re-enter them every time you visit the site. They will also remember items in your shopping bag for next time. These files stay in one of your browser’s subfolders until you delete them manually, or your browser deletes them based on the duration period contained within the cookie’s file (by law, this can’t be longer than 6 months. AP sets a cookie’s lifetime to 30 days). These cookies persist even when a browser is closed. </p>
                        <p>Nosto
                            <br /> Nosto enables online retailers to deliver their customers a personalized shopping experience.
                        </p>
                        <p>Qubit Deliver
                            <br /> Qubit Deliver lets you A/B test and deliver personalized content to specific groups of visitors to improve the online experience and drive conversions.</p>
                        <p>Silverpop
                            <br /> Marketing automation tool for eCommerce.
                        </p>
                        <p>Facebook
                            <br /> Custom Audiences from your website makes it possible to reach people who visit your website and deliver the right message to them on Facebook.
                        </p>
                        <p class="sub-title">Targeting or advertising cookies</p>
                        <p>These cookies are installed by third party websites separate to AP, such as advertisers. They gather data about your browsing habits, and allow them to track you across multiple websites. This information is used to deliver ads deemed relevant to you, limit the number of times a specific ad is served, or to help AP to measure the effectiveness of our marketing campaigns. </p>
                        <p>MediaMath
                            <br /> Tools that enable and empower marketing professionals.
                        </p>
                        <p>Rapleaf
                            <br /> Marketing automation tools with the necessary data to help brands keep their customers engaged.
                        </p>
                        <p>LiveRamp Targeting
                            <br /> CRM Retargeting & Data Onboarding app.
                        </p>
                        <p>Facebook Signal
                            <br /> Journalists use Signal to surface relevant trends, photos, videos and posts from Facebook and Instagram for use in their storytelling and reporting.
                        </p>
                        <p>DoubleClick.Net
                            <br /> DoubleClick enables agencies, marketers and publishers to work together successfully and profit from their digital marketing investments.
                        </p>
                        <p>DemDex
                            <br /> Demdex's turn-key audience management solutions make implementing a dynamic, multi-channel data strategy cost-effective and easy. Now known as Adobe Audience Manager.
                        </p>
                        <p>Facebook Custom Audiences
                            <br /> Custom Audiences from your website makes it possible to reach people who visit your website and deliver the right message to them on Facebook.
                        </p>
                        <p>Link Share
                            <br /> Provides e-commerce referal based incentives for websites. Owned by Rakuten.
                        </p>
                        <p>The Trade Desk
                            <br /> Data-driven marketing suite that offers marketers a single place to buy all forms of online media.
                        </p>
                        <p>Sharing our pages
                            <br /> If you ‘share’ content with friends through social networks such as Facebook, Twitter, Google+, Pinterest and Instagram, you may have cookies from these websites stored on your computer. We don't control the setting of these cookies, so we suggest you check the third-party websites for more information on how to manage them. You can find more information on social network policies on privacy and cookies by clicking the links above.
                        </p>
                    </div>
                    <div class="section" id="how-to-manage">
                        <p class="title">How to manage your cookies</p>
                        <p>You can enable or disable cookies by changing your website browser settings to accept or reject cookies as required. How to do this will depend on your browser. We have provided further information below on how to check which browser you use, and how to manage cookies. As mentioned above, please bear in mind that if cookies aren’t enabled on your computer, your activities will be restricted to browsing this website – and you won’t be able to add products to your shopping bag and buy them.</p>
                        <p>First, establish which internet browser is set to default use on your machine (or which browser you use most often). To find out what it is, simply open the internet as usual and follow the steps below: PC Users
                            <br /> On the toolbar at the top of your browser, click ‘Help.’ Choose the ‘About’ option from the drop-down menu. This will tell you the browser type and version. Mac users
                            <br /> Click on the Apple icon in the top left corner of your browser and choose the 'About' option. This will tell you the browser type and version. Once you know the browser you’re using, the below guides for each browser will help you find the cookie settings.
                        </p>
                        <p>Internet Explorer
                            <br /> Click on the ‘Tools’ tab in the menu area of your browser. Select the ‘Internet Options’ option. This should open a pop-up box with lots of tabbed options. Select the ‘Privacy’ tab. Internet Explorer has a high, medium, or low auto-adjust system for internet content handling. You can configure your own settings by clicking the ‘Advanced’ tab, and ticking ‘Override automatic cookie handling’. Settings above medium will disable cookies; medium or below will enable cookies.</p>
                        <p>Mozilla Firefox
                            <br /> Click on the 'Tools' tab on the menu area of your browser. Select the ‘Options’ option. This should open a pop-up window with tabs along the top. Select ‘Privacy’. You should now see options for ‘Tracking’ and ‘History’. Under the ‘History’ drop down menu, select ‘Use customer settings for history’ to adjust your cookie settings.
                        </p>
                        <p>Google Chrome
                            <br /> Click on the spanner icon in your browser. Select the ‘Settings’ option. This should open a box with tabs along the left hand side. Select the ‘Under the Hood’ tab. When this page is loaded, select a tab you’ll see at the top called ‘Content Settings’. This brings up your content controls including cookie permissions.
                        </p>
                        <p>Safari
                            <br /> Click on the cog icon at the top of your browser. Select the ‘Preferences’ option. This should open a pop up window with several tabs along the top. From this list select ‘Privacy’. This will open the tab page that allows you to control the cookie settings.</p>
                        <p>Opera
                            <br /> Click the Opera file icon in the top left hand corner of your browser. From the drop-down list of options, highlight ‘Settings’, and then scroll across and select ‘Preferences’. This should open a pop up window with tabs along the top. Select ‘Advanced’. From the advanced options, from the left hand side select ‘Cookies’. This presents the cookie options for your use on this browser.
                        </p>
                        <p>If you have another browser... Please check the help settings within your browser, or use a search engine to find answers on the best way to enable or disable cookies in your chosen browser. Please remember we are not responsible for the content on external websites. If you’re not happy with the way we use cookies, you can delete Agent Provocateur cookies after a visit to our site. Alternatively, browse the site using your browser’s anonymous usage setting (called ‘Incognito’ in Chrome, ‘InPrivate’ in Internet Explorer, ‘Private Browsing’ in Firefox and Safari etc).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

    </style>
    <script type="text/javascript" src="https://www.agentprovocateur.com/media/custom_media/cache/customer_service/cs-pages-v1.js"></script>