<!--  Side bar links for all legal hub pages
      This sits in a separate block and only need to be updaed once for all pages
      CSS sits in main cs-styles file on server

 -->

<section class="links">
  <div>
        <ul>
          <li><a href="{{store direct_url='terms-and-conditions'}}">Terms and Conditions</a></li>
          <li> <a href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></li>
          <li><a href="{{store direct_url='cookie-policy'}}">Cookie Policy</a></li>
        </ul>
      </div>
</section>